
.lp-header{
	align-items:center;
	display:flex;
	padding:14px 20px 14px 12px
}
.lp-header span{
	color:var(--text-color-higher);
	flex:1 1 auto;
	font:var(--text-h2);
	overflow:hidden;
	padding:3px 0;
	text-overflow:ellipsis
}
.lp-myfiles{
	background:var(--surface-grey-2);
	display:flex;
	flex-direction:column;
	height:100%
}
.lp-myfiles .content-area{
	border-top:2px solid transparent;
	box-sizing:border-box;
	flex-grow:1;
	overflow:hidden;
	position:relative;
	transition:border-top .25s ease-in-out
}
.lp-myfiles .content-area.ps-active-y:hover{
	border-top:2px solid var(--stroke-main)
}
.lp-myfiles .section-title{
	color:var(--text-color-medium);
	display:inline-block;
	font:var(--text-body2);
	height:18px;
	letter-spacing:0;
	margin-bottom:4px;
	opacity:.7
}
.lp-myfiles .cloud-drive-panel{
	padding:4px 8px 0
}
.lp-myfiles .ps-active-y .cloud-drive-panel{
	-webkit-padding-end:16px;
	padding-inline-end:16px
}
.lp-myfiles .content-panel.cloud-drive.collapse{
	height:0;
	transition:height .25s ease-in
}
.lp-myfiles .btn-myfiles i.icon-arrow-down{
	--icon-size:20px;
	left:4px;
	margin-top:6px;
	position:absolute
}
.rtl .lp-myfiles .btn-myfiles i.icon-arrow-down{
	left:auto;
	right:4px
}
.lp-myfiles .btn-myfiles.collapse i.icon-arrow-down{
	transform:rotate(270deg)
}
.rtl .lp-myfiles .btn-myfiles.collapse i.icon-arrow-down{
	transform:rotate(90deg)
}
.lp-myfiles .shared-panel{
	margin:8px 8px 16px
}
.lp-myfiles .storage-usage-panel{
	border-top:2px solid var(--stroke-main);
	display:flex;
	flex-direction:column;
	padding:12px
}
.lp-myfiles .storage-usage-panel.hidden{
	display:none
}
.lp-myfiles .storage-usage-panel .title-block{
	display:flex;
	justify-content:space-between;
	margin-bottom:6px
}
.lp-myfiles .storage-usage-panel .title-block .plan{
	color:var(--surface-main-inverted);
	font:var(--text-body2);
	line-height:18px;
	margin-right:16px;
	white-space:nowrap
}
.lp-myfiles .storage-usage-panel .storage-graph{
	background-color:rgba(0, 0, 0, .2);
	border-radius:8px;
	height:6px;
	margin-bottom:8px;
	overflow:hidden;
	position:relative
}
.lp-myfiles .storage-usage-panel .storage-graph span{
	background:var(--surface-dark-grey);
	border-radius:8px 0 0 8px;
	height:6px;
	position:absolute
}
.lp-myfiles .storage-usage-panel.warning .storage-graph span{
	background:var(--secondary-orange)
}
.lp-myfiles .storage-usage-panel.over .storage-graph span{
	background:var(--secondary-red)
}
.storage-usage-panel .info{
	font:var(--text-body2);
	position:relative
}
.storage-usage-panel .loader.loading{
	animation:rotate 2.5s linear infinite;
	opacity:1
}
.storage-usage-panel .loader{
	background-position:-6px -350px;
	height:12px;
	opacity:0;
	position:absolute;
	width:12px
}
.storage-usage-panel .storage-txt{
	color:var(--surface-main-inverted)
}
.storage-usage-panel .loader.loading+.storage-txt{
	visibility:hidden
}
.storage-usage-panel .storage-txt .lp-sq-used{
	color:var(--text-color-success)
}
.storage-usage-panel.warning .storage-txt .lp-sq-used{
	color:var(--text-color-warning)
}
.storage-usage-panel.over .storage-txt .lp-sq-used{
	color:var(--text-color-error)
}
.fm-tree-panel li{
	margin:1px 0
}
.nw-fm-tree-item.selected{
	background-color:var(--surface-grey-1);
	border-radius:4px;
	color:var(--surface-main-inverted)
}
.nw-fm-tree-item.hovered,.nw-fm-tree-item:hover{
	background-color:var(--surface-grey-1);
	border-radius:4px;
	cursor:pointer
}
.nw-fm-tree-item.dragover .nw-fm-tree-folder,.nw-fm-tree-item:hover .nw-fm-tree-folder{
	color:var(--surface-link-inverted)
}
.nw-fm-tree-item.selected .nw-fm-tree-arrow,.nw-fm-tree-item.selected .nw-fm-tree-folder{
	--mask-color:var(--surface-main-inverted);
	color:var(--surface-main-inverted)
}
.nw-fm-tree-item .sprite-fm-mono{
	--mask-color:var(--icon-rest)
}
.nw-fm-tree-item .nw-fm-tree-arrow{
	--mask-color:var(--icon-rest);
	-webkit-margin-start:24px;
	display:none;
	margin-inline-start:24px;
	position:absolute;
	top:8px
}
.nw-fm-tree-item.contains-folders .nw-fm-tree-arrow{
	display:block
}
.nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow{
	background-image:none;
	transform:rotate(90deg)
}
.rtl .nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow{
	transform:rotate(270deg)
}
.fontsize1 .nw-fm-tree-folder{
	font:var(--text-body1);
	line-height:24px
}
.nw-fm-tree-item .file-status-ico{
	display:none
}
.tree-item-dragger{
	display:flex
}
.tree-item-dragger .nw-fm-tree-folder{
	-webkit-margin-start:24px;
	margin:0;
	margin-inline-start:24px
}
.tree-item-dragger span.sprite-fm-mono{
	background-color:var(--surface-grey-2)
}
.tree-item-dragger span.item-name{
	-webkit-margin-start:5px;
	line-height:24px;
	margin-inline-start:5px;
	max-width:160px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.nw-fm-tree-item.linked .file-status-ico{
	--mask-color:var(--icon-rest);
	display:inline;
	position:absolute;
	right:4px;
	top:4px;
	z-index:98
}
.rtl .nw-fm-tree-item.linked .file-status-ico{
	left:4px;
	right:auto
}
.nw-fm-tree-item .sprite-fm-mono.icon-takedown{
	background-color:var(--secondary-red);
	display:inline;
	position:absolute;
	right:4px;
	top:4px;
	z-index:98
}
.rtl .nw-fm-tree-item .sprite-fm-mono.icon-takedown{
	left:4px;
	right:auto
}
.nw-fm-tree-item .sprite-fm-mono.icon-info{
	background-color:var(--secondary-orange);
	display:inline;
	position:absolute;
	right:4px;
	top:4px;
	z-index:98
}
.nw-fm-tree-folder{
	width:auto
}
.file-status-ico:before,.nw-fm-tree-arrow:before,.nw-fm-tree-folder:before{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	--icon-size:24px;
	color:var(--mask-color);
	display:inline-block;
	font-family:fm-mono !important;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	line-height:1;
	text-rendering:auto;
	vertical-align:top
}
.nw-fm-tree-folder:before{
	left:0;
	position:absolute
}
.rtl .nw-fm-tree-folder:before{
	left:auto;
	right:0
}
.nw-fm-tree-arrow,.nw-fm-tree-arrow:before{
	height:16px;
	width:16px
}
.nw-fm-tree-arrow:before{
	font-size:16px
}
.rtl .nw-fm-tree-arrow:before{
	transform:rotate(180deg)
}
