.cookie-dialog{
	display:flex;
	margin:0 !important;
	max-height:calc(100% - 30px);
	max-width:596px;
	text-align:center;
	width:calc(100% - 30px);
	z-index:9999 !important
}
.mobile .mega-dialog.cookie-dialog{
	max-width:596px;
	overflow:visible
}
.cookie-dialog .content-block{
	border-radius:var(--border-radius);
	display:none;
	flex-direction:column;
	font-size:0;
	min-height:0;
	width:100%
}
.cookie-dialog .content-block.active{
	display:flex
}
.cookie-dialog .scrollable-block{
	-webkit-overflow-scrolling:touch;
	overflow:auto;
	padding:0 24px;
	position:relative
}
.cookie-dialog .bottom-buttons{
	background:var(--surface-grey-1);
	border-bottom-left-radius:var(--border-radius);
	border-bottom-right-radius:var(--border-radius);
	height:60px;
	padding:12px 18px;
	position:relative
}
.rtl .cookie-dialog .bottom-buttons .right{
	float:left
}
.rtl .cookie-dialog .bottom-buttons .left{
	float:right
}
.cookie-dialog .bottom-buttons button{
	-webkit-margin-start:8px;
	margin-inline-start:8px
}
.cookie-dialog .scrollable-block.big-pad{
	padding:62px 50px
}
.cookie-dialog .cookie-icon{
	height:120px;
	margin:0 auto;
	width:120px
}
.cookie-dialog .header{
	color:var(--text-color-high);
	font:var(--text-h2);
	padding:24px 0 0
}
.cookie-dialog .common-info{
	color:var(--text-color-medium);
	font:var(--text-body1);
	padding:30px 0 0
}
.cookie-dialog a.green,.cookie-dialog a.green:visited{
	color:var(--text-color-success);
	overflow-wrap:break-word
}
.cookie-dialog .header.medium{
	font:var(--text-h3);
	padding:28px 0
}
.cookie-dialog .settings-tip{
	color:var(--text-color-low);
	display:none;
	font-size:13px;
	line-height:20px;
	margin:-22px auto 10px;
	max-width:478px;
	padding:0 24px
}
.cookie-dialog .settings{
	border-collapse:collapse;
	display:table;
	width:100%
}
.cookie-dialog .settings-row{
	border-bottom:1px solid var(--stroke-grey-2);
	display:table-row
}
.cookie-dialog .settings-row:last-child{
	border:0
}
.cookie-dialog .settings-cell{
	display:table-cell;
	line-height:0;
	padding:12px 0
}
.cookie-dialog .settings-cell:first-child{
	text-align:start;
	vertical-align:bottom
}
.cookie-dialog .settings-cell.saved{
	background:var(--surface-grey-2);
	display:none
}
.cookie-dialog .settings-header{
	color:var(--text-color-high);
	font-family:var(--text-font-family-semibold);
	font-size:15px;
	line-height:22px
}
.cookie-dialog .settings-text{
	padding:10px 0 0
}
.cookie-dialog .settings-cell a,.cookie-dialog .settings-text{
	color:var(--text-color-low);
	font-size:14px;
	line-height:22px
}
.cookie-dialog .settings-cell a{
	display:inline-block;
	margin:4px 0;
	text-decoration:underline
}
.cookie-dialog .settings-cell a:visited{
	color:var(--text-color-low)
}
.cookie-dialog .toggle-header{
	color:var(--text-color-high);
	display:none;
	font-family:var(--text-font-family-semibold);
	font-size:14px;
	line-height:17px;
	min-width:82px;
	padding:2px 10px 10px
}
.cookie-dialog .mega-switch,.rtl .cookie-dialog .mega-switch{
	float:none
}
.cookie-dialog .mega-switch.disabled{
	cursor:default;
	opacity:.5
}
.cookie-dialog .settings-links{
	margin:10px 0 48px
}
.cookie-dialog a.settings-link{
	-webkit-margin-end:25px;
	font-family:var(--text-font-family-semibold);
	margin-inline-end:25px;
	margin-top:10px
}
.cookie-dialog a.settings-link,.cookie-dialog a.settings-link:visited{
	color:var(--text-color-medium)
}
.cookie-dialog a.settings-link:active,.cookie-dialog a.settings-link:visited{
	margin-right:25px
}
.cookie-dialog a.settings-link:last-child{
	-webkit-margin-end:0;
	margin-inline-end:0
}
.cookie-dialog .tabs{
	display:none;
	padding:5px 0 0;
	white-space:nowrap
}
.cookie-dialog .settings-tab{
	background:var(--surface-grey-1);
	color:var(--text-color-medium);
	display:inline-block;
	font-size:14px;
	height:44px;
	line-height:44px;
	vertical-align:top;
	width:50%
}
.cookie-dialog .settings-tab.active{
	border-bottom:2px solid var(--stroke-success);
	color:var(--text-color-success);
	font-family:var(--text-font-family-semibold)
}
.active-saved-cookies .settings-tip,.active-saved-cookies .toggle-header{
	display:block
}
.active-saved-cookies .settings-cell.saved{
	display:table-cell
}
.active-saved-cookies .settings-cell.hidden{
	display:none
}
.cookie-dialog .info-block{
	color:var(--text-color-low);
	font-size:14px;
	line-height:22px;
	padding:0 0 52px;
	text-align:start
}
.cookie-dialog .header.small{
	font-size:15px;
	padding:0 0 4px
}
.cookie-dialog .info-block .category{
	color:var(--text-color-medium);
	padding:0 0 7px
}
.cookie-dialog .info-block ul{
	list-style:none;
	margin:0;
	padding:0
}
.cookie-dialog .info-block li:before{
	-webkit-margin-end:4px;
	content:"\2022";
	display:inline-block;
	margin-inline-end:4px;
	vertical-align:top
}
.mobile .cookie-dialog .scrollable-block.big-pad{
	padding:40px 30px 20px
}
.mobile .cookie-dialog .scrollable-block{
	padding:0 20px
}
.mobile .cookie-dialog .settings-links{
	margin-bottom:0
}
.mobile .cookie-dialog .toggle-header{
	display:none
}
.mobile .cookie-dialog .settings-cell.saved{
	background-color:initial
}
.mobile .active-saved-cookies .tabs{
	display:block
}
.mobile .cookie-dialog .info-block{
	padding:10px 0 28px
}
.mobile .cookie-dialog .bottom-buttons.pad{
	padding-bottom:30px
}
.mobile .cookie-dialog .bottom-buttons{
	background-color:initial;
	box-shadow:none;
	height:auto;
	padding:26px 16px 12px
}
.mobile .cookie-dialog .bottom-buttons .mega-button{
	margin-bottom:8px;
	width:100%
}
.mobile .cookie-dialog .bottom-buttons .mega-button.positive{
	background:linear-gradient(180deg, #07beb1,#00bfa5);
	box-shadow:0 1px 1px 0 rgba(0, 0, 0, .11),inset 0 2px 1px 0 hsla(0, 0%, 100%, .2)
}
.mobile .cookie-dialog .bottom-buttons .mega-button.m-lnk{
	background:none;
	box-shadow:none;
	color:#818993;
	font-size:12px;
	text-decoration:underline
}
.mobile .cookie-dialog .bottom-buttons .mega-button.m-lnk:before{
	display:none
}
@media only screen and (max-width:625px),screen and (max-height:625px){
.cookie-dialog .header,.cookie-dialog .header.medium{
	font-family:var(--text-font-family-semibold);
	font-size:17px
}
.cookie-dialog .common-info{
	font-size:14px;
	padding:15px 0 0
}
.cookie-dialog .header.medium{
	padding:18px 0
}
.cookie-dialog .settings-tip{
	margin-top:-14px
}
.cookie-dialog .settings-header{
	color:var(--text-color-high);
	font-size:14px
}
.cookie-dialog .settings-row:first-child .settings-cell{
	padding:12px 0
}
.cookie-dialog .settings-text{
	color:var(--text-color-medium);
	font-size:13px;
	line-height:16px;
	padding:7px 0 0
}
.cookie-dialog .settings-cell a{
	font-size:13px;
	line-height:17px
}
.cookie-dialog .info-block{
	font-size:12px;
	line-height:18px;
	padding:10px 0 52px;
	text-align:center
}
.cookie-dialog .header.small{
	font-size:14px;
	padding:0 0 5px
}
.cookie-dialog .info-block .category{
	color:var(--text-color-high);
	font-size:13px;
	padding:0 0 16px
}
}
@media (hover:hover){
.cookie-dialog a:hover{
	text-decoration:none
}
}
