.sprite-fm-illustration,.sprite-fm-illustration-after:after,.sprite-fm-illustration-before:before{

	--num-of-illustration:41;
	background:url(../imagery/sprites-fm-illustration-sprite.ed13fd2d2ab2de7c.svg) no-repeat;
	background-size:calc(100%*var(--num-of-illustration)) auto;
	content:"";
	display:block;
	height:200px;
	width:200px
}
.sprite-fm-illustration.img-topbar-email-registration,.sprite-fm-illustration.img-topbar-email-registration-after:after,.sprite-fm-illustration.img-topbar-email-registration-before:before{
	background-position:0 0
}
.sprite-fm-illustration.img-transferpage-empty-transfer,.sprite-fm-illustration.img-transferpage-empty-transfer-after:after,.sprite-fm-illustration.img-transferpage-empty-transfer-before:before{
	background-position:calc(100%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-business-contacts,.sprite-fm-illustration.img-dialog-business-contacts-after:after,.sprite-fm-illustration.img-dialog-business-contacts-before:before{
	background-position:calc(200%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-contacts,.sprite-fm-illustration.img-dialog-contacts-after:after,.sprite-fm-illustration.img-dialog-contacts-before:before{
	background-position:calc(300%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-decryption-key,.sprite-fm-illustration.img-dialog-decryption-key-after:after,.sprite-fm-illustration.img-dialog-decryption-key-before:before{
	background-position:calc(400%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-meetings-e2ee,.sprite-fm-illustration.img-meetings-e2ee-after:after,.sprite-fm-illustration.img-meetings-e2ee-before:before{
	background-position:calc(500%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-transferpage-transfer,.sprite-fm-illustration.img-transferpage-transfer-after:after,.sprite-fm-illustration.img-transferpage-transfer-before:before{
	background-position:calc(600%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialogs-achievements,.sprite-fm-illustration.img-dialogs-achievements-after:after,.sprite-fm-illustration.img-dialogs-achievements-before:before{
	background-position:calc(700%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-achievements-bonus,.sprite-fm-illustration.img-achievements-bonus-after:after,.sprite-fm-illustration.img-achievements-bonus-before:before{
	background-position:calc(800%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-achievements-desktop-app,.sprite-fm-illustration.img-achievements-desktop-app-after:after,.sprite-fm-illustration.img-achievements-desktop-app-before:before{
	background-position:calc(900%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-email,.sprite-fm-illustration.img-dialog-email-after:after,.sprite-fm-illustration.img-dialog-email-before:before{
	background-position:calc(1000%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-groupchat,.sprite-fm-illustration.img-dialog-groupchat-after:after,.sprite-fm-illustration.img-dialog-groupchat-before:before{
	background-position:calc(1100%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-achievements-invite-users,.sprite-fm-illustration.img-achievements-invite-users-after:after,.sprite-fm-illustration.img-achievements-invite-users-before:before{
	background-position:calc(1200%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-achievements-mobile-app,.sprite-fm-illustration.img-achievements-mobile-app-after:after,.sprite-fm-illustration.img-achievements-mobile-app-before:before{
	background-position:calc(1300%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-achievements-sms-verification,.sprite-fm-illustration.img-achievements-sms-verification-after:after,.sprite-fm-illustration.img-achievements-sms-verification-before:before{
	background-position:calc(1400%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-backup-phone,.sprite-fm-illustration.img-dialog-backup-phone-after:after,.sprite-fm-illustration.img-dialog-backup-phone-before:before{
	background-position:calc(1500%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-upgrade,.sprite-fm-illustration.img-dialog-upgrade-after:after,.sprite-fm-illustration.img-dialog-upgrade-before:before{
	background-position:calc(1600%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-overquota-storage,.sprite-fm-illustration.img-dialog-overquota-storage-after:after,.sprite-fm-illustration.img-dialog-overquota-storage-before:before{
	background-position:calc(1700%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-transfer-full,.sprite-fm-illustration.img-dialog-transfer-full-after:after,.sprite-fm-illustration.img-dialog-transfer-full-before:before{
	background-position:calc(1800%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-account-lock,.sprite-fm-illustration.img-dialog-account-lock-after:after,.sprite-fm-illustration.img-dialog-account-lock-before:before{
	background-position:calc(1900%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-account-recovery,.sprite-fm-illustration.img-dialog-account-recovery-after:after,.sprite-fm-illustration.img-dialog-account-recovery-before:before{
	background-position:calc(2000%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-mobile-success,.sprite-fm-illustration.img-dialog-mobile-success-after:after,.sprite-fm-illustration.img-dialog-mobile-success-before:before{
	background-position:calc(2100%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-sms-verification,.sprite-fm-illustration.img-dialog-sms-verification-after:after,.sprite-fm-illustration.img-dialog-sms-verification-before:before{
	background-position:calc(2200%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-business-expiry,.sprite-fm-illustration.img-dialog-business-expiry-after:after,.sprite-fm-illustration.img-dialog-business-expiry-before:before{
	background-position:calc(2300%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-coin,.sprite-fm-illustration.img-dialog-coin-after:after,.sprite-fm-illustration.img-dialog-coin-before:before{
	background-position:calc(2400%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-cookie,.sprite-fm-illustration.img-dialog-cookie-after:after,.sprite-fm-illustration.img-dialog-cookie-before:before{
	background-position:calc(2500%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-copyright,.sprite-fm-illustration.img-dialog-copyright-after:after,.sprite-fm-illustration.img-dialog-copyright-before:before{
	background-position:calc(2600%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-login,.sprite-fm-illustration.img-dialog-login-after:after,.sprite-fm-illustration.img-dialog-login-before:before{
	background-position:calc(2700%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-safe,.sprite-fm-illustration.img-dialog-safe-after:after,.sprite-fm-illustration.img-dialog-safe-before:before{
	background-position:calc(2800%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-printer,.sprite-fm-illustration.img-dialog-printer-after:after,.sprite-fm-illustration.img-dialog-printer-before:before{
	background-position:calc(2900%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-pw-manager,.sprite-fm-illustration.img-dialog-pw-manager-after:after,.sprite-fm-illustration.img-dialog-pw-manager-before:before{
	background-position:calc(3000%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-usb,.sprite-fm-illustration.img-dialog-usb-after:after,.sprite-fm-illustration.img-dialog-usb-before:before{
	background-position:calc(3100%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-payment,.sprite-fm-illustration.img-dialog-payment-after:after,.sprite-fm-illustration.img-dialog-payment-before:before{
	background-position:calc(3200%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-voucher,.sprite-fm-illustration.img-dialog-voucher-after:after,.sprite-fm-illustration.img-dialog-voucher-before:before{
	background-position:calc(3300%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-chat-url-preview,.sprite-fm-illustration.img-chat-url-preview-after:after,.sprite-fm-illustration.img-chat-url-preview-before:before{
	background-position:calc(3400%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-dialog-account-setting,.sprite-fm-illustration.img-dialog-account-setting-after:after,.sprite-fm-illustration.img-dialog-account-setting-before:before{
	background-position:calc(3500%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-passowrd-reset-unlock-account,.sprite-fm-illustration.img-passowrd-reset-unlock-account-after:after,.sprite-fm-illustration.img-passowrd-reset-unlock-account-before:before{
	background-position:calc(3600%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-password-reset-recovery-key,.sprite-fm-illustration.img-password-reset-recovery-key-after:after,.sprite-fm-illustration.img-password-reset-recovery-key-before:before{
	background-position:calc(3700%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-password-recovery-device1,.sprite-fm-illustration.img-password-recovery-device1-after:after,.sprite-fm-illustration.img-password-recovery-device1-before:before{
	background-position:calc(3800%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-password-recovery-device2,.sprite-fm-illustration.img-password-recovery-device2-after:after,.sprite-fm-illustration.img-password-recovery-device2-before:before{
	background-position:calc(3900%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration.img-password-recovery-device3,.sprite-fm-illustration.img-password-recovery-device3-after:after,.sprite-fm-illustration.img-password-recovery-device3-before:before{
	background-position:calc(4000%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide,.sprite-fm-illustration-wide-after:after,.sprite-fm-illustration-wide-before:before{

	--num-of-illustration:11;
	background:url(../imagery/sprites-fm-illustration-sprite-wide.307263cc699735d0.svg) no-repeat;
	background-size:calc(100%*var(--num-of-illustration)) auto;
	content:"";
	display:block;
	height:200px;
	width:400px
}
.sprite-fm-illustration-wide.img-dialog-referral-program,.sprite-fm-illustration-wide.img-dialog-referral-program-after:after,.sprite-fm-illustration-wide.img-dialog-referral-program-before:before{
	background-position:0 0
}
.sprite-fm-illustration-wide.img-backup-computer,.sprite-fm-illustration-wide.img-backup-computer-after:after,.sprite-fm-illustration-wide.img-backup-computer-before:before{
	background-position:calc(100%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-dialog-expiry-link,.sprite-fm-illustration-wide.img-dialog-expiry-link-after:after,.sprite-fm-illustration-wide.img-dialog-expiry-link-before:before{
	background-position:calc(200%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-meetings-create-account,.sprite-fm-illustration-wide.img-meetings-create-account-after:after,.sprite-fm-illustration-wide.img-meetings-create-account-before:before{
	background-position:calc(300%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-backup-rewind,.sprite-fm-illustration-wide.img-backup-rewind-after:after,.sprite-fm-illustration-wide.img-backup-rewind-before:before{
	background-position:calc(400%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.registration,.sprite-fm-illustration-wide.registration-after:after,.sprite-fm-illustration-wide.registration-before:before{
	background-position:calc(500%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-dialog-megadrop,.sprite-fm-illustration-wide.img-dialog-megadrop-after:after,.sprite-fm-illustration-wide.img-dialog-megadrop-before:before{
	background-position:calc(600%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-dialog-darkmode,.sprite-fm-illustration-wide.img-dialog-darkmode-after:after,.sprite-fm-illustration-wide.img-dialog-darkmode-before:before{
	background-position:calc(700%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-password-recovery-devices,.sprite-fm-illustration-wide.img-password-recovery-devices-after:after,.sprite-fm-illustration-wide.img-password-recovery-devices-before:before{
	background-position:calc(800%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.img-mega-logo-light,.sprite-fm-illustration-wide.img-mega-logo-light-after:after,.sprite-fm-illustration-wide.img-mega-logo-light-before:before{
	background-position:calc(900%/(var(--num-of-illustration) - 1)) 0
}
.sprite-fm-illustration-wide.mega-logo-dark,.sprite-fm-illustration-wide.mega-logo-dark-after:after,.sprite-fm-illustration-wide.mega-logo-dark-before:before{
	background-position:calc(1000%/(var(--num-of-illustration) - 1)) 0
}
