@font-face{
	font-display:block;
	font-family:fm-mono;
	src:url(../imagery/sprites-fm-mono.b7bdb7ab2bb10774.eot?t=1622523322533);
	src:url(../imagery/sprites-fm-mono.b7bdb7ab2bb10774.eot?t=1622523322533#iefix) format("embedded-opentype"), 
    url(../imagery/sprites-fm-mono.fbba7e4f21e74a97.woff2?t=1622523322533) format("woff2"),
    url(../imagery/sprites-fm-mono.da3ca4603e604c9.woff?t=1622523322533) format("woff"),
    url(../imagery/sprites-fm-mono.3016445b04004d91.ttf?t=1622523322533) format("truetype"), 
    url(../imagery/sprites-fm-mono.4fe6f3c455d6dcba.svg?t=1622523322533#fm-mono) format("svg")
}
.sprite-fm-mono,.sprite-fm-mono-after{
	height:var(--icon-size, 16px);
	width:var(--icon-size, 16px)
}
.sprite-fm-mono-after:after,.sprite-fm-mono:before{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:var(--mask-color);
	display:inline-block;
	font-family:fm-mono !important;
	font-size:var(--icon-size, 16px);
	font-style:normal;
	font-variant:normal;
	height:100%;
	line-height:1;
	text-rendering:auto;
	transition:inherit;
	vertical-align:top;
	width:100%
}
.sprite-fm-mono-after.icon-accept-after:after,.sprite-fm-mono.icon-accept:before{
	content:"\f26e"
}
.sprite-fm-mono-after.icon-account-edit-after:after,.sprite-fm-mono.icon-account-edit:before{
	content:"\f26f"
}
.sprite-fm-mono-after.icon-accounts-after:after,.sprite-fm-mono.icon-accounts:before{
	content:"\f270"
}
.sprite-fm-mono-after.icon-active-after:after,.sprite-fm-mono.icon-active:before{
	content:"\f271"
}
.sprite-fm-mono-after.icon-add-circle-after:after,.sprite-fm-mono.icon-add-circle:before{
	content:"\f272"
}
.sprite-fm-mono-after.icon-add-filled-after:after,.sprite-fm-mono.icon-add-filled:before{
	content:"\f273"
}
.sprite-fm-mono-after.icon-add-small-after:after,.sprite-fm-mono.icon-add-small:before{
	content:"\f274"
}
.sprite-fm-mono-after.icon-add-user-after:after,.sprite-fm-mono.icon-add-user:before{
	content:"\f275"
}
.sprite-fm-mono-after.icon-add-after:after,.sprite-fm-mono.icon-add:before{
	content:"\f276"
}
.sprite-fm-mono-after.icon-admin-outline-after:after,.sprite-fm-mono.icon-admin-outline:before{
	content:"\f277"
}
.sprite-fm-mono-after.icon-admin-after:after,.sprite-fm-mono.icon-admin:before{
	content:"\f278"
}
.sprite-fm-mono-after.icon-advanced-after:after,.sprite-fm-mono.icon-advanced:before{
	content:"\f279"
}
.sprite-fm-mono-after.icon-android-after:after,.sprite-fm-mono.icon-android:before{
	content:"\f27a"
}
.sprite-fm-mono-after.icon-archive-after:after,.sprite-fm-mono.icon-archive:before{
	content:"\f27b"
}
.sprite-fm-mono-after.icon-arrow-down-after:after,.sprite-fm-mono.icon-arrow-down:before{
	content:"\f27c"
}
.sprite-fm-mono-after.icon-arrow-left-thin-after:after,.sprite-fm-mono.icon-arrow-left-thin:before{
	content:"\f27d"
}
.sprite-fm-mono-after.icon-arrow-left-after:after,.sprite-fm-mono.icon-arrow-left:before{
	content:"\f27e"
}
.sprite-fm-mono-after.icon-arrow-right-thin-after:after,.sprite-fm-mono.icon-arrow-right-thin:before{
	content:"\f27f"
}
.nw-fm-tree-arrow:before,.sprite-fm-mono-after.icon-arrow-right-after:after,.sprite-fm-mono.icon-arrow-right:before{
	content:"\f280"
}
.sprite-fm-mono-after.icon-arrow-up-after:after,.sprite-fm-mono.icon-arrow-up:before{
	content:"\f281"
}
.sprite-fm-mono-after.icon-audio-filled-after:after,.sprite-fm-mono.icon-audio-filled:before{
	content:"\f282"
}
.sprite-fm-mono-after.icon-audio-off-after:after,.sprite-fm-mono.icon-audio-off:before{
	content:"\f283"
}
.sprite-fm-mono-after.icon-bin-filled-after:after,.sprite-fm-mono.icon-bin-filled:before{
	content:"\f284"
}
.sprite-fm-mono-after.icon-bin-after:after,.sprite-fm-mono.icon-bin:before{
	content:"\f285"
}
.sprite-fm-mono-after.icon-building-after:after,.sprite-fm-mono.icon-building:before{
	content:"\f286"
}
.sprite-fm-mono-after.icon-call-offline-after:after,.sprite-fm-mono.icon-call-offline:before{
	content:"\f287"
}
.sprite-fm-mono-after.icon-call-online-after:after,.sprite-fm-mono.icon-call-online:before{
	content:"\f288"
}
.sprite-fm-mono-after.icon-cancel-folders-after:after,.sprite-fm-mono.icon-cancel-folders:before{
	content:"\f289"
}
.sprite-fm-mono-after.icon-change-screenshare-after:after,.sprite-fm-mono.icon-change-screenshare:before{
	content:"\f28a"
}
.sprite-fm-mono-after.icon-changed-after:after,.sprite-fm-mono.icon-changed:before{
	content:"\f28b"
}
.sprite-fm-mono-after.icon-channel-new-after:after,.sprite-fm-mono.icon-channel-new:before{
	content:"\f28c"
}
.sprite-fm-mono-after.icon-chat-filled-after:after,.sprite-fm-mono.icon-chat-filled:before{
	content:"\f28d"
}
.sprite-fm-mono-after.icon-chat-write-after:after,.sprite-fm-mono.icon-chat-write:before{
	content:"\f28e"
}
.sprite-fm-mono-after.icon-chat-after:after,.sprite-fm-mono.icon-chat:before{
	content:"\f28f"
}
.sprite-fm-mono-after.icon-check-after:after,.sprite-fm-mono.icon-check:before{
	content:"\f290"
}
.sprite-fm-mono-after.icon-chrome-after:after,.sprite-fm-mono.icon-chrome:before{
	content:"\f291"
}
.sprite-fm-mono-after.icon-clear-transfer-after:after,.sprite-fm-mono.icon-clear-transfer:before{
	content:"\f292"
}
.sprite-fm-mono-after.icon-clear-after:after,.sprite-fm-mono.icon-clear:before{
	content:"\f293"
}
.sprite-fm-mono-after.icon-close-component-after:after,.sprite-fm-mono.icon-close-component:before{
	content:"\f294"
}
.sprite-fm-mono-after.icon-cloud-drive-after:after,.sprite-fm-mono.icon-cloud-drive:before{
	content:"\f295"
}
.sprite-fm-mono-after.icon-cloud-storage-over-quota-after:after,.sprite-fm-mono.icon-cloud-storage-over-quota:before{
	content:"\f296"
}
.sprite-fm-mono-after.icon-cloud-after:after,.sprite-fm-mono.icon-cloud:before{
	content:"\f297"
}
.sprite-fm-mono-after.icon-collapse-down-after:after,.sprite-fm-mono.icon-collapse-down:before{
	content:"\f298"
}
.sprite-fm-mono-after.icon-collapse-left-after:after,.sprite-fm-mono.icon-collapse-left:before{
	content:"\f299"
}
.sprite-fm-mono-after.icon-collapse-right-after:after,.sprite-fm-mono.icon-collapse-right:before{
	content:"\f29a"
}
.sprite-fm-mono-after.icon-collapse-up-after:after,.sprite-fm-mono.icon-collapse-up:before{
	content:"\f29b"
}
.sprite-fm-mono-after.icon-company-after:after,.sprite-fm-mono.icon-company:before{
	content:"\f29c"
}
.sprite-fm-mono-after.icon-contact-after:after,.sprite-fm-mono.icon-contact:before{
	content:"\f29d"
}
.sprite-fm-mono-after.icon-contacts-after:after,.sprite-fm-mono.icon-contacts:before{
	content:"\f29e"
}
.sprite-fm-mono-after.icon-copy-after:after,.sprite-fm-mono.icon-copy:before{
	content:"\f29f"
}
.sprite-fm-mono-after.icon-developers-after:after,.sprite-fm-mono.icon-developers:before{
	content:"\f2a0"
}
.sprite-fm-mono-after.icon-dialog-close-after:after,.sprite-fm-mono.icon-dialog-close:before{
	content:"\f2a1"
}
.sprite-fm-mono-after.icon-disable-after:after,.sprite-fm-mono.icon-disable:before{
	content:"\f2a2"
}
.sprite-fm-mono-after.icon-disabled-filled-after:after,.sprite-fm-mono.icon-disabled-filled:before{
	content:"\f2a3"
}
.sprite-fm-mono-after.icon-dot-after:after,.sprite-fm-mono.icon-dot:before{
	content:"\f2a4"
}
.sprite-fm-mono-after.icon-down-after:after,.sprite-fm-mono.icon-down:before{
	content:"\f2a5"
}
.sprite-fm-mono-after.icon-download-file-after:after,.sprite-fm-mono.icon-download-file:before{
	content:"\f2a6"
}
.sprite-fm-mono-after.icon-download-filled-after:after,.sprite-fm-mono.icon-download-filled:before{
	content:"\f2a7"
}
.sprite-fm-mono-after.icon-download-small-after:after,.sprite-fm-mono.icon-download-small:before{
	content:"\f2a8"
}
.sprite-fm-mono-after.icon-download-standard-after:after,.sprite-fm-mono.icon-download-standard:before{
	content:"\f2a9"
}
.sprite-fm-mono-after.icon-download-zip-after:after,.sprite-fm-mono.icon-download-zip:before{
	content:"\f2aa"
}
.sprite-fm-mono-after.icon-download-after:after,.sprite-fm-mono.icon-download:before{
	content:"\f2ab"
}
.sprite-fm-mono-after.icon-dropdown-after:after,.sprite-fm-mono.icon-dropdown:before{
	content:"\f2ac"
}
.sprite-fm-mono-after.icon-email-after:after,.sprite-fm-mono.icon-email:before{
	content:"\f2ad"
}
.sprite-fm-mono-after.icon-embed-code-after:after,.sprite-fm-mono.icon-embed-code:before{
	content:"\f2ae"
}
.sprite-fm-mono-after.icon-emoji-type-activity-after:after,.sprite-fm-mono.icon-emoji-type-activity:before{
	content:"\f2af"
}
.sprite-fm-mono-after.icon-emoji-type-flag-after:after,.sprite-fm-mono.icon-emoji-type-flag:before{
	content:"\f2b0"
}
.sprite-fm-mono-after.icon-emoji-type-food-after:after,.sprite-fm-mono.icon-emoji-type-food:before{
	content:"\f2b1"
}
.sprite-fm-mono-after.icon-emoji-type-frequent-after:after,.sprite-fm-mono.icon-emoji-type-frequent:before{
	content:"\f2b2"
}
.sprite-fm-mono-after.icon-emoji-type-nature-after:after,.sprite-fm-mono.icon-emoji-type-nature:before{
	content:"\f2b3"
}
.sprite-fm-mono-after.icon-emoji-type-objects-after:after,.sprite-fm-mono.icon-emoji-type-objects:before{
	content:"\f2b4"
}
.sprite-fm-mono-after.icon-emoji-type-people-after:after,.sprite-fm-mono.icon-emoji-type-people:before{
	content:"\f2b5"
}
.sprite-fm-mono-after.icon-emoji-type-symbol-after:after,.sprite-fm-mono.icon-emoji-type-symbol:before{
	content:"\f2b6"
}
.sprite-fm-mono-after.icon-emoji-type-travel-after:after,.sprite-fm-mono.icon-emoji-type-travel:before{
	content:"\f2b7"
}
.sprite-fm-mono-after.icon-enabled-after:after,.sprite-fm-mono.icon-enabled:before{
	content:"\f2b8"
}
.sprite-fm-mono-after.icon-end-call-after:after,.sprite-fm-mono.icon-end-call:before{
	content:"\f2b9"
}
.sprite-fm-mono-after.icon-end-screenshare-after:after,.sprite-fm-mono.icon-end-screenshare:before{
	content:"\f2ba"
}
.sprite-fm-mono-after.icon-ex-drive-filled-after:after,.sprite-fm-mono.icon-ex-drive-filled:before{
	content:"\f2bb"
}
.sprite-fm-mono-after.icon-ex-drive-after:after,.sprite-fm-mono.icon-ex-drive:before{
	content:"\f2bc"
}
.sprite-fm-mono-after.icon-exclamation-filled-after:after,.sprite-fm-mono.icon-exclamation-filled:before{
	content:"\f2bd"
}
.sprite-fm-mono-after.icon-eye-hidden-after:after,.sprite-fm-mono.icon-eye-hidden:before{
	content:"\f2be"
}
.sprite-fm-mono-after.icon-eye-hide-after:after,.sprite-fm-mono.icon-eye-hide:before{
	content:"\f2bf"
}
.sprite-fm-mono-after.icon-eye-reveal-after:after,.sprite-fm-mono.icon-eye-reveal:before{
	content:"\f2c0"
}
.sprite-fm-mono-after.icon-favourite-filled-after:after,.sprite-fm-mono.icon-favourite-filled:before{
	content:"\f2c1"
}
.sprite-fm-mono-after.icon-favourite-remove-filled-after:after,.sprite-fm-mono.icon-favourite-remove-filled:before{
	content:"\f2c2"
}
.sprite-fm-mono-after.icon-favourite-removed-after:after,.sprite-fm-mono.icon-favourite-removed:before{
	content:"\f2c3"
}
.sprite-fm-mono-after.icon-favourite-after:after,.sprite-fm-mono.icon-favourite:before{
	content:"\f2c4"
}
.sprite-fm-mono-after.icon-features-after:after,.sprite-fm-mono.icon-features:before{
	content:"\f2c5"
}
.sprite-fm-mono-after.icon-ff-after:after,.sprite-fm-mono.icon-ff:before{
	content:"\f2c6"
}
.sprite-fm-mono-after.icon-file-edit-after:after,.sprite-fm-mono.icon-file-edit:before{
	content:"\f2c7"
}
.sprite-fm-mono-after.icon-file-new-after:after,.sprite-fm-mono.icon-file-new:before{
	content:"\f2c8"
}
.sprite-fm-mono-after.icon-file-after:after,.sprite-fm-mono.icon-file:before{
	content:"\f2c9"
}
.sprite-fm-mono-after.icon-filter-after:after,.sprite-fm-mono.icon-filter:before{
	content:"\f2ca"
}
.sprite-fm-mono-after.icon-firefox-after:after,.sprite-fm-mono.icon-firefox:before{
	content:"\f2cb"
}
.sprite-fm-mono-after.icon-folder-camera-filled-after:after,.sprite-fm-mono.icon-folder-camera-filled:before{
	content:"\f2cc"
}
.sprite-fm-mono-after.icon-folder-camera-open-filled-after:after,.sprite-fm-mono.icon-folder-camera-open-filled:before{
	content:"\f2cd"
}
.sprite-fm-mono-after.icon-folder-camera-open-after:after,.sprite-fm-mono.icon-folder-camera-open:before{
	content:"\f2ce"
}
.sprite-fm-mono-after.icon-folder-camera-after:after,.sprite-fm-mono.icon-folder-camera:before{
	content:"\f2cf"
}
.nw-fm-tree-item .nw-fm-tree-folder.chat-folder:before,.sprite-fm-mono-after.icon-folder-chat-filled-after:after,.sprite-fm-mono.icon-folder-chat-filled:before{
	content:"\f2d0"
}
.nw-fm-tree-item.expanded .nw-fm-tree-folder.chat-folder:before,.nw-fm-tree-item.opened .nw-fm-tree-folder.chat-folder:before,.sprite-fm-mono-after.icon-folder-chat-open-filled-after:after,.sprite-fm-mono.icon-folder-chat-open-filled:before{
	content:"\f2d1"
}
.sprite-fm-mono-after.icon-folder-chat-open-after:after,.sprite-fm-mono.icon-folder-chat-open:before{
	content:"\f2d2"
}
.sprite-fm-mono-after.icon-folder-chat-after:after,.sprite-fm-mono.icon-folder-chat:before{
	content:"\f2d3"
}
.sprite-fm-mono-after.icon-folder-download-filled-after:after,.sprite-fm-mono.icon-folder-download-filled:before{
	content:"\f2d4"
}
.sprite-fm-mono-after.icon-folder-download-open-filled-after:after,.sprite-fm-mono.icon-folder-download-open-filled:before{
	content:"\f2d5"
}
.sprite-fm-mono-after.icon-folder-download-open-after:after,.sprite-fm-mono.icon-folder-download-open:before{
	content:"\f2d6"
}
.sprite-fm-mono-after.icon-folder-download-after:after,.sprite-fm-mono.icon-folder-download:before{
	content:"\f2d7"
}
.nw-fm-tree-item .nw-fm-tree-folder:before,.sprite-fm-mono-after.icon-folder-filled-after:after,.sprite-fm-mono.icon-folder-filled:before{
	content:"\f2d8"
}
.nw-fm-tree-item .nw-fm-tree-folder.inbound-share:before,.sprite-fm-mono-after.icon-folder-incoming-share-filled-after:after,.sprite-fm-mono.icon-folder-incoming-share-filled:before{
	content:"\f2d9"
}
.nw-fm-tree-item.expanded .nw-fm-tree-folder.inbound-share:before,.nw-fm-tree-item.opened .nw-fm-tree-folder.inbound-share:before,.sprite-fm-mono-after.icon-folder-incoming-share-open-filled-after:after,.sprite-fm-mono.icon-folder-incoming-share-open-filled:before{
	content:"\f2da"
}
.sprite-fm-mono-after.icon-folder-incoming-share-open-after:after,.sprite-fm-mono.icon-folder-incoming-share-open:before{
	content:"\f2db"
}
.sprite-fm-mono-after.icon-folder-incoming-share-after:after,.sprite-fm-mono.icon-folder-incoming-share:before{
	content:"\f2dc"
}
.sprite-fm-mono-after.icon-folder-mega-drop-after:after,.sprite-fm-mono.icon-folder-mega-drop:before{
	content:"\f2dd"
}
.sprite-fm-mono-after.icon-folder-new-after:after,.sprite-fm-mono.icon-folder-new:before{
	content:"\f2de"
}
.nw-fm-tree-item.expanded .nw-fm-tree-folder:before,.nw-fm-tree-item.opened .nw-fm-tree-folder:before,.sprite-fm-mono-after.icon-folder-open-filled-after:after,.sprite-fm-mono.icon-folder-open-filled:before{
	content:"\f2df"
}
.sprite-fm-mono-after.icon-folder-open-after:after,.sprite-fm-mono.icon-folder-open:before{
	content:"\f2e0"
}
.nw-fm-tree-item .nw-fm-tree-folder.shared-folder:before,.sprite-fm-mono-after.icon-folder-outgoing-share-filled-after:after,.sprite-fm-mono.icon-folder-outgoing-share-filled:before{
	content:"\f2e1"
}
.nw-fm-tree-item.expanded .nw-fm-tree-folder.shared-folder:before,.nw-fm-tree-item.opened .nw-fm-tree-folder.shared-folder:before,.sprite-fm-mono-after.icon-folder-outgoing-share-open-filled-after:after,.sprite-fm-mono.icon-folder-outgoing-share-open-filled:before{
	content:"\f2e2"
}
.sprite-fm-mono-after.icon-folder-outgoing-share-open-after:after,.sprite-fm-mono.icon-folder-outgoing-share-open:before{
	content:"\f2e3"
}
.sprite-fm-mono-after.icon-folder-outgoing-share-after:after,.sprite-fm-mono.icon-folder-outgoing-share:before{
	content:"\f2e4"
}
.nw-fm-tree-item .nw-fm-tree-folder.puf-folder:before,.sprite-fm-mono-after.icon-folder-upload-filled-after:after,.sprite-fm-mono.icon-folder-upload-filled:before{
	content:"\f2e5"
}
.nw-fm-tree-item.expanded .nw-fm-tree-folder.puf-folder:before,.nw-fm-tree-item.opened .nw-fm-tree-folder.puf-folder:before,.sprite-fm-mono-after.icon-folder-upload-open-filled-after:after,.sprite-fm-mono.icon-folder-upload-open-filled:before{
	content:"\f2e6"
}
.sprite-fm-mono-after.icon-folder-upload-open-after:after,.sprite-fm-mono.icon-folder-upload-open:before{
	content:"\f2e7"
}
.sprite-fm-mono-after.icon-folder-upload-after:after,.sprite-fm-mono.icon-folder-upload:before{
	content:"\f2e8"
}
.sprite-fm-mono-after.icon-folder-after:after,.sprite-fm-mono.icon-folder:before{
	content:"\f2e9"
}
.sprite-fm-mono-after.icon-fullscreen-enter-after:after,.sprite-fm-mono.icon-fullscreen-enter:before{
	content:"\f2ea"
}
.sprite-fm-mono-after.icon-fullscreen-leave-after:after,.sprite-fm-mono.icon-fullscreen-leave:before{
	content:"\f2eb"
}
.sprite-fm-mono-after.icon-globe-after:after,.sprite-fm-mono.icon-globe:before{
	content:"\f2ec"
}
.sprite-fm-mono-after.icon-id-after:after,.sprite-fm-mono.icon-id:before{
	content:"\f2ed"
}
.sprite-fm-mono-after.icon-image-grid-view-down-after:after,.sprite-fm-mono.icon-image-grid-view-down:before{
	content:"\f2ee"
}
.sprite-fm-mono-after.icon-image-grid-view-up-after:after,.sprite-fm-mono.icon-image-grid-view-up:before{
	content:"\f2ef"
}
.sprite-fm-mono-after.icon-inbox-filled-after:after,.sprite-fm-mono.icon-inbox-filled:before{
	content:"\f2f0"
}
.sprite-fm-mono-after.icon-inbox-after:after,.sprite-fm-mono.icon-inbox:before{
	content:"\f2f1"
}
.sprite-fm-mono-after.icon-info-filled-after:after,.sprite-fm-mono.icon-info-filled:before{
	content:"\f2f2"
}
.sprite-fm-mono-after.icon-info-after:after,.sprite-fm-mono.icon-info:before{
	content:"\f2f3"
}
.sprite-fm-mono-after.icon-ios-after:after,.sprite-fm-mono.icon-ios:before{
	content:"\f2f4"
}
.sprite-fm-mono-after.icon-join-call-after:after,.sprite-fm-mono.icon-join-call:before{
	content:"\f2f5"
}
.sprite-fm-mono-after.icon-key-after:after,.sprite-fm-mono.icon-key:before{
	content:"\f2f6"
}
.sprite-fm-mono-after.icon-label-filled-after:after,.sprite-fm-mono.icon-label-filled:before{
	content:"\f2f7"
}
.sprite-fm-mono-after.icon-label-after:after,.sprite-fm-mono.icon-label:before{
	content:"\f2f8"
}
.sprite-fm-mono-after.icon-languages-after:after,.sprite-fm-mono.icon-languages:before{
	content:"\f2f9"
}
.sprite-fm-mono-after.icon-leave-call-after:after,.sprite-fm-mono.icon-leave-call:before{
	content:"\f2fa"
}
.sprite-fm-mono-after.icon-left-after:after,.sprite-fm-mono.icon-left:before{
	content:"\f2fb"
}
.sprite-fm-mono-after.icon-legal-policies-after:after,.sprite-fm-mono.icon-legal-policies:before{
	content:"\f2fc"
}
.sprite-fm-mono-after.icon-link-circle-after:after,.sprite-fm-mono.icon-link-circle:before{
	content:"\f2fd"
}
.sprite-fm-mono-after.icon-link-filled-after:after,.sprite-fm-mono.icon-link-filled:before{
	content:"\f2fe"
}
.sprite-fm-mono-after.icon-link-remove-after:after,.sprite-fm-mono.icon-link-remove:before{
	content:"\f2ff"
}
.nw-fm-tree-item .file-status-ico:before,.sprite-fm-mono-after.icon-link-small-after:after,.sprite-fm-mono.icon-link-small:before{
	content:"\f300"
}
.sprite-fm-mono-after.icon-link-after:after,.sprite-fm-mono.icon-link:before{
	content:"\f301"
}
.sprite-fm-mono-after.icon-linux-after:after,.sprite-fm-mono.icon-linux:before{
	content:"\f302"
}
.sprite-fm-mono-after.icon-location-after:after,.sprite-fm-mono.icon-location:before{
	content:"\f303"
}
.sprite-fm-mono-after.icon-lock-2-after:after,.sprite-fm-mono.icon-lock-2:before{
	content:"\f304"
}
.sprite-fm-mono-after.icon-lock-filled-after:after,.sprite-fm-mono.icon-lock-filled:before{
	content:"\f305"
}
.sprite-fm-mono-after.icon-lock-after:after,.sprite-fm-mono.icon-lock:before{
	content:"\f306"
}
.sprite-fm-mono-after.icon-login-after:after,.sprite-fm-mono.icon-login:before{
	content:"\f307"
}
.sprite-fm-mono-after.icon-logout-after:after,.sprite-fm-mono.icon-logout:before{
	content:"\f308"
}
.sprite-fm-mono-after.icon-manage-folders-after:after,.sprite-fm-mono.icon-manage-folders:before{
	content:"\f309"
}
.sprite-fm-mono-after.icon-meeting-join-after:after,.sprite-fm-mono.icon-meeting-join:before{
	content:"\f30a"
}
.sprite-fm-mono-after.icon-migrate-files-after:after,.sprite-fm-mono.icon-migrate-files:before{
	content:"\f30b"
}
.sprite-fm-mono-after.icon-min-mode-after:after,.sprite-fm-mono.icon-min-mode:before{
	content:"\f30c"
}
.sprite-fm-mono-after.icon-minimise-component-after:after,.sprite-fm-mono.icon-minimise-component:before{
	content:"\f30d"
}
.sprite-fm-mono-after.icon-minimise-after:after,.sprite-fm-mono.icon-minimise:before{
	content:"\f30e"
}
.sprite-fm-mono-after.icon-mobile-24px-after:after,.sprite-fm-mono.icon-mobile-24px:before{
	content:"\f30f"
}
.sprite-fm-mono-after.icon-mobile-filled-after:after,.sprite-fm-mono.icon-mobile-filled:before{
	content:"\f310"
}
.sprite-fm-mono-after.icon-mobile-after:after,.sprite-fm-mono.icon-mobile:before{
	content:"\f311"
}
.sprite-fm-mono-after.icon-move-after:after,.sprite-fm-mono.icon-move:before{
	content:"\f312"
}
.sprite-fm-mono-after.icon-my-account-after:after,.sprite-fm-mono.icon-my-account:before{
	content:"\f313"
}
.sprite-fm-mono-after.icon-name-after:after,.sprite-fm-mono.icon-name:before{
	content:"\f314"
}
.sprite-fm-mono-after.icon-new-window-after:after,.sprite-fm-mono.icon-new-window:before{
	content:"\f315"
}
.sprite-fm-mono-after.icon-next-arrow-after:after,.sprite-fm-mono.icon-next-arrow:before{
	content:"\f316"
}
.sprite-fm-mono-after.icon-notification-filled-after:after,.sprite-fm-mono.icon-notification-filled:before{
	content:"\f317"
}
.sprite-fm-mono-after.icon-notification-off-filled-after:after,.sprite-fm-mono.icon-notification-off-filled:before{
	content:"\f318"
}
.sprite-fm-mono-after.icon-notification-off-after:after,.sprite-fm-mono.icon-notification-off:before{
	content:"\f319"
}
.sprite-fm-mono-after.icon-notification-after:after,.sprite-fm-mono.icon-notification:before{
	content:"\f31a"
}
.sprite-fm-mono-after.icon-offline-after:after,.sprite-fm-mono.icon-offline:before{
	content:"\f31b"
}
.sprite-fm-mono-after.icon-options-after:after,.sprite-fm-mono.icon-options:before{
	content:"\f31c"
}
.sprite-fm-mono-after.icon-overview-after:after,.sprite-fm-mono.icon-overview:before{
	content:"\f31d"
}
.sprite-fm-mono-after.icon-password-after:after,.sprite-fm-mono.icon-password:before{
	content:"\f31e"
}
.sprite-fm-mono-after.icon-pause-after:after,.sprite-fm-mono.icon-pause:before{
	content:"\f31f"
}
.sprite-fm-mono-after.icon-pc-filled-after:after,.sprite-fm-mono.icon-pc-filled:before{
	content:"\f320"
}
.sprite-fm-mono-after.icon-pc-linux-after:after,.sprite-fm-mono.icon-pc-linux:before{
	content:"\f321"
}
.sprite-fm-mono-after.icon-pc-windows-after:after,.sprite-fm-mono.icon-pc-windows:before{
	content:"\f322"
}
.sprite-fm-mono-after.icon-pc-after:after,.sprite-fm-mono.icon-pc:before{
	content:"\f323"
}
.sprite-fm-mono-after.icon-permissions-write-after:after,.sprite-fm-mono.icon-permissions-write:before{
	content:"\f324"
}
.sprite-fm-mono-after.icon-phone-after:after,.sprite-fm-mono.icon-phone:before{
	content:"\f325"
}
.sprite-fm-mono-after.icon-plan-filled-after:after,.sprite-fm-mono.icon-plan-filled:before{
	content:"\f326"
}
.sprite-fm-mono-after.icon-plan-after:after,.sprite-fm-mono.icon-plan:before{
	content:"\f327"
}
.sprite-fm-mono-after.icon-platforms-after:after,.sprite-fm-mono.icon-platforms:before{
	content:"\f328"
}
.sprite-fm-mono-after.icon-play-small-after:after,.sprite-fm-mono.icon-play-small:before{
	content:"\f329"
}
.sprite-fm-mono-after.icon-play-after:after,.sprite-fm-mono.icon-play:before{
	content:"\f32a"
}
.sprite-fm-mono-after.icon-preview-reveal-after:after,.sprite-fm-mono.icon-preview-reveal:before{
	content:"\f32b"
}
.sprite-fm-mono-after.icon-queue-down-after:after,.sprite-fm-mono.icon-queue-down:before{
	content:"\f32c"
}
.sprite-fm-mono-after.icon-queue-up-after:after,.sprite-fm-mono.icon-queue-up:before{
	content:"\f32d"
}
.sprite-fm-mono-after.icon-read-only-after:after,.sprite-fm-mono.icon-read-only:before{
	content:"\f32e"
}
.sprite-fm-mono-after.icon-recents-filled-after:after,.sprite-fm-mono.icon-recents-filled:before{
	content:"\f32f"
}
.sprite-fm-mono-after.icon-recents-after:after,.sprite-fm-mono.icon-recents:before{
	content:"\f330"
}
.sprite-fm-mono-after.icon-remove-after:after,.sprite-fm-mono.icon-remove:before{
	content:"\f331"
}
.sprite-fm-mono-after.icon-rename-after:after,.sprite-fm-mono.icon-rename:before{
	content:"\f332"
}
.sprite-fm-mono-after.icon-reseller-after:after,.sprite-fm-mono.icon-reseller:before{
	content:"\f333"
}
.sprite-fm-mono-after.icon-resume-after:after,.sprite-fm-mono.icon-resume:before{
	content:"\f334"
}
.sprite-fm-mono-after.icon-rewind-after:after,.sprite-fm-mono.icon-rewind:before{
	content:"\f335"
}
.sprite-fm-mono-after.icon-right-after:after,.sprite-fm-mono.icon-right:before{
	content:"\f336"
}
.sprite-fm-mono-after.icon-rwd-after:after,.sprite-fm-mono.icon-rwd:before{
	content:"\f337"
}
.sprite-fm-mono-after.icon-screen-share-after:after,.sprite-fm-mono.icon-screen-share:before{
	content:"\f338"
}
.sprite-fm-mono-after.icon-search-cloud-after:after,.sprite-fm-mono.icon-search-cloud:before{
	content:"\f339"
}
.sprite-fm-mono-after.icon-search-after:after,.sprite-fm-mono.icon-search:before{
	content:"\f33a"
}
.sprite-fm-mono-after.icon-selector-after:after,.sprite-fm-mono.icon-selector:before{
	content:"\f33b"
}
.sprite-fm-mono-after.icon-send-contact-after:after,.sprite-fm-mono.icon-send-contact:before{
	content:"\f33c"
}
.sprite-fm-mono-after.icon-send-files-after:after,.sprite-fm-mono.icon-send-files:before{
	content:"\f33d"
}
.sprite-fm-mono-after.icon-send-to-chat-after:after,.sprite-fm-mono.icon-send-to-chat:before{
	content:"\f33e"
}
.sprite-fm-mono-after.icon-session-history-filled-after:after,.sprite-fm-mono.icon-session-history-filled:before{
	content:"\f33f"
}
.sprite-fm-mono-after.icon-session-history-after:after,.sprite-fm-mono.icon-session-history:before{
	content:"\f340"
}
.sprite-fm-mono-after.icon-settings-after:after,.sprite-fm-mono.icon-settings:before{
	content:"\f341"
}
.sprite-fm-mono-after.icon-share-circle-after:after,.sprite-fm-mono.icon-share-circle:before{
	content:"\f342"
}
.sprite-fm-mono-after.icon-share-filled-after:after,.sprite-fm-mono.icon-share-filled:before{
	content:"\f343"
}
.sprite-fm-mono-after.icon-share-incoming-external-after:after,.sprite-fm-mono.icon-share-incoming-external:before{
	content:"\f344"
}
.sprite-fm-mono-after.icon-share-incoming-after:after,.sprite-fm-mono.icon-share-incoming:before{
	content:"\f345"
}
.sprite-fm-mono-after.icon-share-outgoing-external-after:after,.sprite-fm-mono.icon-share-outgoing-external:before{
	content:"\f346"
}
.sprite-fm-mono-after.icon-share-outgoing-after:after,.sprite-fm-mono.icon-share-outgoing:before{
	content:"\f347"
}
.sprite-fm-mono-after.icon-share-after:after,.sprite-fm-mono.icon-share:before{
	content:"\f348"
}
.sprite-fm-mono-after.icon-side-menu-after:after,.sprite-fm-mono.icon-side-menu:before{
	content:"\f349"
}
.sprite-fm-mono-after.icon-skip-after:after,.sprite-fm-mono.icon-skip:before{
	content:"\f34a"
}
.sprite-fm-mono-after.icon-speaker-view-after:after,.sprite-fm-mono.icon-speaker-view:before{
	content:"\f34b"
}
.sprite-fm-mono-after.icon-star-filled-after:after,.sprite-fm-mono.icon-star-filled:before{
	content:"\f34c"
}
.sprite-fm-mono-after.icon-star-after:after,.sprite-fm-mono.icon-star:before{
	content:"\f34d"
}
.sprite-fm-mono-after.icon-support-after:after,.sprite-fm-mono.icon-support:before{
	content:"\f34e"
}
.sprite-fm-mono-after.icon-sync-after:after,.sprite-fm-mono.icon-sync:before{
	content:"\f34f"
}
.sprite-fm-mono-after.icon-takedown-after:after,.sprite-fm-mono.icon-takedown:before{
	content:"\f350"
}
.sprite-fm-mono-after.icon-target-after:after,.sprite-fm-mono.icon-target:before{
	content:"\f351"
}
.sprite-fm-mono-after.icon-thumbnail-view-after:after,.sprite-fm-mono.icon-thumbnail-view:before{
	content:"\f352"
}
.sprite-fm-mono-after.icon-tooltip-arrow-after:after,.sprite-fm-mono.icon-tooltip-arrow:before{
	content:"\f353"
}
.sprite-fm-mono-after.icon-transfer-arrow-after:after,.sprite-fm-mono.icon-transfer-arrow:before{
	content:"\f354"
}
.sprite-fm-mono-after.icon-transfer-filled-after:after,.sprite-fm-mono.icon-transfer-filled:before{
	content:"\f355"
}
.sprite-fm-mono-after.icon-transfer-quota-after:after,.sprite-fm-mono.icon-transfer-quota:before{
	content:"\f356"
}
.sprite-fm-mono-after.icon-transfer-after:after,.sprite-fm-mono.icon-transfer:before{
	content:"\f357"
}
.sprite-fm-mono-after.icon-unarchive-after:after,.sprite-fm-mono.icon-unarchive:before{
	content:"\f358"
}
.sprite-fm-mono-after.icon-up-after:after,.sprite-fm-mono.icon-up:before{
	content:"\f359"
}
.sprite-fm-mono-after.icon-upload-file-after:after,.sprite-fm-mono.icon-upload-file:before{
	content:"\f35a"
}
.sprite-fm-mono-after.icon-upload-filled-after:after,.sprite-fm-mono.icon-upload-filled:before{
	content:"\f35b"
}
.sprite-fm-mono-after.icon-upload-to-cloud-circle-after:after,.sprite-fm-mono.icon-upload-to-cloud-circle:before{
	content:"\f35c"
}
.sprite-fm-mono-after.icon-upload-to-cloud-drive-after:after,.sprite-fm-mono.icon-upload-to-cloud-drive:before{
	content:"\f35d"
}
.sprite-fm-mono-after.icon-upload-after:after,.sprite-fm-mono.icon-upload:before{
	content:"\f35e"
}
.sprite-fm-mono-after.icon-user-circle-filled-after:after,.sprite-fm-mono.icon-user-circle-filled:before{
	content:"\f35f"
}
.sprite-fm-mono-after.icon-user-filled-after:after,.sprite-fm-mono.icon-user-filled:before{
	content:"\f360"
}
.sprite-fm-mono-after.icon-user-interface-filled-after:after,.sprite-fm-mono.icon-user-interface-filled:before{
	content:"\f361"
}
.sprite-fm-mono-after.icon-user-interface-after:after,.sprite-fm-mono.icon-user-interface:before{
	content:"\f362"
}
.sprite-fm-mono-after.icon-user-after:after,.sprite-fm-mono.icon-user:before{
	content:"\f363"
}
.sprite-fm-mono-after.icon-versions-clear-after:after,.sprite-fm-mono.icon-versions-clear:before{
	content:"\f364"
}
.sprite-fm-mono-after.icon-versions-previous-after:after,.sprite-fm-mono.icon-versions-previous:before{
	content:"\f365"
}
.sprite-fm-mono-after.icon-video-call-filled-after:after,.sprite-fm-mono.icon-video-call-filled:before{
	content:"\f366"
}
.sprite-fm-mono-after.icon-video-off-after:after,.sprite-fm-mono.icon-video-off:before{
	content:"\f367"
}
.sprite-fm-mono-after.icon-view-grid-after:after,.sprite-fm-mono.icon-view-grid:before{
	content:"\f368"
}
.sprite-fm-mono-after.icon-view-medium-list-after:after,.sprite-fm-mono.icon-view-medium-list:before{
	content:"\f369"
}
.sprite-fm-mono-after.icon-view-small-list-after:after,.sprite-fm-mono.icon-view-small-list:before{
	content:"\f36a"
}
.sprite-fm-mono-after.icon-volume-max-after:after,.sprite-fm-mono.icon-volume-max:before{
	content:"\f36b"
}
.sprite-fm-mono-after.icon-volume-muted-after:after,.sprite-fm-mono.icon-volume-muted:before{
	content:"\f36c"
}
.sprite-fm-mono-after.icon-volume-after:after,.sprite-fm-mono.icon-volume:before{
	content:"\f36d"
}
.sprite-fm-mono-after.icon-warning-triangle-after:after,.sprite-fm-mono.icon-warning-triangle:before{
	content:"\f36e"
}
.sprite-fm-mono-after.icon-weak-signal-after:after,.sprite-fm-mono.icon-weak-signal:before{
	content:"\f36f"
}
.sprite-fm-mono-after.icon-windows-after:after,.sprite-fm-mono.icon-windows:before{
	content:"\f370"
}
.sprite-fm-mono-after.icon-zip-circle-after:after,.sprite-fm-mono.icon-zip-circle:before{
	content:"\f371"
}