
.about .bottom-page.full-block{
	display:none;
	font-size:0
}
.about .bottom-page.full-block.active{
	display:block
}
.about.bottom-page.light-grey-top .top-head{
	box-shadow:none
}
.about.bottom-page.light-grey-top .top-head.floating{
	box-shadow:0 1px 0 0 rgba(0, 0, 0, .1)
}
.about.main-menu.body{
	background-color:#fafafa;
	border-bottom:1px solid #e7e7e7;
	font-size:0;
	padding:86px 0 0;
	text-align:center;
	white-space:nowrap
}
.about.main-menu.item{
	color:#666;
	cursor:pointer;
	display:inline-block;
	font-family:LatoWebBold,source_sans_prosemibold,Arial;
	font-size:17px;
	line-height:21px;
	margin:0 0 -1px 70px;
	text-transform:uppercase
}
.about.main-menu.item:first-child{
	margin-left:0
}
.about.main-menu.item span{
	border-bottom:4px solid transparent;
	display:inline-block;
	padding-bottom:3px;
	-webkit-transition:color .2s ease-in-out,border-color .2s ease-in-out;
	transition:color .2s ease-in-out,border-color .2s ease-in-out
}
.about .lang,.en .about .lang.en{
	display:block
}
.about span.lang,.en .about span.lang.en{
	display:inline-block
}
.about .lang.en,.about span.lang.en,.en .about .lang,.en .about span.lang{
	display:none
}
body:not(.mobile) .about.main-menu.item:hover span{
	color:#00c0a6
}
.about.main-menu.item.active span{
	border-color:#00c0a6;
	color:#00c0a6
}
.about.top-info{
	color:#666;
	font-size:16px;
	line-height:24px;
	margin:0 auto;
	max-width:940px;
	padding:30px 0 25px;
	text-align:left
}
.about.top-info.centered{
	text-align:center
}
.about.top-info:visited,.about.top-info a{
	color:#373737;
	text-decoration:underline
}
body:not(.mobile) .about.top-info a:hover{
	text-decoration:none
}
.about.numbers-wrap{
	font-size:0;
	padding-bottom:56px
}
.about.numbers-info{
	webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#373737;
	font-size:24px;
	line-height:29px;
	margin:auto;
	padding:62px 10px 0
}
.about.numbers-info .num{
	color:#00c0a6;
	display:block;
	font-family:montserrat,source_sans_proregular,Arial;
	font-size:33px;
	line-height:44px
}
.about.numbers-info .num span,.en .about.numbers-info .num{
	display:block;
	font-family:montserrat_bold,montserrat_semibold,source_sans_prosemibold,Arial;
	font-size:54px
}
.about.numbers-info .num span{
	line-height:56px;
	padding:6px 0 5px
}
.en .about.numbers-info .num span{
	display:inline-block;
	padding-bottom:18px
}
.en .about.numbers-info{
	max-width:232px
}
.en .about.numbers-info.short .numbers-txt{
	display:inline-block;
	max-width:145px
}
.about-numbers .bottom-page.horizontal-centered-bl.wide{
	max-width:1146px
}
.about.img-wrap{
	line-height:0
}
.about.img1{
	width:100%
}
.about.bold-header{
	color:#373737;
	font-family:LatoWebBold,source_sans_probold,Arial;
	font-size:25px;
	line-height:30px;
	padding:98px 0 10px
}
.about.leaders-block{
	font-size:0;
	margin:0 0 20px
}
.about.leader{
	webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	height:317px;
	margin:30px 15px 0;
	overflow:hidden;
	position:relative;
	vertical-align:top;
	width:248px
}
.about.leader-overlay,.about.leader img{
	height:100%;
	width:100%
}
.about.leader-overlay{
	left:0;
	position:absolute;
	top:10%;
	-webkit-transition:background-color .2s ease-in-out,top .2s ease-in-out;
	transition:background-color .2s ease-in-out,top .2s ease-in-out
}
.about.leader:hover .about.leader-overlay{
	background-color:hsla(0, 0%, 84.7%, .88);
	top:0
}
.about.leader-info{
	webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#373737;
	display:table-cell;
	font-family:LatoWebBold,source_sans_probold,Arial;
	font-size:16px;
	height:231px;
	line-height:28px;
	opacity:0;
	padding:10px 36px;
	-webkit-transition:opacity .2s ease-in-out,visibility .2s ease-in-out;
	transition:opacity .2s ease-in-out,visibility .2s ease-in-out;
	vertical-align:middle;
	visibility:hidden;
	white-space:normal;
	width:248px
}
.about.leader-info span{
	padding:0 2px
}
.about.leader:hover .about.leader-info{
	opacity:1;
	visibility:visible
}
.about.leader-name{
	background-color:hsla(0, 0%, 84.7%, .77);
	bottom:0;
	color:#373737;
	font-size:16px;
	height:86px;
	line-height:20px;
	position:absolute;
	width:100%
}
.about.leader-name .bold{
	display:block;
	font-family:LatoWebBold,source_sans_probold,Arial;
	font-size:18px;
	line-height:22px;
	padding:20px 0 5px
}
.about.members{
	font-size:0;
	margin:16px auto 20px;
	max-width:1034px
}
.about.members img{
	border-radius:100%;
	display:block;
	height:68px;
	margin:54px auto 13px;
	width:68px
}
.mobile .about.members img{
	height:67px;
	width:67px
}
.about.members img.shadow{
	box-shadow:0 0 0 1px hsla(0, 0%, 84.7%, .4)
}
.about.members span{
	color:#666;
	display:block;
	font-size:14px;
	line-height:22px;
	padding:0 10px
}
.about.members span.bold{
	color:#373737;
	font-family:LatoWebBold,source_sans_probold,Arial;
	font-size:16px
}
.believe .bottom-page.big-icon-info{
	padding:12px 0 52px
}
.believe .inline-block.mid-pad{
	padding-top:10px
}
.bottom-page.locs{
	font-size:0
}
.locs a.inline-block{
	cursor:default
}
.locs .inline-block i,.locs .inline-block span{
	cursor:pointer;
	display:block
}
.about.img2{
	margin:65px auto -16px;
	width:100%
}
.about.hiring,.about.img2{
	border-radius:8px;
	max-width:1024px
}
.about.hiring{
	background-color:#00c0a6;
	background-image:url(../images/mega/about/about-03.png?v=1873d43915960b2d);
	background-position:50%;
	background-size:auto 100%;
	font-size:0;
	height:380px;
	margin:60px auto 0;
	overflow:hidden;
	overflow:hidden;
	text-align:center;
	white-space:nowrap
}
.about.hiring-txt{
	color:#fff;
	display:inline-block;
	font-size:30px;
	line-height:48px;
	margin:89px 42px 0 0;
	text-transform:uppercase;
	vertical-align:top;
	white-space:normal;
	width:360px
}
.about.hiring-txt span{
	display:block;
	font-family:LatoWebBlack,source_sans_problack,Arial;
	font-size:32px;
	line-height:173px
}
.en .about.hiring-txt,.ro .about.hiring-txt{
	font-size:40px
}
.en .about.hiring-txt span{
	font-size:80px
}
.pl .about.hiring-txt{
	font-size:24px
}
.es .about.hiring-txt,.nl .about.hiring-txt span{
	font-size:28px
}
.es .about.hiring-txt span{
	font-size:36px
}
.id .about.hiring-txt span{
	font-size:30px
}
.ct .about.hiring-txt span,.kr .about.hiring-txt span,.ro .about.hiring-txt span{
	font-size:52px
}
.about.joing-txt{
	color:#fff;
	display:inline-block;
	font-size:24px;
	line-height:30px;
	margin:0 -40px 0 40px;
	padding:131px 0 0;
	vertical-align:top;
	white-space:normal;
	width:380px
}
.es .about.joing-txt,.it .about.joing-txt,.jp .about.joing-txt,.nl .about.joing-txt{
	margin:0
}
.id .about.joing-txt{
	width:370px
}
.about.joing-txt span{
	display:block;
	padding:0 0 22px
}
.about.white-button{
	webkit-box-sizing:border-box;
	background-color:#fff;
	border-radius:4px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#00c0a6;
	cursor:pointer;
	display:inline-block;
	font-family:LatoWebBold,source_sans_probold,Arial;
	font-size:22px;
	height:48px;
	line-height:48px;
	min-width:170px;
	padding:0 10px;
	-webkit-transition:box-shadow .2s ease-in-out;
	transition:box-shadow .2s ease-in-out
}
body:not(.mobile) .about.white-button:hover{
	box-shadow:0 0 0 4px hsla(0, 0%, 100%, .3)
}
.about.bold-header.bott-pad{
	padding-bottom:22px
}
.about.carousel{
	-webkit-animation:animatedBackground 600s linear infinite;
	animation:animatedBackground 600s linear infinite;
	background-image:url(../imagery/mega-about-about-carousel.94005a3fc8bfb3aa.jpg);
	background-position:0 0;
	background-repeat:repeat;
	background-size:auto 100%;
	height:700px;
	margin:30px 0 0
}
.bottom-page.light-grey-top{
	background-color:hsla(0, 0%, 98%, .81)
}
.about.img4{
	margin:135px 0 8px 3%;
	max-width:1065px;
	width:100%
}
.bottom-page.about-sprite.use{
	background-position:center -1164px;
	display:inline-block;
	height:203px;
	max-width:350px;
	width:100%
}
.about.use-header{
	color:#373737;
	font-family:montserrat_bold,montserrat_semibold,source_sans_probold,Arial;
	font-size:16px;
	letter-spacing:1.2px;
	line-height:20px;
	max-width:350px;
	padding:28px 0 0;
	text-align:center;
	width:100%
}
.bottom-page.about-sprite.encryption{
	background-position:-15px -1438px;
	display:inline-block;
	height:173px;
	margin:0 0 22px 20%;
	width:173px
}
.bottom-page.about-sprite.gdpr{
	background-position:-302px -1418px;
	display:inline-block;
	height:206px;
	margin:0 20% 48px;
	width:202px
}
.about-privacy .bottom-page.horizontal-centered-bl.mid-wide{
	max-width:1020px
}
.about-privacy .startpage.italic-text{
	max-width:none
}
.about-privacy .startpage.quote-icon{
	left:0
}
.about-privacy .startpage.quote-icon.close{
	left:auto;
	right:0
}
.about-data .about.top-info{
	max-width:865px
}
.about.img5{
	margin:90px -50% 8px;
	max-width:1322px;
	width:114%
}
.about.img6{
	margin:108px 0 50px;
	max-width:1094px;
	width:100%
}
.about.top-info.top-pad{
	padding:44px 0 0
}
.about.data-header{
	display:inline-block;
	font-size:0;
	margin:76px 20px 65px
}
.about.data-header span{
	color:#373737;
	font-family:LatoWebBlack,source_sans_probold,Arial;
	font-size:30px;
	line-height:36px;
	padding:0 8px
}
.ar .about.data-header i,.es .about.data-header i,.fr .about.data-header i,.it .about.data-header i,.ru .about.data-header i{
	margin-top:5px
}
@-webkit-keyframes animatedBackground{
0%{
	background-position:0 0
}
to{
	background-position:-10000px 0
}
}
@keyframes animatedBackground{
0%{
	background-position:0 0
}
to{
	background-position:-10000px 0
}
}
@media only screen and (max-width:890px){
div.about.hiring{
	background-image:none
}
.about.hiring-txt{
	margin-right:15px;
	margin-top:125px;
	width:300px
}
.en .about.hiring-txt{
	margin-top:121px
}
.br .about.hiring-txt{
	margin-top:145px;
	width:auto
}
.es .about.hiring-txt span{
	font-size:32px
}
.about.joing-txt{
	margin:0
}
.about.hiring-txt span,.en .about.hiring-txt span{
	line-height:84px
}
.about .bottom-page .col-4{
	width:50%
}
.ru .about .bottom-page.big-icon-info{
	font-size:22px
}
.id .about .bottom-page.big-icon-info{
	font-size:26px
}
}
@media only screen and (max-width:783px){
.about.hiring-txt,.about.joing-txt,.id .about.joing-txt{
	width:auto
}
.about.numbers-info .num{
	font-size:28px
}
.en .about.numbers-info .num,.en .about.numbers-info .num span{
	font-size:44px
}
.about.main-menu.item{
	font-size:14px;
	margin:0 0 -1px 20px
}
.en .about.main-menu.item{
	margin-left:30px
}
.en .about.main-menu.item:first-child{
	margin-left:0
}
.about.numbers-info{
	font-size:20px
}
.about .bottom-page .col-6{
	width:25%
}
.about.hiring{
	height:auto
}
.about.hiring-txt,.br .about.hiring-txt,.en .about.hiring-txt,.es .about.hiring-txt,.pl .about.hiring-txt,.ro .about.hiring-txt{
	display:block;
	font-size:20px;
	line-height:28px;
	margin:30px 0 0
}
.about.hiring-txt span{
	line-height:50px
}
.about.joing-txt{
	font-size:20px;
	line-height:30px;
	margin:0;
	padding:20px 0 30px
}
.about.joing-txt span{
	padding:0 0 12px
}
.about-privacy .bottom-page.table.changed-order .left-cell,.about-privacy .bottom-page.table.changed-order .right-cell{
	height:auto
}
.about-privacy .bottom-page.left-cell,.bottom-page.right-cell{
	display:block;
	text-align:center;
	width:100%
}
.about-privacy .bottom-page.table.changed-order .order2{
	display:block
}
.about-privacy .bottom-page.table.changed-order .order1{
	display:none
}
.about-privacy .about.top-info,.about-privacy .bottom-page.big-header.left-txt-align{
	text-align:center
}
.bottom-page.about-sprite.encryption,.bottom-page.about-sprite.use{
	margin:30px 0 10px
}
.bottom-page.about-sprite.use{
	background-position:center -1165px;
	background-size:525px auto
}
.about.use-header{
	padding-bottom:20px
}
.bottom-page.about-sprite.gdpr{
	margin:30px 0 0
}
}
@media only screen and (max-width:565px){
.ru .about.main-menu.item{
	font-size:12px
}
.believe .inline-block.mid-pad{
	margin-top:-12px;
	padding-top:0
}
.believe .bottom-page.big-icon-info{
	padding:12px 0 41px
}
.about.hiring{
	margin:30px auto 0
}
.about.top-info{
	padding:36px 0 18px
}
.about.numbers-info{
	font-size:16px;
	line-height:18px
}
.about .bottom-page.ultra-huge-top-pad{
	padding-top:60px
}
.about .bottom-page.big-header.big-bott-pad{
	padding-bottom:24px
}
.about .bottom-page.big-icon-info{
	font-size:24px;
	line-height:28px
}
.about .bottom-page .col-6{
	width:50%
}
.about.carousel{
	height:500px
}
.about.top-info,.bottom-page.big-header.left-txt-align{
	text-align:center
}
.about.img4{
	margin:47px 0 8px 3%
}
.about.img5{
	margin:20px -50% 8px
}
.about.img6{
	margin:38px 0 50px
}
.about.numbers-info .num{
	font-size:20px;
	line-height:28px
}
.about.numbers-info .num span{
	line-height:50px;
	padding:4px 0 0
}
}
@media only screen and (max-width:490px){
.about.main-menu.item{
	margin:0 0 -1px 15px
}
.br .about.main-menu.item,.fr .about.main-menu.item,.it .about.main-menu.item{
	font-size:12px
}
.ru .about.main-menu.body{
	padding-left:10px;
	padding-right:10px;
	white-space:normal
}
.ru .about.main-menu.item{
	margin:0;
	width:50%
}
.ru .about.main-menu.item span{
	margin-bottom:10px;
	padding-bottom:0
}
.nl .about.main-menu.item{
	font-size:12px
}
}
@media only screen and (max-width:420px){
.bottom-page.big-header{
	font-size:20px;
	line-height:28px
}
.about.top-info{
	font-size:14px;
	line-height:21px;
	padding:0 0 15px
}
.about.numbers-info .num span,.en .about.numbers-info .num,.en .about.numbers-info .num span{
	font-size:28px;
	line-height:32px
}
.about.numbers-wrap{
	padding-bottom:40px
}
.about.numbers-info{
	font-size:14px;
	line-height:18px;
	padding-top:40px
}
.en .about.numbers-info .num span{
	padding-bottom:8px
}
.about .bottom-page.big-header.big-bott-pad{
	padding-bottom:24px
}
.about .bottom-page.big-icon-info,.id .about .bottom-page.big-icon-info,.ru .about .bottom-page.big-icon-info{
	font-size:20px;
	line-height:24px
}
.about .inline-block.mid-pad:last-child{
	padding-bottom:10px
}
.about .big-bott-pad+.bottom-page.top-pad{
	padding-top:20px
}
.about.bold-header{
	font-size:20px;
	line-height:24px;
	padding:88px 0 0
}
.about.members{
	margin:0 auto 20px
}
.about.img2{
	border-radius:0;
	margin:35px -24px -36px
}
.about.hiring{
	height:auto;
	padding:0 10px
}
.about.hiring-txt span,.ct .about.hiring-txt span,.en .about.hiring-txt span,.es .about.hiring-txt span,.id .about.hiring-txt span,.kr .about.hiring-txt span,.nl .about.hiring-txt span,.ro .about.hiring-txt span{
	font-size:34px;
	line-height:50px
}
.br .about.hiring-txt span,.es .about.hiring-txt span,.nl .about.hiring-txt span,.pl .about.hiring-txt span{
	font-size:24px;
	line-height:28px;
	padding-top:10px
}
.about.joing-txt,.about.white-button{
	font-size:18px
}
.bottom-page.about-sprite.use{
	background-position:center -921px;
	background-size:415px auto;
	height:159px;
	margin-bottom:0;
	width:273px
}
.about.use-header{
	font-size:13px
}
.bottom-page.about-sprite.encryption{
	background-position:-8px -1137px;
	background-size:415px auto;
	height:137px;
	width:142px
}
.bottom-page.about-sprite.gdpr{
	background-position:-238px -1122px;
	background-size:415px auto;
	height:205px;
	margin:30px 0 -30px;
	width:162px
}
.about.top-info.top-pad{
	padding:24px 0 0
}
.about.data-header span{
	font-size:16px
}
.de .about.main-menu.item,.es .about.main-menu.item,.ro .about.main-menu.item,.tl .about.main-menu.item,.vi .about.main-menu.item{
	font-size:12px
}
.nl .about.main-menu.body{
	padding-left:10px;
	padding-right:10px;
	white-space:normal
}
.nl .about.main-menu.item{
	margin:0;
	width:50%
}
.nl .about.main-menu.item span{
	margin-bottom:10px;
	padding-bottom:0
}
.about.leader{
	margin-left:-20px;
	margin-right:-20px
}
}
@media only screen and (max-width:380px){
.about.main-menu.body{
	white-space:normal
}
.about.main-menu.item{
	font-size:12px
}
.ar .about.main-menu.item,.cn .about.main-menu.item,.ct .about.main-menu.item{
	font-size:14px
}
.br .about.main-menu.body,.es .about.main-menu.body,.fr .about.main-menu.body,.it .about.main-menu.body,.pl .about.main-menu.body,.ro .about.main-menu.body,.vi .about.main-menu.body{
	padding-left:10px;
	padding-right:10px;
	white-space:normal
}
.br .about.main-menu.item,.de .about.main-menu.item,.es .about.main-menu.item,.fr .about.main-menu.item,.it .about.main-menu.item,.pl .about.main-menu.item,.ro .about.main-menu.item,.vi .about.main-menu.item{
	margin:0;
	width:50%
}
.br .about.main-menu.item span,.de .about.main-menu.item span,.es .about.main-menu.item span,.fr .about.main-menu.item span,.it .about.main-menu.item span,.pl .about.main-menu.item span,.ro .about.main-menu.item span,.vi .about.main-menu.item span{
	margin-bottom:10px;
	padding-bottom:0
}
.about .bottom-page .col-4{
	width:100%
}
.about.use-header{
	padding-bottom:0
}
}
@media only screen and (max-width:340px){
.bottom-page.about-sprite.use{
	background-position:center -699px;
	background-size:315px auto;
	height:121px;
	width:205px
}
.ru .about.main-menu.item{
	text-transform:none
}
}
@media only screen and (max-width:320px){
.es .about.main-menu.body{
	padding-left:10px;
	padding-right:10px;
	white-space:normal
}
.es .about.main-menu.item{
	margin:0;
	width:50%
}
.es .about.main-menu.item span{
	margin-bottom:10px;
	padding-bottom:0
}
}
@media only screen and (max-width:315px){
.about.main-menu.body{
	padding-left:10px;
	padding-right:10px;
	white-space:normal
}
.about.main-menu.item,.en .about.main-menu.item{
	margin:0;
	width:50%
}
.about.main-menu.item span{
	margin-bottom:10px;
	padding-bottom:0
}
}

