
.sign .main-pad-block{
	background-color:#fafafa
}
.bottom-page.sign .register-st2-txt-block{
	padding-top:94px
}
.bottom-page.sign .main-left-block{
	padding:64px 0;
	width:486px
}
.account.login-form,.account.register-form{
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, .05);
	border-radius:24px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);
	box-sizing:border-box;
	overflow:hidden;
	padding:4px 48px 0;
	text-align:center;
	width:100%
}
.account.register-form .pw-strength-wrap{
	margin-bottom:20px;
	margin-top:-15px;
	text-align:left
}
.account.register-form .checkbox-block{
	align-items:flex-start;
	display:flex;
	padding:24px 0 0;
	text-align:initial
}
.account.register-form .checkbox-block+.checkbox-block{
	padding-top:8px
}
.account.register-form .checkbox{
	-webkit-margin-end:14px;
	margin:2px 0;
	margin-inline-end:14px
}
.account.register-form .radio-txt{
	color:var(--text-color-medium);
	font:var(--text-body1);
	font-size:13px
}
.account.register-form .content-txt.pw-strength-note{
	color:#aaa;
	margin-left:4px;
	margin-top:8px
}
.account.login-form .dialog-dark-bottom.register,.account.register-form .dialog-dark-bottom.login{
	align-items:center;
	background:var(--surface-main-inverted);
	box-sizing:border-box;
	color:var(--text-color-medium-inverted);
	display:flex;
	font:var(--text-body1);
	justify-content:center;
	margin:0 -48px;
	min-height:48px;
	padding:12px 48px
}
.dialog-dark-bottom::selection,.dialog-dark-bottom a::selection{
	background:var(--text-selection-inverted);
	color:var(--text-color-high-inverted)
}
.main-left-block.businessSubAc .account.register-form .dialog-dark-bottom.login,.main-left-block.confirm .account.login-form .dialog-dark-bottom.register{
	display:none
}
.account.login-form .dialog-dark-bottom.register a,.account.register-form .dialog-dark-bottom.login a{
	color:var(--text-color-high-inverted);
	font-family:var(--text-font-family-semibold);
	font-size:15px;
	margin-left:4px;
	text-decoration:underline
}
@media (hover:hover){
.account.login-form .dialog-dark-bottom.register a:hover,.account.register-form .dialog-dark-bottom.login a:hover{
	text-decoration:none
}
}
.account.top-header{
	color:#333;
	font-family:montserrat,LatoWeb,source_sans_proregular,Arial;
	font-size:28px;
	line-height:44px;
	padding:48px 0 40px
}
.mega-dialog header .account.top-header{
	color:#333;
	padding:40px 0 10px 40px
}
.mega-dialog header .account.top-header.small{
	font-size:26px;
	padding:40px 0 0 40px
}
.account.top-header span{
	color:#f0373b
}
.account.top-header.wide{
	width:112%
}
.account.text-header{
	color:#000;
	font-family:montserrat,LatoWeb,source_sans_proregular,Arial;
	font-size:18px;
	line-height:30px;
	padding:35px 0 44px
}
.account.small-header-txt{
	color:#666;
	float:right;
	font-size:14px;
	line-height:24px;
	padding:64px 0 0
}
.account.small-header-txt a{
	color:#f0373b;
	cursor:pointer
}
.account.small-header-txt a:hover{
	text-decoration:underline
}
.account.half-sized-block.full-sized-error .message-container{
	width:calc(200% + 24px)
}
.account.input-wrapper{
	-webkit-padding-end:8px;
	-webkit-padding-start:38px;
	border-bottom:1px solid var(--stroke-grey-2);
	font-size:0;
	line-height:0;
	margin:0 0 24px;
	padding:14px 0 5px;
	padding-inline-end:8px;
	padding-inline-start:38px;
	position:relative;
	transition:border-color .2s ease-in-out;
	white-space:nowrap
}
.account.input-wrapper.small{
	-webkit-margin-start:8px;
	margin:0;
	margin-inline-start:8px
}
.account.input-wrapper.top-placeholder{
	margin:0 0 24px
}
.account.input-wrapper.top-placeholder label{
	color:var(--text-color-low);
	display:none;
	font:var(--text-body2);
	position:absolute;
	top:-12px
}
.account.input-wrapper.top-placeholder.selected label,.account.input-wrapper.top-placeholder input:not(:placeholder-shown)+label{
	display:block
}
.account.input-wrapper.focused{
	border-color:rgba(0, 0, 0, .4)
}
.account.input-wrapper.incorrect,.both-incorrect-inputs .account.input-wrapper{
	border-color:var(--stroke-error)
}
.account.input-wrapper i{
	--mask-color:var(--text-color-medium);
	--icon-size:24px;
	left:4px;
	position:absolute;
	top:14px
}
.rtl .account.input-wrapper i{
	left:auto;
	right:4px
}
.account.input-wrapper .ui-selectmenu-button,.account.input-wrapper input,.account.input-wrapper select{
	background-color:initial;
	border:0;
	box-sizing:border-box;
	color:var(--text-color-medium);
	font:var(--text-body1);
	height:24px;
	margin:0;
	padding:0;
	transition:color .2s ease-in-out;
	width:100%
}
.account.input-wrapper select{
	height:24px;
	opacity:0
}
.account.input-wrapper .select-arrow{
	left:auto;
	right:5px;
	transition:transform .2s ease-in-out;
	z-index:-1
}
.ui-selectmenu-button-open+label+.select-arrow{
	transform:rotate(90deg)
}
.account.input-wrapper .ui-selectmenu-button{
	box-shadow:none;
	color:var(--text-color-medium);
	font:var(--text-body2);
	height:24px
}
.account.input-wrapper.selected .ui-selectmenu-button{
	color:var(--text-color-medium);
	font:var(--text-body1)
}
.account.input-wrapper .ui-selectmenu-button:before{
	display:none
}
.account.input-wrapper:not(.small) input[type=number]{
	font-size:20px
}
.account.input-wrapper.incorrect input,.both-incorrect-inputs .account.input-wrapper input{
	color:#da3135
}
.account.input-wrapper input::placeholder{
	color:var(--text-color-medium);
	font:var(--text-body2)
}
.account.input-wrapper.focused input::placeholder{
	color:#ccc
}
.account.input-wrapper input:-webkit-autofill,input:-webkit-autofill:focus{
	-webkit-text-fill-color:#000;
	-webkit-box-shadow:inset 0 0 0 50px #fafafa
}
.account.grouped-inputs{
	font-size:0;
	padding:0 0 12px;
	text-align:center;
	white-space:nowrap
}
.account.grouped-inputs .num{
	background-color:#f7f7f7;
	border:1px solid rgba(0, 0, 0, .15);
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	height:48px;
	margin:0 0 0 4px;
	padding:0;
	width:40px
}
.account.grouped-inputs .num:first-child{
	margin:0
}
.account.grouped-inputs .account.input-wrapper input[type=number]{
	font-size:36px;
	height:45px;
	line-height:45px;
	text-align:center
}
.sms-code-input-container{
	position:relative
}
.sms-verification-number-input{
	background:transparent;
	border:0;
	font-size:38px;
	height:38px;
	letter-spacing:25px;
	line-height:38px;
	position:absolute;
	text-indent:13px;
	top:4px;
	width:300px;
	z-index:2
}
body.ar .sms-verification-number-input{
	font-family:source_sans_proregular,Arial,sans-serif !important
}
.account.input-tooltip,.both-input-tooltip{
	-webkit-margin-start:20px;
	background:var(--banner-background-warning);
	border:1px solid var(--banner-border-warning);
	border-radius:4px;
	bottom:0;
	box-sizing:border-box;
	color:var(--banner-text-warning);
	display:none;
	font:var(--text-body2);
	left:100%;
	margin-inline-start:20px;
	min-height:24px;
	padding:4px 8px;
	position:absolute;
	z-index:10
}
.both-input-tooltip{
	bottom:-22px
}
.account.input-tooltip.left,.both-input-tooltip.left{
	left:auto;
	margin:0 20px 0 0;
	right:100%
}
.account.input-tooltip.mid{
	bottom:auto;
	top:26px
}
.both-incorrect-inputs .both-input-tooltip,.incorrect .account.input-tooltip{
	display:block
}
.incorrect .account.input-tooltip.bottom{
	bottom:-40px;
	left:-20px;
	top:auto
}
.incorrect .account.input-tooltip.bottom-center{
	bottom:auto;
	left:0;
	margin-top:9px;
	right:0;
	text-align:center;
	top:100%
}
.account.input-tooltip.static{
	margin:0;
	position:static
}
.incorrect+.account.input-tooltip.static{
	display:block
}
.account.input-wrapper.incorrect.top-placeholder+.account.input-tooltip.static{
	margin:-12px 0 0
}
.account.input-tooltip.static.visible{
	display:block;
	margin:-12px 0 0
}
.account.checkbox-block.focused .checkboxOff:before,.account.checkbox-block.focused .checkboxOn:before,.pw-remind.checkbox-block.focused .checkboxOff:before,.pw-remind.checkbox-block.focused .checkboxOn:before{
	-webkit-box-shadow:0 0 0 1px rgba(240, 55, 58, .5);
	-moz-box-shadow:0 0 0 1px rgba(240, 55, 58, .5);
	box-shadow:0 0 0 1px rgba(240, 55, 58, .5)
}
.account.checkbox-block.left{
	align-items:center;
	display:inline-flex;
	height:48px;
	margin:48px 0;
	white-space:nowrap
}
button.login-button{
	margin-top:2px
}
.business button.register-button{
	margin-top:30px
}
.account.input-wrapper.password{
	padding-right:80px
}
.login .account.input-wrapper.password{
	padding-right:0
}
.sign .main-pad-block button{
	display:flex;
	margin:48px 0
}
button span{
	display:inline-block;
	vertical-align:top
}
button .loader{
	display:none
}
button .loader img{
	width:16px
}
button.loading .loader{
	display:flex
}
.business-block,.business .personal-block{
	display:none
}
.business .business-block{
	display:block
}
.account.input-hint{
	color:#999;
	font-family:LatoWeb,source_sans_proregular,Arial;
	font-size:12px;
	left:38px;
	letter-spacing:.86px;
	line-height:24px;
	position:absolute;
	top:-18px
}
.account.radio-buttons.register-pad{
	margin:-2px 0 0;
	padding:0 0 29px
}
.register-pad div.right{
	float:right
}
.radio-txt.medium{
	color:#333;
	font-family:LatoWeb,source_sans_proregular,Arial;
	font-size:16px;
	padding-right:5px
}
.radio-txt.medium span{
	padding-right:8px
}
.account.radio-buttons .provider-icon{
	margin:0 0 0 8px
}
.account.checkbox-block.terms{
	padding-bottom:3px
}
.account.checkbox-block.small{
	display:flex;
	padding:0 0 14px 1px
}
.register-side-pane .account.checkbox-block.small{
	padding:0 0 16px 8px
}
.account.checkbox-block.small .radio-txt{
	font-size:13px
}
.account.checkbox-block.small .checkboxOff,.account.checkbox-block.small .checkboxOn{
	margin-top:5px
}
.account.checkbox-block.small .radio-txt{
	padding:4px 0 0
}
.account.business-plan{
	background-color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 20px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 20px 0 rgba(0, 0, 0, .05);
	box-shadow:0 0 20px 0 rgba(0, 0, 0, .05);
	float:right;
	margin:198px 0 0;
	position:relative;
	width:360px
}
.account.business-plan *{
	position:relative
}
.account.business-plan:after,.account.business-plan:before{
	-webkit-box-shadow:0 2px 5px 0 hsla(0, 0%, 40%, .1);
	-moz-box-shadow:0 2px 5px 0 hsla(0, 0%, 40%, .1);
	box-shadow:0 2px 5px 0 hsla(0, 0%, 40%, .1);
	content:"";
	display:block;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.account.business-plan:after{
	-webkit-box-shadow:0 0 1px 0 #e6e6e6;
	-moz-box-shadow:0 0 1px 0 #e6e6e6;
	box-shadow:0 0 1px 0 #e6e6e6
}
.account.business-plan-icon{
	background-image:url(../imagery/mega-business.580ac3d972c7f4d0.png);
	background-position:-255px -1255px;
	height:68px;
	margin:35px auto 2px;
	width:68px
}
.account.business-plan-title{
	color:#666;
	font-family:LatoWeb,source_sans_proregular,Arial;
	font-size:20px;
	line-height:26px;
	padding:0 0 40px;
	text-align:center
}
.account.business-plan-price{
	background-color:#00bfa5;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	font-size:16px;
	height:72px;
	line-height:40px;
	margin:0 16px 16px;
	padding:15px 0 0;
	text-align:center
}
.account.business-plan-price .big{
	font-size:40px;
	padding-right:12px
}
.account.business-plan-info,.account.business-plan-total{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#333;
	font-family:LatoWeb,source_sans_proregular,Arial;
	font-size:16px;
	height:54px;
	line-height:20px;
	margin:0 16px;
	padding:17px 16px 0
}
.account.business-plan-info.grey{
	background-color:rgba(0, 0, 0, .03)
}
.account.business-plan-total{
	border-top:1px solid rgba(0, 0, 0, .1);
	font-size:24px;
	height:67px;
	line-height:30px
}
.account.icons-blocks{
	font-size:0
}
.sign .bottom-page.small-txt{
	color:#666;
	font-family:montserrat,LatoWeb,source_sans_proregular,Arial;
	font-size:14px;
	line-height:24px;
	padding-bottom:30px;
	padding-top:30px
}
.sign .bottom-page.big-icon.top-pad{
	margin:9px auto 16px
}
.bottom-page.big-icon.business{
	background-image:url(../imagery/mega-business.580ac3d972c7f4d0.png)
}
.bottom-page.big-icon.business.key{
	background-position:1px -1370px
}
.bottom-page.big-icon.business.revert{
	background-position:-149px -1370px
}
.bottom-page.big-icon.business.https{
	background-position:1px -1520px
}
.main-left-block.confirm{
	float:none;
	margin:36px auto 0;
	text-align:center
}
.dropdown.body.popup.top-login-popup{
	border-radius:24px;
	width:400px
}
.dropdown.body.popup.top-login-popup .mega-button{
	float:right
}
.rtl .dropdown.body.popup.top-login-popup .mega-button{
	float:left
}
.dropdown.body.popup.top-login-popup .checkbox-block{
	align-items:center;
	display:flex;
	float:left;
	height:36px;
	white-space:nowrap
}
.rtl .dropdown.body.popup.top-login-popup .checkbox-block{
	float:right
}
.big-illustration{
	background-image:url(../imagery/mega-register-sprite.a225d01a29319c9a.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:142px;
	width:400px
}
.big-illustration.register.shield{
	background-position:-17px -833px
}
.big-illustration.register.pw-lock{
	background-position:-17px -994px
}
.big-illustration.login.safe-key,.big-illustration.register.safe-key{
	background-position:-19px -1172px
}
.register-slide{
	position:relative;
	width:456px
}
.login-slide-block,.register-slide-block{
	margin:48px 0 0;
	overflow:hidden;
	position:relative;
	text-align:center;
	width:456px
}
.login-slide-block{
	margin-top:0
}
.login-slide-block h2,.register-slide-block h2{
	font-family:LatoWebLight,source_sans_proregular,Arial;
	font-weight:300;
	margin:32px 0 20px;
	white-space:normal
}
.login-slide-block h2 b,.register-slide-block h2 b{
	font-family:LatoWebBold,source_sans_proregular,Arial
}
.login-slide-block a,.register-slide-block a{
	color:#ff333a;
	font-size:14px;
	line-height:20px;
	text-decoration:underline
}
.register-slide-wrapper{
	position:relative;
	top:0;
	transition:left .7s ease-in-out;
	white-space:nowrap;
	width:456px
}
.register-slide-wrapper[data-slide="1"]{
	left:0
}
.register-slide-wrapper[data-slide="2"]{
	left:-457px
}
.register-slide-wrapper[data-slide="3"]{
	left:-913px
}
.register-slide .slider-ctrl-button{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin:0;
	opacity:.4;
	position:absolute;
	top:60%;
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-o-transition:all .25s ease-in-out;
	-ms-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out
}
.register-slide:hover .slider-ctrl-button{
	opacity:1
}
.register-slide .slider-ctrl-button:hover{
	background-color:hsla(0, 0%, 100%, .8);
	border-radius:100%;
	opacity:1
}
.register-slide .slider-ctrl-button.prev{
	left:-32px
}
.register-slide .slider-ctrl-button.next{
	right:-32px
}
.register-slide .slider-ctrl-button:before{
	display:none
}
.register-slide-page{
	display:inline-block;
	vertical-align:top;
	width:100%
}
