
.achievement-page{
	--page-width:1194px;
	font-family:LatoWeb,arial,sans-serif;
	padding-top:126px
}
body.mobile .achievement-page{
	padding-top:0
}
.achievement-page *{
	box-sizing:border-box
}
body.rtl .achievement-page *{
	direction:rtl
}
.achievement-page h1,.achievement-page h2,.achievement-page h3,.achievement-page p{
	font-weight:400;
	margin:0
}
.achievement-page h1{
	font-family:montserrat_bold,montserrat,arial,sans-serif;
	font-size:40px;
	line-height:63px
}
.achievement-page h2{
	color:#373737;
	font-family:var(--text-font-family-montserrat-bold);
	font-size:36px;
	line-height:48px
}
.achievement-page h2.light{
	font-family:var(--text-font-family-montserrat-light)
}
@media only screen and (max-width:624px){
.achievement-page{
	padding-top:64px
}
.achievement-page h1{
	font-size:24px;
	line-height:24px
}
}
.achievement-page a:link,.achievement-page a:not(.mega-button),.achievement-page a:visited{
	color:#00c0a6;
	text-decoration:underline
}
.achievement-page a.cta{
	background-color:#fafafa;
	border-radius:2px;
	color:#333;
	display:inline-block;
	font-size:16px;
	height:48px;
	letter-spacing:0;
	line-height:48px;
	padding:0 24px;
	text-align:center;
	text-decoration:none !important;
	transition:all .2s ease-in-out
}
.achievement-page a.cta:hover{
	background-color:#f2f2f2;
	box-shadow:0 0 0 4px rgb(242 242 242 / .28)
}
.mobile .achievement-page a.cta:hover{
	background-color:#00c0a6;
	box-shadow:none !important
}
.achievement-page a.mega-button{
	color:#fff;
	text-decoration:none
}
.achievement-page section{
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	overflow:hidden;
	padding:0 calc(50% - var(--page-width)/2);
	position:relative;
	z-index:5
}
.achievement-page .header-block{
	background:linear-gradient(180deg, #0ab48f, #08a37c);
	height:300px;
	justify-content:start
}
.achievement-page .header-block .background-image{
	position:absolute;
	right:0
}
.achievement-page .header-block .content-container{
	padding:0 50px
}
.achievement-page .header-block h1{
	color:#fff
}
.achievement-page .header-block p{
	color:#fff;
	font-size:16px;
	line-height:24px;
	margin:20px auto 30px;
	max-width:550px
}
.achievement-page .header-block p>span{
	color:#fec35a;
	font-family:var(--text-font-family-bold);
	font-size:18px
}
@media only screen and (max-width:950px){
.achievement-page .header-block{
	justify-content:center
}
.achievement-page .header-block .content-container{
	padding:0;
	text-align:center;
	width:calc(100% - 60px);
	z-index:1
}
}
.achievement-page .storage-block{
	background-color:#fafafa;
	justify-content:center;
	padding-bottom:100px;
	padding-top:100px
}
.achievement-page .storage-block h2{
	font-size:24px;
	line-height:28px;
	text-align:center
}
.achievement-page .storage-block.columns-2 .item{
	width:calc(50% - 160px)
}
.achievement-page .storage-block .items{
	align-items:baseline;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-top:22px
}
.achievement-page .storage-block .item{
	align-items:center;
	background-color:#fff;
	border:2px solid #f1f1f1;
	border-radius:12px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:30px 30px 0;
	min-height:358px;
	min-width:380px;
	text-align:center
}
.achievement-page .storage-block .item h4{
	color:#333;
	margin:0 0 20px
}
.achievement-page .storage-block .item p{
	color:#333;
	font-size:16px;
	margin:0 50px 20px;
	opacity:.7
}
.achievement-page .storage-block .item .image-container{
	height:128px;
	margin:12px auto;
	width:128px
}
.achievement-page .storage-block .item .achievement-icon{
	height:128px;
	width:100%
}
.achievement-page .storage-block .item .footer-container{
	align-items:flex-end;
	display:flex;
	flex-grow:1;
	padding-bottom:20px
}
.achievement-page .storage-block .item .achievement-icon.img-achievements-desktop-app{
	margin-top:40px
}
.achievement-page .storage-block .item .achievement-icon.img-achievements-mobile-app{
	margin-top:10px
}
.achievement-page .storage-block .item .achievement-icon.img-achievements-invite-users{
	margin-top:24px
}
.achievement-page .storage-block .item .achievement-icon.img-achievements-sms-verification{
	margin-top:10px
}
.achievement-page .storage-block .item .achievement-dialog.expires-txt{
	border-radius:4px;
	display:none;
	padding:2px 16px;
	text-align:center
}
.achievement-page .storage-block .item .achievement-dialog.expires-txt.info{
	background:var(--banner-background-info);
	border:1px solid var(--banner-border-info);
	color:var(--banner-text-info)
}
.achievement-page .storage-block .item .achievement-dialog.expires-txt.error{
	background:var(--banner-background-error);
	border:1px solid var(--banner-border-error);
	color:var(--banner-text-error);
	min-width:70%
}
.achievement-page .storage-block .item.achieved .achievement-dialog.expires-txt,.achievement-page .storage-block .item.one-reward .achievement-dialog.expires-txt{
	display:inline-block
}
.achievement-page .storage-block .item.achieved .mega-button.positive,.achievement-page .storage-block .item.hidden,.achievement-page .storage-block .item.one-reward .mega-button.positive,.achievement-page .storage-block.logged-in a,.achievement-page .storage-block.logged-out .achievement-dialog.expires-txt,.achievement-page .storage-block.logged-out button{
	display:none
}
@media only screen and (max-width:984px){
.achievement-page .storage-block h2{
	margin:0 60px
}
.achievement-page .storage-block.columns-2 .item{
	width:100%
}
.achievement-page .storage-block .item p{
	margin-top:20px;
	padding:0 25px
}
}
.achievement-page .keyinfo-block{
	padding-bottom:100px;

	padding-top:100px
}
.achievement-page .keyinfo-block.columns-3 .icon{
	width:33.33333%
}
.achievement-page .keyinfo-block .icons{
	align-items:baseline;
	display:flex;
	flex-wrap:wrap;
	margin-top:22px
}
.achievement-page .keyinfo-block .icon{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:50px
}
.achievement-page .keyinfo-block .icons p{
	color:#333;
	font-family:LatoWeb,arial,sans-serif;
	font-size:20px;
	line-height:30px;
	margin-top:40px;
	text-align:center
}
@media only screen and (max-width:950px){
.achievement-page .keyinfo-block.columns-3 .icon{
	width:100%
}
.achievement-page .keyinfo-block .icon p{
	margin-top:20px;
	padding:0 25px
}
}
.achievement-page .business-footer-block{
	background-color:#262f3b;
	text-align:center
}
.achievement-page .business-footer-block>div{
	margin:108px 40px 120px;
	max-width:1194px
}
.achievement-page .business-footer-block h2{
	color:#fff;
	margin-bottom:50px
}
.achievement-page .business-footer-block a{
	padding:0 24px
}
