.slide-in-out .slide-item{
	overflow-y:hidden;
	transition:max-height .3s ease-in-out,padding .3s ease-in-out;
	-webkit-transition:max-height .3s ease-in-out,padding .3s ease-in-out;
	-moz-transition:max-height .3s ease-in-out,padding .3s ease-in-out;
	-o-transition:max-height .3s ease-in-out,padding .3s ease-in-out;
	-ms-transition:max-height .3s ease-in-out,padding .3s ease-in-out
}
.slide-in-out.closed .slide-item{
	max-height:0 !important;
	padding-bottom:0;
	padding-top:0
}
.no-trans,.no-trans-init,.no-trans-init:after,.no-trans-init:before,.no-trans:after,.no-trans:before{
	-webkit-transition:none!important;
	-moz-transition:none!important;
	-o-transition:none!important;
	-ms-transition:none!important;
	transition:none!important
}
.ts-500{
	transition-duration:.5s;
	-webkit-transition-duration:.5s;
	-moz-transition-duration:.5s;
	-o-transition-duration:.5s;
	-ms-transition-duration:.5s
}
