
.bottom-menu.body{
	background-color:#fff;
	border-top:1px solid rgba(0, 0, 0, .1);
	font-family:LatoWeb,Arial;
	font-size:0;
	padding:90px 0 110px;
	position:relative
}
.bottom-menu .mobile-menu{
	display:none
}
.bottom-menu .desktop-menu{
	display:block
}
.bottom-menu .column{
	box-sizing:border-box;
	display:inline-block;
	padding-left:15px;
	text-align:start;
	vertical-align:top
}
.bottom-menu .column.left{
	padding:0
}
.bottom-menu .col1-of-6{
	width:16.66667%
}
.bottom-menu .col2-of-6{
	width:33.33333%
}
.bottom-menu .header{
	font-family:LatoWebBlack,Arial;
	font-size:16px;
	margin:30px 0 22px;
	text-transform:uppercase
}
.bottom-menu .header,.bottom-menu .link{
	color:#666;
	line-height:20px;
	padding:3px 0
}
.bottom-menu .link{
	display:block;
	font-size:14px;
	margin-bottom:4px;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.bottom-menu .link.hidden{
	display:none
}
.bottom-menu .link:hover{
	color:#333
}
.bottom-menu .logo{
	background-position:-12px -1364px;
	border-radius:0;
	display:block;
	float:none;
	height:55px;
	margin:30px 0 0;
	width:169px
}
.bottom-menu .company-info{
	color:#666;
	font-size:16px;
	line-height:20px;
	padding:16px 0 6px
}
.bottom-menu .company-info strong{
	color:#373737;
	display:block;
	font-family:LatoWebBold,Arial;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	padding:0 0 22px
}
.bottom-menu .company-info span{
	display:block;
	padding:0 0 21px
}
.bottom-menu .company-info.clone{
	display:none
}
.bottom-menu .social{
	display:flex;
	flex-wrap:wrap;
	padding:0
}
.bottom-menu .social i{
	transform:scale(.7)
}
.bottom-social-button{
	-webkit-margin-end:15px;
	background-color:#f4f4f5;
	border-radius:4px;
	cursor:pointer;
	display:block;
	margin-bottom:15px;
	margin-inline-end:15px;
	padding:0
}
.bottom-menu hr{
	display:none
}
.fr .bottom-menu .col1-of-6{
	width:18.75%
}
.fr .bottom-menu .col2-of-6{
	width:25%
}
.br .bottom-menu .col2,.es .bottom-menu .col2{
	width:14.66667%
}
.br .bottom-menu .col3,.es .bottom-menu .col3{
	width:18.66667%
}
@media only screen and (max-width:1020px){
.bottom-menu .header{
	font-family:LatoWebBold,Arial,sans-serif;
	font-size:14px
}
.bottom-menu .link{
	font-size:12px
}
.bottom-menu .company-info{
	font-size:15px
}
.bottom-menu .company-info strong{
	font-size:18px
}
}
@media only screen and (max-width:890px){
.bottom-menu.body{
	padding:22px 0 50px
}
.bottom-menu .bottom-page.horizontal-centered-bl.mid-wide{
	max-width:742px
}
.bottom-menu .column.left{
	border-top:1px solid #dadada;
	display:block;
	float:none;
	margin:75px auto 0;
	padding-top:27px;
	text-align:center;
	width:auto
}
.bottom-pages a.logo{
	display:none
}
.bottom-pages .download a.logo{
	display:block
}
.bottom-menu .desktop-menu .col1-of-6{
	width:25%
}
.bottom-menu .col1-of-6:first-child{
	padding-left:0
}
.bottom-menu .company-info{
	color:#373737;
	padding-bottom:0
}
.bottom-menu .company-info strong{
	padding:0 0 13px
}
.bottom-menu .company-info span{
	padding:0
}
.bottom-menu .company-info span.copyright-txt,.bottom-menu .company-info span.follow-txt{
	display:none
}
.bottom-menu .company-info.clone{
	color:#666;
	display:block;
	font-size:14px;
	padding:0
}
.bottom-menu .social{
	display:flex;
	justify-content:center;
	padding:14px 0 26px
}
.bottom-social-button{
	cursor:pointer;
	margin:0 10px;
	padding:9px
}
.bottom-menu .social i{
	transform:none
}
}
@media only screen and (max-width:680px){
.bottom-menu .mobile-menu{
	display:block
}
.bottom-menu .desktop-menu{
	display:none
}
.bottom-menu .cols{
	display:flex;
	flex-wrap:wrap
}
.bottom-menu .col1-of-2{
	width:50%
}
.bottom-menu .company-info strong{
	font-size:16px
}
.bottom-menu .company-info span{
	font-size:14px
}
.bottom-social-button{
	margin:0 10px;
	padding:0
}
.bottom-menu .social{
	display:flex;
	justify-content:center;
	padding:20px 0 13px
}
.bottom-menu .social i{
	transform:scale(.7)
}
.bottom-menu .legal{
	padding-left:0;
	width:100%
}
.bottom-menu .legal .link{
	float:left;
	width:50%
}
.bottom-menu .legal .link:nth-of-type(2n){
	padding-left:15px;
	width:calc(50% - 15px)
}
.bottom-menu .header{
	margin-top:22px
}
.bottom-menu hr{
	background:#dadada;
	border:0;
	display:block;
	height:1px;
	margin:50px 12px 40px;
	width:calc(100% - 30px)
}
.bottom-menu .support-legal{
	display:flex;
	flex-direction:column;
	justify-content:space-between
}
}
