
.chat-topic-block{
	align-items:center;
	background-color:var(--surface-main);
	border-bottom:1px solid var(--divider-color);
	box-sizing:initial;
	display:flex;
	height:48px;
	line-height:20px;
	overflow:hidden;
	padding:0 20px 0 12px;
	position:relative;
	z-index:3
}
.chat-topic-block.in-call{
	border-right:1px solid var(--divider-color);
	margin-right:255px
}
.chat-topic-buttons{
	flex:0 0 auto;
	order:1
}
.chat-topic-info{
	align-items:center;
	display:flex;
	flex:1 1 auto;
	overflow:hidden
}
.chat-topic-info .chat-topic-icon{
	margin:8px 0
}
.chat-topic-icon{
	align-items:center;
	background:#2ba6de;
	background:linear-gradient(45deg, #2ba6de,#55d2f0);
	border-radius:4px;
	display:flex;
	flex:0 0 auto;
	height:32px;
	justify-content:center;
	overflow:hidden;
	position:relative;
	width:32px
}
.chat-topic-icon i{
	--icon-size:24px
}
.chat-topic-text{
	color:var(--text-color-high);
	font:var(--text-body1);
	line-height:16px;
	margin:0 0 0 12px;
	overflow:hidden
}
.chat-topic-text .txt{
	display:block;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap
}
.chat-topic-text span.small{
	color:var(--text-color-medium);
	font:var(--text-body2)
}
.chat-topic-text span.small span{
	margin-right:4px
}
.fm-empty-section.empty-messages{
	position:absolute;
	width:calc(100% - 256px)
}
.messages-block{
	background-color:var(--surface-main);
	height:calc(100% - 49px);
	margin-right:256px;
	overflow:hidden;
	position:relative
}
.messages-block.small-block{
	height:240px;
	overflow:visible
}
.messages.scroll-area{
	height:calc(100% - 68px);
	overflow:hidden;
	position:relative;
	z-index:1
}
.messages.error.scroll-area{
	height:100%
}
.messages.scroll-area .jspVerticalBar{
	width:10px
}
.messages.main-pad,.messages.scroll-area .jspPane{
	display:table;
	height:100%
}
.messages.main-pad{
	table-layout:fixed;
	width:100%
}
.chat-content-block.private-chat .messages.content-area{
	background-color:#fbfcfd
}
.messages.content-area{
	display:table-cell;
	padding:0 0 24px;
	vertical-align:bottom
}
.error.scroll-area .messages.content-area{
	padding:0 0 25px
}
.messages.notification .header{
	color:var(--text-color-high);
	font:var(--text-h1)
}
.messages.notification .header span,.messages.notification .info{
	color:var(--text-color-medium)
}
.messages.notification .info{
	font:var(--text-body1)
}
.messages.notification .info>span{
	display:block;
	padding:0 0 16px
}
.messages.notification .info p{
	font:var(--text-body1);
	margin:0;
	padding:24px 0 0 48px;
	position:relative
}
.messages.notification .info p i{
	--icon-size:36px;
	--mask-color:var(--icon-rest);
	left:0;
	margin:2px 0 0;
	position:absolute
}
.messages.notification .info p strong{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1-bold)
}
.message.body{
	clear:both;
	margin:14px 0 0;
	padding:3px 24px 0;
	position:relative
}
.message.content-area{
	color:#666;
	font-size:0;
	line-height:0;
	margin:0 0 0 48px
}
.message.content-area:after,.typingarea-componentedit-typing-area:after{
	clear:both;
	content:"";
	display:block
}
.message.content-area:before{
	background-color:transparent;
	content:"";
	display:block;
	height:100%;
	left:2px;
	position:absolute;
	top:0;
	transition:background-color .2s ease-in-out;
	width:100%
}
.message.content-area:hover:before{
	background-color:var(--surface-grey-3)
}
.message.small-rounded-avatar{
	align-items:center;
	border-radius:4px;
	display:flex;
	font:var(--text-body1);
	justify-content:center;
	margin:3px 0 6px;
	z-index:1
}
.message.small-rounded-avatar img{
	height:100%;
	width:100%
}
.message.text-block{
	word-wrap:break-word;
	color:var(--text-color-higher);
	font:var(--text-body1);
	margin:0 30px 0 0;
	min-height:20px;
	position:relative;
	white-space:pre-wrap
}
.message.text-block.scroll{
	max-height:60px
}
.message.with-border{
	padding-bottom:10px
}
.message.with-border .message.text-block{
	background-color:var(--surface-grey-1);
	border:1px solid var(--surface-grey-2);
	border-radius:8px;
	margin-top:4px;
	padding:19px 22px;
	position:relative
}
.message.with-border .message.text-block:before{
	border-radius:inherit;
	content:"";
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.message .call-info-container{
	align-items:center;
	display:flex;
	white-space:normal
}
.message .call-info-content{
	color:var(--text-color-medium);
	font:var(--text-body2);
	position:relative
}
.message .call-info-content .bold{
	font-family:var(--text-font-family-semibold)
}
.message i.call-info-icon{
	--icon-size:32px;
	--mask-color:var(--icon-rest);
	display:block;
	float:left;
	margin:0 20px 0 0
}
.message .call-info-message{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1-bold)
}
.not-sent.retrying .message.text-block{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity:.3;
	-khtml-opacity:.3;
	opacity:.3
}
.message.text-block em.edited{
	color:var(--text-color-info);
	font:var(--text-body2);
	font-style:italic
}
.message.text-block a{
	color:var(--secondary-blue);
	text-decoration:underline
}
.message.text-block a.red{
	color:var(--secondary-red)
}
.message.text-block a:hover{
	text-decoration:none
}
.small-info-txt .message.text-block{
	color:var(--text-color-medium)
}
.message .dark-grey-txt{
	color:var(--text-color-low)
}
.message .giphy-block{
	background:var(--surface-grey-2);
	border-radius:6px;
	display:block;
	margin:8px 0;
	position:relative
}
.message.dialog-wrapper .giphy-block{
	height:100%;
	max-width:100%
}
.message.date-time{
	box-sizing:border-box;
	color:var(--text-color-medium);
	display:inline-block;
	font:var(--text-body2);
	height:19px;
	padding-top:1px;
	position:relative;
	vertical-align:top
}
.message.content-area button.message:first-child{
	display:inline-flex;
	vertical-align:top
}
.message.user-card-name{
	color:var(--text-color-high);
	display:inline-block;
	font:var(--text-body1-bold);
	height:19px;
	max-width:calc(100% - 60px);
	padding:0 10px 0 0;
	vertical-align:top
}
.message.date-divider{
	color:var(--text-color-info);
	font:var(--text-h3);
	padding:47px 0 9px 71px
}
.message.shared-block{
	position:relative
}
.message.shared-block .data-block-view,.message.shared-block .data-block-view .avatar-wrapper{
	cursor:pointer
}
.message.shared-block .user-card-presence{
	z-index:1
}
.message.shared-block.contact-link{
	cursor:pointer;
	padding:2px 10px
}
.message.shared-info{
	padding:17px 0 4px;
	white-space:nowrap
}
.message.shared-info:first-child{
	padding:1px 0 8px
}
.message.shared-info .user-card-email{
	padding:0 0 4px
}
.user-card-verified.right-align{
	display:inline-block;
	float:none;
	margin:3px 0 0 -58px;
	position:absolute
}
.message.data-title{
	box-sizing:border-box;
	color:var(--text-color-info);
	display:inline-block;
	font:var(--text-body1);
	max-width:100%;
	overflow:hidden;
	padding:0 70px 0 0;
	text-overflow:ellipsis;
	white-space:nowrap
}
.message.data-title .file-name{
	color:var(--text-color-high);
	padding-left:5px
}
.message.data-title.red{
	color:var(--text-color-error)
}
.message.file-size{
	color:var(--text-color-low);
	display:inline-block;
	font:var(--text-body2);
	margin:3px 0 0 -60px;
	vertical-align:top
}
.message.shared-data,.typingarea-componentedit-typing-area{
	padding-bottom:6px
}
.message.shared-data,.typingarea-componentedit-typing-area button{
	margin:0 0 0 5px
}
.message.shared-data .data-block-view.medium{
	width:126px
}
.message.shared-data .data-block-bg{
	border-radius:8px
}
.message.shared-data .block-view-file-type{
	margin:auto;
	transform:translate(-50%, -50%)
}
.not-sent.message.body:not(.retrying){
	background-color:var(--surface-error);
	padding:12px 24px
}
.not-sent:not(.retrying) .message.date-time,.not-sent:not(.retrying) .message.text-block,.not-sent:not(.retrying) .message.user-card-name{
	color:var(--text-color-low)
}
.not-sent:not(.retrying) .red{
	color:var(--text-color-error)
}
.not-sent-indicator{
	margin:5px 0 0;
	position:absolute;
	right:20px;
	z-index:10
}
.message.circuit-label{
	border:1px solid #fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	display:block;
	font-family:Open Sans Italic;
	font-size:12px;
	height:32px;
	line-height:30px;
	padding:0 10px;
	text-align:center
}
.messages.notification{
	padding:24px 24px 0
}
.message.body.grouped{
	margin:0;
	padding-top:0
}
.message.content-area>.tiny-button{
	float:none;
	margin:2px 0 0;
	position:absolute;
	right:16px;
	top:2px;
	z-index:100
}
.message.content-area .small-blue-spinner{
	margin-top:-15px;
	position:absolute;
	right:24px
}
.message.warning-text{
	color:var(--text-color-low);
	font:var(--text-code1);
	margin:0 0 -1px;
	padding:11px 0 0 7px
}
.message.warning-text i{
	margin:0 5px 0 0
}
.message.body.dialog-wrapper .not-sent-indicator{
	display:none
}
.not-sent.retrying .tiny-button{
	right:47px
}
.not-sent-indicator i{
	cursor:pointer
}
.message em.rtf-italic{
	position:static
}
.message pre.rtf-multi{
	background-color:var(--surface-grey-1);
	border:1px solid var(--surface-grey-2);
	border-radius:3px;
	display:inline-block;
	display:block;
	font:var(--text-code1);
	margin:0;
	padding:0 4px;
	width:auto
}
.message pre.rtf-multi:last-child{
	content:"";
	display:block;
	margin-bottom:2px
}
.message pre.rtf-multi{
	white-space:pre-wrap
}
.message pre.rtf-quote,.message pre.rtf-single{
	background-color:var(--surface-grey-1);
	border-radius:3px;
	display:inline;
	font:var(--text-code1);
	margin:0;
	padding:0 4px;
	white-space:normal
}
.message pre.rtf-single{
	color:var(--secondary-red)
}
.message.content-area .buttons-block{
	padding:10px 0 0
}
.message.content-area .buttons-block button:not(:last-of-type){
	margin-right:8px
}
.shared-link.thumb.video.no-thumb img{
	opacity:0
}
.message.richpreview.previews-container{
	padding-right:27px
}
.message.richpreview .title{
	font-size:15px;
	line-height:24px
}
.confirmation .message.richpreview.title{
	margin-top:4px
}
.message.richpreview .url-container{
	margin-top:4px;
	padding-bottom:2px;
	white-space:nowrap
}
.message.richpreview .desc,.message.richpreview .url-container{
	font:var(--text-body1);
	overflow:hidden;
	text-overflow:ellipsis
}
.message.richpreview .desc{
	color:var(--text-color-medium);
	margin-top:2px
}
.confirmation .message.richpreview .desc{
	color:var(--text-color-medium);
	line-height:20px;
	margin-top:3px;
	min-height:36px
}
.message.richpreview .desc span span:last-child{
	display:inline-block;
	padding-top:6px
}
.message.richpreview.container{
	border-radius:8px;
	box-sizing:border-box;
	clear:both;
	cursor:pointer;
	display:inline-block;
	float:left;
	margin-bottom:8px;
	margin-top:9px;
	padding:4px;
	position:relative;
	transition:all .2s ease-in-out;
	width:100%
}
.message.richpreview.container.done-loading:hover{
	z-index:100
}
.message.richpreview.have-description,.message.richpreview.no-description{
	min-height:80px
}
.message.richpreview.container.is-loading{
	cursor:wait
}
.message.richpreview.container .loading-spinner{
	position:absolute
}
.message.richpreview.container:before{
	-moz-border-radius:inherit;
	-webkit-border-radius:inherit;
	border-radius:inherit;
	content:"";
	display:block;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.message.richpreview.container.done-loading,.message.richpreview.container.is-loading{

	width:402px
}
.message.richpreview.preview{
	background-position:50% middle;
	background-size:contain;
	border-radius:4px;
	height:112px;
	opacity:.9;
	width:112px
}
.message.richpreview .data-title{
	display:block;
	padding:0
}
.message.richpreview.done-loading .title{
	max-width:90%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.message.richpreview .data-title img{
	float:left;
	margin-right:4px;
	margin-top:4px;
	opacity:.9
}
.message.richpreview.title{
	color:var(--text-color-high);
	float:left;
	font:var(--text-body1-bold);
	margin-top:2px;
	padding-top:2px
}
.message.richpreview.body{
	display:table;
	margin:0;
	padding:0;
	position:relative;
	table-layout:fixed;
	width:100%
}
.message.richpreview.img-wrapper,.message.richpreview.inner-wrapper{
	display:table-cell;
	padding:0 16px;
	vertical-align:middle
}
.confirmation .message.richpreview.img-wrapper{
	width:128px
}
.message.richpreview.img-wrapper{
	padding:0;
	width:112px
}
.message.richpreview.url{
	text-decoration:none
}
.message.richpreview.url:hover{
	text-decoration:underline
}
.message.richpreview.url-favicon{
	float:left;
	margin-top:2px;
	padding-right:8px
}
.message.richpreview.loading-message{
	text-align:center
}
.richpreview.no-preview.container{
	min-height:80px
}
.richpreview.no-description.no-preview.container{
	min-height:60px
}
.message.richpreview.container.is-loading{
	background-color:#fafafa;
	min-height:110px !important
}
.message.richpreview.previews-container>:not(:last-child){
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.message.richpreview.previews-container>:not(:first-child){
	border-top:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-top:-8px
}
.message.richpreview.preview-confirmation{
	height:130px;
	margin:-10px 0 0;
	width:130px
}
.message.richpreview.container{
	background-color:var(--surface-grey-1);
	border:1px solid var(--surface-grey-2)
}
.message.richpreview.container.confirmation{
	cursor:default;
	max-width:620px
}
.preview-requires-confirmation-container .message.content-area:hover:before{
	background-color:rgba(43, 166, 222, .02)
}
.message.richpreview.have-preview .message.richpreview.url-container{
	color:var(--text-color-low);
	left:124px;
	line-height:18px
}
.message.richpreview.confirmation .buttons-block{
	float:right;
	margin:0 -12px 0 0;
	padding:10px 0 8px
}
.message.richpreview.confirmation .buttons-block>*{
	height:34px;
	margin:0 4px;
	padding:0 17px
}
.message.richpreview.confirmation .buttons-block span{
	line-height:34px
}
.richpreview.icon.block-view-file-type{
	float:left;
	left:auto;
	margin:0 14px 0 0;
	position:static;
	top:auto
}
.richpreview.have-icon .block-view-file-type{
	margin:14px 12px 14px 20px
}
.richpreview .main-loader{
	margin-left:-16px;
	margin-top:-16px
}
.message.richpreview.container.is-loading,.message.richpreview.container.is-loading:after,.message.richpreview.container.is-loading:before{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.message.richpreview.container.is-loading{
	border-color:#ededed
}
.chat-topic-block.privateChat .privateChatDiv{
	background-image:url(../imagery/mega-new-chat-sprite.de575d05c0a6c86f.png);
	background-position:0 -4137px;
	background-repeat:no-repeat;
	background-size:237px auto;
	display:inline-block;
	height:16px;
	margin-left:5px;
	width:16px
}
.message.text-block::selection,.message.user-card-name::selection{
	background-color:#d9d9d9
}
.message.text-block::-moz-selection,.message.user-card-name::-moz-selection{
	background-color:#d9d9d9
}
.message.call-inner-block>.small-rounded-avatar{
	position:relative;
	z-index:1
}
.message .audio-player{
	align-items:center;
	background-color:var(--surface-grey-1);
	border:1px solid var(--surface-grey-2);
	border-radius:8px;
	display:flex;
	height:50px;
	margin-bottom:10px;
	margin-top:10px;
	position:relative;
	width:402px
}
body.theme-dark .message .audio-player{
	background-color:var(--surface-main)
}
.message .audio-player i{
	--mask-color:var(--icon-rest);
	--icon-size:24px;
	padding-inline-start:12px
}
.message .audio-player .audio-player__play-btn{
	border-bottom:10px solid transparent;
	border-left:12px solid #666;
	border-top:10px solid transparent;
	height:0;
	top:33%;
	width:0
}
.message .audio-player .audio-player__pause-btn,.message .audio-player .audio-player__play-btn{
	cursor:pointer;
	display:inline-block;
	left:20px;
	position:absolute
}
.message .audio-player .audio-player__pause-btn{
	border-color:#666;
	border-left:2px solid;
	border-right:2px solid;
	height:16px;
	top:33%;
	width:10px
}
.message .audio-player .slider{
	background-color:#ddd;
	display:inline-block;
	height:2px;
	left:55px;
	position:absolute;
	top:50%;
	width:284px
}
.message .audio-player .slider__progress{
	background-color:var(--secondary-red);
	display:inline-block;
	height:2px;
	transition:0s
}
.message .audio-player .slider__progress__pin{
	background:linear-gradient(180deg, #fff, #fafafa);
	border:1px solid rgba(0, 0, 0, .05);
	border-radius:50%;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	display:inline-block;
	height:14px;
	position:absolute;
	top:-7px;
	width:14px
}
.message .audio-player .audio-player__time{
	color:var(--text-color-medium);
	font:var(--text-body1);
	position:absolute;
	right:20px
}
.message .audio-player .audio-player__spinner{
	left:20px;
	position:absolute;
	top:70%
}
.reactions-bar{
	clear:both;
	display:flex;
	line-height:20px;
	margin:2px 0 4px
}
.reactions-bar>div{
	display:inline-block;
	position:relative
}
.reactions-bar>div span.message.text-block{
	margin:0 4px 0 0
}
.reactions-bar img.emoji{
	cursor:pointer
}
.reactions-bar em{
	display:inline;
	font-size:16px;
	font-style:normal;
	line-height:12px;
	margin-right:3px;
	position:relative;
	top:1px
}
.reactions-bar .emoji-loading-error{
	position:relative;
	top:2px
}
.reactions-bar .emoji-loading-error span.text-block{
	position:relative;
	top:-2px
}
.reactions-bar .disabled,.reactions-bar .disabled *{
	cursor:default !important
}
.reactions-bar>div{
	padding-inline:4px;
	align-items:center;
	background-color:var(--surface-grey-2);
	border:1px solid var(--surface-grey-1);
	border-radius:11px;
	box-sizing:border-box;
	cursor:pointer;
	display:flex;
	height:23px;
	margin-left:2px;
	width:auto;
	z-index:1
}
.reactions-bar>div:hover{
	background-color:var(--surface-grey-1);
	border-color:var(--surface-grey-2)
}
.reactions-bar>div.reactions-button{
	background-color:var(--surface-grey-2);
	border:1px solid var(--surface-grey-1);
	border-radius:11px;
	cursor:pointer;
	height:24px;
	margin-top:0;
	position:relative;
	z-index:1
}
.reactions-bar>div.reactions-button:hover{
	background-color:var(--surface-grey-1);
	border-color:var(--surface-grey-2)
}
.reactions-bar>div.reactions-button i{
	--icon-size:24px
}
.reactions-bar>div>img.emoji{
	height:15px;
	margin:0 3px 0 0;
	width:15px
}
.reactions-bar>div>span.message.text-block{
	color:var(--text-color-medium);
	font-family:var(--text-font-family-black);
	font-size:9px;
	height:11px;
	width:6px
}
.reactions-bar>div.reactions-button>img.emoji{
	margin-top:1px
}
.reactions-bar>div.user-reacted{
	background-color:var(--banner-background-info);
	border:1px solid var(--banner-border-info)
}
.message.content-area>.right-aligned-msg-buttons{
	float:right;
	margin-top:-16px;
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	position:relative;
	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-ms-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;
	z-index:1
}
.force-show-message-action-buttons .message.content-area>.right-aligned-msg-buttons,.force-show-message-action-buttons .message.content-area>.right-aligned-msg-buttons>*,.message.content-area:hover>.right-aligned-msg-buttons{
	opacity:1
}
.message.content-area>.right-aligned-msg-buttons>*{
	align-items:center;
	background:var(--surface-grey-3);
	display:flex;
	height:27px;
	justify-content:center
}
.message.content-area>.right-aligned-msg-buttons.total-2>.reactions-button{
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	margin-left:-2px
}
.message.content-area>.right-aligned-msg-buttons.total-2>.tiny-button:not(.reactions-button){
	border-bottom-left-radius:0;
	border-left:transparent;
	border-top-left-radius:0
}
.message.content-area>.right-aligned-msg-buttons.total-2>.tiny-button{
	box-shadow:0 0 0 0 rgba(0, 0, 0, .15)
}
.right-aligned-msg-buttons.total-1 .reactions-button,.right-aligned-msg-buttons.total-1 .reactions-button:after,.right-aligned-msg-buttons.total-1 .reactions-button:before,.right-aligned-msg-buttons.total-1 .reactions-button:hover,.right-aligned-msg-buttons.total-1 .reactions-button:hover:after,.right-aligned-msg-buttons.total-1 .reactions-button:hover:before{
	background-color:initial;
	border:0 !important;
	-webkit-box-shadow:0 0 0 0 transparent;
	-moz-box-shadow:0 0 0 0 transparent;
	box-shadow:0 0 0 0 transparent
}
.right-aligned-msg-buttons i{
	--icon-size:24px;
	--mask-color:var(--icon-rest)
}
.message .geolocation{
	background-color:var(--surface-grey-1);
	border:1px solid var(--surface-grey-2);
	border-radius:8px;
	cursor:pointer;
	height:122px;
	margin-bottom:10px;
	margin-top:10px;
	position:relative;
	width:402px
}
.message .geolocation .geolocation__coordinates{
	color:var(--text-color-medium);
	font:var(--text-body1)
}
.message .geolocation .geolocation__img{
	background-image:url(../images/mega/link_location@2x.png?v=1c0e5e763b8bc78c);
	background-size:contain;
	display:inline-block;
	height:112px;
	left:-35px;
	position:relative;
	top:5px;
	width:112px
}
.message .geolocation .geolocation__data-list{
	left:95px;
	position:absolute;
	top:50%;
	transform:translateY(-50%)
}
.message .geolocation ul li:nth-child(3){
	padding-left:20px
}
.message .geolocation ul li{
	margin:0 0 10px
}
.message .geolocation .geolocation__title{
	color:var(--text-color-high);
	font:var(--text-h3)
}
.message .geolocation .geolocation__text-md{
	font-size:15px
}
.message .geolocation .geolocation__coordinates-icon{
	background-image:url(../images/mega/google-icon.png?v=9f570f823623f32a);
	background-repeat:no-repeat;
	background-size:contain;
	display:block;
	float:left;
	height:15px;
	margin:2px 4px 0 0;
	width:15px
}
.geolocation-icon,.voice-message-icon{
	--icon-size:20px;
	--mask-color:var(--icon-rest);
	display:block;
	float:left;
	margin:-2px 0 0 -4px
}
