.emoji.demo-icon{
	display:block;
	float:left;
	margin:14px 0 0;
	top:0
}
.emoji.square-button{
	margin:3px 5px 0
}
.emoji.square-button span{
	top:6px
}
.emoji.square-button img{
	position:relative;
	top:5px
}
.emoji-type-txt{
	color:#666;
	font-size:14px;
	line-height:18px;
	padding:21px 11px 13px;
	text-transform:uppercase
}
.emoji-type-txt:first-child{
	padding:2px 11px 15px
}
.emoji.title{
	color:#666;
	float:left;
	font-size:14px;
	line-height:18px;
	margin:15px 0 0 10px
}
.emoji.emoji-loading{
	background-color:rgba(0, 0, 0, .02);
	border-radius:6px
}
.emoji-preview{
	padding-left:10px
}
.emoji-preview img{
	display:inline-block;
	float:left;
	margin:14px 0 0 !important;
	vertical-align:top
}
.dropdown.emoji .loading{
	color:rgba(0, 0, 0, .3);
	height:100%;
	margin-top:60%;
	text-align:center;
	width:100%
}
.popup-footer.emoji .button i{
	margin:6px auto 0
}
.chat-topic-block img.emoji.big,.fm-picker-dialog img.emoji.big,.result-table-row img.emoji.big,.small-info-txt img.emoji.big,img.emoji{
	display:inline-block;
	height:20px;
	margin-left:2px;
	margin-right:2px;
	margin-top:-3px;
	vertical-align:middle;
	width:20px
}
.result-table-row img.emoji,.result-table-row img.emoji.big{
	margin-top:0
}
.chat-topic-block .chat-topic-text img.emoji,.chat-topic-block .chat-topic-text img.emoji.big{
	height:18px;
	margin:unset;
	width:18px
}
.fm-picker-dialog img.emoji.big{
	margin-top:2px
}
img.emoji.big{
	display:inline-block;
	height:32px;
	margin:4px 2px 6px;
	vertical-align:middle;
	width:32px
}
.conversations-pane img.emoji{
	height:12px;
	width:12px
}
.button.square-button{
	border-radius:4px;
	box-sizing:border-box;
	float:left;
	height:32px;
	text-align:center;
	-webkit-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
	width:32px
}
.button.square-button:last-child{
	margin-right:0
}
.button.square-button i{
	--icon-size:24px;
	--mask-color:var(--icon-rest);
	transition:all .2s ease-in-out
}
.button.square-button.active i,.button.square-button:hover i{
	--mask-color:var(--icon-active)
}
.button.square-button:after{
	bottom:-6px;
	content:"";
	display:block;
	height:2px;
	left:-2px;
	position:relative;
	transition:all .2s ease-in-out;
	width:36px
}
.button.square-button.active:after{
	background-color:var(--stroke-info)
}
.button.square-button.emoji{
	cursor:pointer
}
