
.typing-block{
	bottom:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 0 0 72px;
	position:absolute;
	width:100%
}
.typing-text{
	color:var(--text-color-low);
	font:var(--text-body2);
	line-height:13px;
	max-width:calc(100% - 66px);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.typing-bounce,.typing-text{
	display:inline-block;
	vertical-align:middle
}
.typing-bounce{
	margin-left:4px;
	text-align:center;
	width:34px
}
.typing-bounce div{
	-webkit-animation:typing-bounce 1.4s ease-in-out 0s infinite both;
	animation:typing-bounce 1.4s ease-in-out 0s infinite both;
	background-color:#777;
	border-radius:100%;
	display:inline-block;
	height:4px;
	margin:0 1px;
	vertical-align:middle;
	width:4px
}
.typing-bounce div.typing-bounce1{
	-webkit-animation-delay:-.32s;
	animation-delay:-.32s
}
.typing-bounce div.typing-bounce2{
	-webkit-animation-delay:-.16s;
	animation-delay:-.16s
}
@-webkit-keyframes typing-bounce{
0%,80%,to{
	-webkit-transform:scale(0);
	transform:scale(0)
}
40%{
	-webkit-transform:scale(1);
	transform:scale(1)
}
}
@keyframes typing-bounce{
0%,80%,to{
	-webkit-transform:scale(0);
	transform:scale(0)
}
40%{
	-webkit-transform:scale(1);
	transform:scale(1)
}
}
