
.conversationsApp,.section{
	height:100%;
	width:100%
}
.section.conversations{
	height:calc(100% - 48px)
}
.section.conversations .fm-right-files-block{
	height:100%
}
.conversation-panel,.conversation-panels{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:100%;
	position:relative
}
.chat-content-block{
	height:100%;
	position:relative
}
.chat-content-block,.chat-content-block .chat-topic-block,.chat-content-block .messages-block{
	transition:margin-right .2s ease-in-out
}
.chat-content-block.no-pane,.chat-content-block.no-pane .chat-topic-block,.chat-content-block.no-pane .messages-block{
	margin-right:0
}
.chat-content-block.private-chat .chat-heading-area{
	background-color:#f4f8f9;
	border-bottom:1px solid #d9e6eb
}
.chat-content-block.private-chat .chat-right-area{
	background-color:#f4f8f9
}
.chat-content-block.private-chat .chat-button-separator,.chat-content-block.private-chat .chat-right-area:after{
	background-color:#d9e6eb
}
.chat-content-block.private-chat .chat-right-area .buttons-block,.chat-content-block.private-chat .public-observer-block{
	border-top:1px solid #d9e6eb
}
.chat-content-block.private-chat .chat-heading span,.chat-content-block.private-chat .chat-right-head-txt{
	color:#273b44
}
.chat-content-block.private-chat .link-button span{
	color:#4e6b78
}
.chat-right-area{
	background-color:var(--surface-main);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:100%;
	position:absolute;
	right:0;
	width:256px
}
.chat-right-area:after{
	content:"";
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:1px;
	z-index:1
}
.chat-right-area .chat-right-area{
	float:none
}
.chat-right-pad{
	border-left:1px solid var(--divider-color);
	box-sizing:border-box;
	height:100%;
	padding:48px 0 0
}
.chat-right-pad.in-call{
	padding-top:0
}
.chat-right-head{
	clear:both;
	padding:4px 16px 24px
}
.chat-right-head-txt{
	color:#111;
	font-family:LatoWebSemibold,source_sans_prosemibold;
	font-size:15px;
	line-height:22px;
	padding:0
}
.chat-grey-counter{
	background-color:#777;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#fff;
	float:right;
	font-size:11px;
	height:16px;
	line-height:16px;
	margin:2px 0 0;
	padding:0 6px
}
.chat-contacts-list .buttons-block{
	min-height:192px
}
.chat-contacts-list-inner .contacts-info.body.right-chat-contact-card{
	min-height:49px
}
.chat-right-pad .contacts-info.body{
	padding:8px 0 8px 22px
}
.contacts-info.body{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	clear:both;
	padding:6px 0;
	position:relative
}
.contacts-info.body.short{
	padding:0
}
.short .small-rounded-avatar{
	border:0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	height:32px;
	width:32px
}
.short .small-rounded-avatar:before{
	display:none
}
.short .user-card-name.light{
	display:inline-block;
	font-size:14px;
	line-height:17px;
	max-width:100%;
	vertical-align:top
}
.short .user-card-data{
	padding:0 30px 0 44px
}
.chat-topic-block .contacts-info.body.short{
	align-items:center;
	display:flex;
	flex:1 1 auto;
	font-size:0;
	line-height:0;
	overflow:hidden
}
.chat-topic-block .small-rounded-avatar{
	margin:8px 0
}
.chat-topic-block .contacts-info .user-card-data{
	overflow:hidden;
	padding:0 0 0 12px
}
.contacts-info.body.short{
	padding:0
}
.short .small-rounded-avatar{
	align-items:center;
	border:0;
	border-radius:4px;
	box-shadow:none;
	display:flex;
	font:var(--text-body1);
	height:32px;
	justify-content:center;
	width:32px
}
.short .small-rounded-avatar img{
	height:32px;
	width:32px
}
.short .small-rounded-avatar:before{
	display:none
}
.short .user-card-name.light{
	display:inline-block;
	font-size:14px;
	line-height:17px;
	max-width:100%;
	vertical-align:top
}
.short .user-card-status span{
	color:var(--text-color-low);
	display:inline-block;
	font:var(--text-body2);
	vertical-align:top
}
.short .user-card-presence{
	margin:6px 4px 6px 2px;
	vertical-align:top
}
.chat-topic-buttons .button{
	cursor:pointer;
	margin:0 0 0 26px
}
.chat-topic-buttons i{
	--icon-size:24px;
	--mask-color:var(--secondary-blue)
}
.contacts-info .tiny-button{
	margin:1px 0 0;
	position:absolute;
	right:4px
}
.contacts-info .user-card-data{
	line-height:0;
	padding-right:15px
}
.chat-right-area .buttons-block{
	border-top:1px solid rgba(0, 0, 0, .1);
	margin:16px 0;
	padding:14px 16px
}
.chat-right-area .buttons-block .chat-right-head-txt{
	margin-bottom:14px
}
.chat-right-area .link-button{
	margin:2px 0;
	white-space:normal;
	width:100%
}
.chat-right-area .link-button i{
	--icon-size:24px;
	--mask-color:var(--icon-rest)
}
.chat-right-area .dropdown-item.link-button.light:not(.disabled):hover i,.chat-right-area .link-button.light:not(.disabled):hover i{
	--mask-color:var(--icon-active)
}
.chat-right-area .link-button .mega-switch{
	position:absolute;
	right:6px;
	top:4px
}
.chat-right-area .link-button.push-settings-button{
	height:auto
}
.chat-right-area .link-button.light.push-settings-button>span:first-of-type{
	overflow:hidden;
	padding:0 0 0 4px;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:calc(100% - 80px)
}
.chat-right-area .link-button.push-settings-button span.label--green{
	color:var(--text-color-medium);
	display:block;
	margin:-10px 0 0
}
.chat-right-area .link-button.push-settings-button span.label--green strong{
	color:var(--label-green);
	font:var(--text-body1-bold)
}
.chat-right-area .link-button.history-retention-btn{
	height:53px
}
.chat-right-area .link-button.history-retention-btn .label--red{
	color:var(--label-red);
	line-height:18px
}
.chat-right-area .link-button.green{
	color:var(--label-green)
}
.chat-right-area .link-button i.get-link{
	margin-left:7px;
	margin-right:0
}
.chat-right-area .big-button{
	margin:25px 23px 0
}
.right-chat-contact-card .contact-card-dropdown .dropdown-white-arrow{
	margin-left:59px
}
.date-time{
	color:var(--text-color-medium);
	font:var(--text-body2)
}
.round-icon-block{
	border:2px solid #fff;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:36px;
	overflow:hidden;
	width:36px
}
.grey-color{
	color:#999
}
.buttons-block{
	padding:11px 0 0
}
.contacts-info .contacts-icon{
	float:right;
	margin:5px 4px 0 0
}
.contacts-info .contacts-icon:hover{
	border-radius:4px
}
.contacts-info .contacts-icon i{
	--icon-size:24px;
	--mask-color:var(--icon-rest)
}
.group-chat .contacts-info .user-card-data{
	height:32px;
	overflow:auto;
	padding-left:10px
}
.chat-heading-area{
	background-color:#fff;
	border-bottom:1px solid #ccc;
	height:36px;
	width:100%
}
.chat-heading-area .chat-heading{
	display:inline-block;
	line-height:38px
}
.chat-heading-area .chat-heading span{
	font-family:source_sans_prosemibold;
	font-size:15px;
	margin:0 12px 0 24px
}
.chat-heading-area .chat-heading i{
	margin-top:8px
}
.add-chat-contact{
	color:#2ba6de;
	cursor:pointer;
	font-family:source_sans_prosemibold;
	font-size:14px;
	margin-bottom:20px;
	margin-top:15px;
	padding-left:20px;
	text-align:left
}
.chat-button-separator{
	border-top:1px solid var(--divider-color);
	display:block;
	margin:4px 0;
	width:100%
}
.dropdown.body.wide-dropdown.attach-to-chat-popup.light{
	padding-bottom:8px
}
.public-observer-block{
	border-top:1px solid rgba(0, 0, 0, .1);
	margin:16px 16px 0;
	padding:20px 0 24px
}
.public-observer-block .chat-white-counter{
	background-color:transparent;
	border:1px solid #777;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#666;
	float:right;
	font-size:12px;
	height:16px;
	line-height:16px;
	margin:2px 0 0;
	padding:0 6px
}
.join-chat-block{
	background-color:var(--surface-main);
	height:72px;
	text-align:center
}
.join-chat-block .join-chat-button:hover{
	opacity:1;
	-webkit-transition:opacity .15s ease-in-out;
	-moz-transition:opacity .15s ease-in-out;
	-o-transition:opacity .15s ease-in-out;
	-ms-transition:opacity .15s ease-in-out;
	transition:opacity .15s ease-in-out
}
.group-chat .chat-right-pad .contacts-info.body{
	height:32px;
	padding:0 1px 0 0
}
.group-chat .contacts-info .contacts-icon{
	margin:2px 0 0;
	padding:2px 3px
}
.group-chat .chat-contacts-list-inner .contacts-info.body.right-chat-contact-card{
	max-height:36px;
	min-height:32px
}
.chat-content-block.archived-chats{
	height:100%;
	position:relative
}
.archived-chat-view .grid-table-header th{
	color:var(--text-color-medium);
	margin-top:12px
}
.archived-chat-view .grid-table-header th i{
	--icon-size:24px;
	--mask-color:var(--icon-rest);
	float:right
}
.arc-chat-messages-block tr.arc-chat-list{
	height:72px
}
.arc-chat-messages-block tr.arc-chat-list.ui-selected{
	background:var(--surface-grey-1)
}
.arc-chat-messages-block tr.arc-chat-list .nw-contact-avatar{
	margin-top:18px
}
.arc-chat-messages-block .fm-chat-user-info{
	-webkit-padding-start:8px;
	margin:7px 0 0;
	padding-inline-start:8px;
	width:calc(100% - 160px)
}
.arc-chat-messages-block .fm-chat-user-info .user-card-name{
	float:none
}
.arc-chat-messages-block .user-card-name.conversation-name{
	color:var(--text-color-high);
	font:var(--text-body1)
}
.arc-chat-messages-block .user-card-name.conversation-name i{
	float:right;
	margin:2px 6px
}
.arc-chat-messages-block .archived-on{
	display:inline-block;
	margin-top:22px
}
.arc-chat-messages-block .archived-date-time{
	color:var(--text-color-low);
	display:inline-block;
	font:var(--text-body2)
}
.arc-chat-messages-block .conversation-message{
	color:var(--text-color-medium);
	float:none
}
.arc-chat-messages-block .archived-badge{
	background-color:var(--surface-grey-4);
	border-radius:4px;
	color:var(--text-color-high);
	float:right;
	font:var(--text-caption);
	height:18px;
	margin-right:10px;
	margin-top:25px;
	padding:0 8px
}
table.arc-chat-messages-block{
	table-layout:fixed
}
.conversations-pane .active .archived-badge{
	background-color:#fff;
	color:#65bbe2
}
.conversations-pane .archived-badge{
	background-color:#777;
	border-radius:4px;
	color:#fff;
	font-size:11px;
	height:18px;
	line-height:18px;
	margin-right:10px;
	margin-top:21px;
	padding:0 8px;
	position:absolute;
	right:0
}
.conversations-pane .archived-badge+.conversation-message{
	margin:0 76px 0 0
}
.arc-chat-messages-block .arc-chat-list:hover button.mega-button{
	display:inline-block
}
.arc-chat-messages-block button.mega-button{
	display:none;
	position:absolute;
	right:20px;
	top:16px
}
.arc-chat-messages-block .arc-chat-list.ui-selected button.mega-button{
	display:inline-block
}
.chat-dropdown.container.is-loading{
	opacity:.4
}
.chat-shared-files-container{
	opacity:1;
	transition:opacity .15s ease-in-out
}
.chat-shared-files-container.is-loading{
	opacity:.4
}
.chat-dropdown.header{
	align-items:center;
	box-sizing:initial;
	color:var(--text-color-high);
	cursor:pointer;
	display:flex;
	font:var(--text-h3-bold);
	height:48px;
	justify-content:space-between;
	padding-inline-end:10px;
	padding-inline-start:10px
}
.chat-dropdown~.chat-dropdown .chat-dropdown.header{
	border-top:1px solid var(--divider-color)
}
.chat-dropdown.content{
	line-height:0;
	padding:0 14px 4px
}
.chat-dropdown.content.buttons{
	padding:0 8px 4px
}
.chat-dropdown.content.small-pad{
	padding:0 10px 4px 12px
}
@-webkit-keyframes fadeinslide{
0%{
	opacity:.2;
	transform:translateY(-10px)
}
50%{
	opacity:.8;
	transform:translateY(-4px)
}
to{
	opacity:1;
	transform:translateY(0)
}
}
@keyframes fadeinslide{
0%{
	opacity:.2;
	transform:translateY(-4px)
}
50%{
	opacity:.8;
	transform:translateY(-1px)
}
to{
	opacity:1;
	transform:translateY(0)
}
}
.chat-dropdown.content.small-pad{
	-webkit-animation:fadeinslide .2s ease-in forwards;
	animation:fadeinslide .2s ease-in forwards
}
.chat-dropdown.content.small-pad .link-button{
	display:block;
	margin:4px -2px 4px -4px;
	width:auto
}
.chat-dropdown.header i{
	--icon-size:24px;
	--mask-color:var(--icon-rest);
	transform:rotate(-90deg);
	transition:transform .2s ease-in-out
}
.chat-dropdown.header.expanded i{
	transform:rotate(0deg)
}
.chat-dropdown.empty-txt{
	color:var(--text-color-high);
	font:var(--text-body1);
	padding:0 0 10px
}
.chat-dropdown.empty-txt.loading-initial{
	min-height:120px
}
.chat-dropdown .dropdown-item.link-button.light span,.chat-dropdown .link-button.light span{
	padding-left:35px;
	padding-right:0
}
.chat-shared-block{
	border-top:1px solid var(--divider-color);
	opacity:1;
	padding:5px 0;
	position:relative;
	transition:opacity .15s ease-in-out
}
.chat-shared-block.is-loading{
	opacity:.3
}
.chat-shared-block>*{
	cursor:pointer
}
.chat-shared-block .shared-folder-access{
	position:absolute;
	right:-5px;
	top:23px;
	z-index:1
}
.chat-shared-block:first-child{
	border:0
}
.chat-shared-block>*{
	-webkit-animation:fadeinslide .2s ease-in forwards;
	animation:fadeinslide .2s ease-in forwards
}
.chat-shared-block .medium-file-icon{
	float:left;
	margin:8px 0
}
.chat-shared-block .icon-or-thumb .img-wrapper{
	display:none
}
.chat-shared-block .icon-or-thumb.thumb .img-wrapper{
	display:block
}
.chat-shared-block .icon-or-thumb.thumb .medium-file-icon{
	display:none
}
.chat-shared-block .chat-shared-info{
	color:var(--text-color-medium);
	font:var(--text-body1-bold);
	padding:0 0 0 51px
}
.chat-shared-block.incoming .chat-shared-info{
	padding:9px 35px 9px 51px
}
.chat-shared-block .chat-shared-info .txt{
	display:block;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap
}
.chat-shared-block .chat-shared-info .txt:first-child{
	color:var(--text-color-high);
	font:var(--text-body1-bold)
}
.chat-shared-block .chat-shared-info .small{
	font:var(--text-body2)
}
.chat-shared-block .chat-shared-info .grey{
	color:var(--text-color-low)
}
.chat-shared-block .img-wrapper{
	background-image:linear-gradient(45deg, hsla(0, 0%, 87.1%, .72) 25%, transparent 0), linear-gradient(-45deg, hsla(0, 0%, 87.1%, .72) 25%, transparent 0), linear-gradient(45deg, transparent 75%, hsla(0, 0%, 87.1%, .72) 0), linear-gradient(-45deg, transparent 75%, hsla(0, 0%, 87.1%, .72) 0);
	background-position:0 0, 0 12px, 12px -12px, -12px 0;
	background-repeat:repeat;
	background-size:24px 24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	float:left;
	height:36px;
	margin:9px 0 0;
	overflow:hidden;
	position:relative;
	width:36px
}
.chat-shared-block .img-wrapper img{
	bottom:0;
	height:100%;
	left:0;
	margin:auto;
	object-fit:cover;
	position:absolute;
	right:0;
	top:0;
	width:100%
}
.chat-share-nav.body{
	margin:13px 0 12px;
	position:relative;
	text-align:center
}
.chat-share-nav.show-all{
	cursor:pointer
}
.chat-share-nav.body:before{
	border-top:1px solid var(--divider-color);
	content:"";
	display:block;
	left:0;
	position:absolute;
	top:-13px;
	width:100%
}
.chat-share-nav.body span{
	color:#333;
	display:inline-block;
	font-size:13px;
	line-height:18px;
	position:relative;
	vertical-align:top
}
.chat-share-nav.button{
	background:#fff;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #fff 0, #fefefe 100%);
	background:-webkit-linear-gradient(top, #fff,#fefefe);
	background:linear-gradient(180deg, #fff 0,#fefefe);
	border-radius:100%;
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .45);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .45);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .45);
	cursor:pointer;
	float:left;
	height:24px;
	margin:4px 0 0;
	position:relative;
	width:24px
}
.chat-share-nav.button:before{
	background-image:url(../imagery/mega-new-chat-sprite.de575d05c0a6c86f.png);
	background-position:-41px -973px;
	border-radius:100%;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	content:"";
	display:block;
	height:100%;
	width:100%
}
.chat-share-nav.button.next{
	float:right
}
.chat-share-nav.button.next:before{
	background-position:-67px -973px
}
.chat-share-nav.pages{
	color:var(--text-color-high);
	font:var(--text-body2);
	padding:7px 30px 3px;
	text-align:center
}
.chat-share-nav.body .txt{
	padding:2px 0 0 6px
}
.transfer-filetype-icon .transfer-filetype-icon{
	left:3px;
	position:absolute;
	top:-2px
}
.fm-start-chat-dropdown.dropdown.body{
	left:auto;
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	right:-13px;
	z-index:1000
}
.fm-start-chat-dropdown.dropdown.body.active{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1
}
.fm-chat-popup-button{
	background-color:hsla(0, 0%, 100%, 0);
	background-image:url(../imagery/mega-fm-main-sprite.f256151d885b5594.png);
	background-position:0 -2516px;
	background-repeat:no-repeat;
	color:#ccc;
	cursor:pointer;
	font-size:13px;
	height:32px;
	line-height:31px;
	padding:0 15px 0 50px;
	position:relative;
	-webkit-transition:background-color .2s ease-in-out;
	-moz-transition:background-color .2s ease-in-out;
	-o-transition:background-color .2s ease-in-out;
	-ms-transition:background-color .2s ease-in-out;
	transition:background-color .2s ease-in-out;
	white-space:nowrap
}
.fm-chat-popup-button.active,.fm-chat-popup-button:hover{
	background-color:#d51600;
	color:#fff
}
.fm-chat-popup-button.disabled.start-chat,.fm-chat-popup-button.disabled.start-chat:hover,.fm-chat-popup-button.start-chat{
	background-position:0 -7018px
}
.fm-chat-popup-button.start-chat.active,.fm-chat-popup-button.start-chat:hover{
	background-color:#1da1e9;
	background-position:0 -7260px
}
.fm-chat-popup-button.disabled.start-audio,.fm-chat-popup-button.disabled.start-audio:hover,.fm-chat-popup-button.start-audio{
	background-position:1px -1799px
}
.fm-chat-popup-button.start-audio.active,.fm-chat-popup-button.start-audio:hover{
	background-color:#1da1e9;
	background-position:0 -2259px
}
.fm-chat-popup-button.disabled.start-video,.fm-chat-popup-button.disabled.start-video:hover,.fm-chat-popup-button.start-video{
	background-position:-1px -1764px
}
.fm-chat-popup-button.start-video.active,.fm-chat-popup-button.start-video:hover{
	background-color:#1da1e9;
	background-position:-1px -2004px
}
.fm-chat-popup-button.disabled,.fm-chat-popup-button.disabled:hover{
	background-color:initial !important;
	color:#ccc;
	cursor:default;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6
}
.fm-chat-user-info{
	display:block;
	float:left;
	margin:7px 0 0 12px
}
.fm-chat-user{
	color:#333;
	display:block;
	font-family:source_sans_prosemibold;
	font-size:14px;
	line-height:18px;
	margin-right:20px;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap
}
.calculated-width{
	width:-webkit-calc(100% - 330px);
	width:-moz-calc(100% - 330px);
	width:calc(100% - 330px)
}
.chat-right-pad .link-button .small-icon.chat-lock{
	margin-top:3px
}
.chat-contactspicker-no-contacts .fm-empty-cloud-txt{
	padding:0 32px 0 20px
}
.chat-contactspicker-no-contacts .section-icon{
	--icon-size:120px;
	--mask-color:var(--secondary-grey);
	display:inline-block;
	margin:43px 12px 0 0
}
.chat-contactspicker-no-contacts .fm-empty-description{
	padding:1px 32px 29px 20px
}
.group-chat-dialog.description.chatlinks-intermediate-msg{
	background:var(--banner-background-error);
	border:1px solid var(--banner-border-error);
	border-radius:4px;
	color:var(--banner-text-error);
	font:var(--text-body1);
	margin:4px 0 0;
	padding:8px;
	text-align:center
}
.intermediate-state{
	opacity:.3
}
.contacts-search-header.failed{
	border-color:red
}
.contacts-search-header .mega-input.title-ontop{
	margin:20px auto 10px
}
.accordion-panels .accordion-text{
	border-top:1px solid var(--divider-color);
	box-sizing:border-box;
	color:var(--text-color-high);
	font:var(--text-h3-bold);
	height:48px;
	padding:13px 10px;
	position:relative
}
.accordion-panels .accordion-text.observers span.observers-count{
	border:1px solid var(--divider-color);
	border-radius:4px;
	display:flex;
	float:right;
	font:var(--text-caption);
	justify-content:space-between;
	min-width:25px;
	padding:0 4px
}
.accordion-panels .accordion-text.observers span.observers-count i{
	--icon-size:16px;
	--mask-color:var(--icon-rest)
}
.chat-right-pad .disabled,.chat-right-pad .disabled.button,.chat-topic-block .disabled{
	-webkit-backface-visibility:hidden;
	filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter:gray;
	-webkit-filter:grayscale(1);
	opacity:.5;
	-webkit-transition:all .6s ease
}
.chat-links-preview-desktop .chatlink-contents{
	text-align:center
}
.chat-links-preview-desktop .bottom-buttons{
	background:var(--surface-grey-1);
	border-bottom-left-radius:var(--border-radius);
	border-bottom-right-radius:var(--border-radius);
	height:60px;
	padding:12px 18px;
	position:relative
}
.chat-links-preview-desktop .bottom-buttons button{
	margin-left:10px
}
.chat-links-preview-desktop .huge-icon{
	margin-top:16px
}
.chat-links-preview-desktop .chatlink-contents span{
	color:var(--text-color-medium);
	display:block;
	font-size:16px;
	margin-bottom:24px;
	margin-top:32px
}
.chat-links-preview-desktop .chatlink-contents h3{
	color:var(--text-color-medium);
	font-size:20px;
	font-weight:500;
	letter-spacing:-.52px;
	line-height:24px;
	margin-bottom:6px;
	margin-top:24px;
	text-align:center
}
.chat-links-preview-desktop .chatlink-contents h5{
	color:var(--text-color-medium);
	font-size:16px;
	font-weight:400;
	letter-spacing:-.18px;
	line-height:21px;
	margin:12px 0 32px;
	text-align:center
}
.chat-links-preview-desktop .chatlink-contents a.join-chat{
	background-color:#00bfa5;
	border-radius:4px;
	color:#fff;
	display:block;
	font-size:20px;
	line-height:40px;
	margin:0 auto;
	padding:0 24px;
	text-align:center;
	width:35%
}
.chat-links-preview-desktop .chatlink-contents a.not-now{
	color:#f0373a;
	display:block;
	font-size:16px;
	margin:24px auto 18px;
	padding:0 24px;
	text-align:center;
	width:60%
}
.chat-links-preview-desktop .chatlink-contents p{
	font-size:15px;
	line-height:20px;
	margin:32px auto;
	width:80%
}
.chat-links-preview-desktop .chatlink-contents a.join-chat,.chat-links-preview-desktop .chatlink-contents a.not-now,.chat-links-preview-desktop .chatlink-contents p{
	max-width:500px
}
.chat-links-preview-desktop .fm-dialog-title{
	font-size:16px
}
.chat-enable-key-rotation-paragraph p{
	color:var(--text-color-low);
	line-height:18px;
	font:var(--text-body2);
	margin-top:0;
	padding-top:0
}
button.new-chat-link{
	margin:24px 0 0
}
button.fm-empty-button{
	margin:0
}
.chat-contactspicker-no-contacts{
	margin-top:8px;
	text-align:center
}
.chat-contactspicker-no-contacts .empty-share-public{
	display:block;
	margin-bottom:50px;
	text-align:center
}
.dropdown.body.popup.contacts-search>div{
	position:relative;
	z-index:100
}
@keyframes fadeInOutLoopSubtle{
0%{	opacity:1
}
50%{	opacity:.3
}
to{	opacity:1
}
}
@-o-keyframes fadeInOutLoopSubtle{
0%{	opacity:1
}
50%{	opacity:.3
}
to{	opacity:1
}
}
@-moz-keyframes fadeInOutLoopSubtle{
0%{	opacity:1
}
50%{	opacity:.3
}
to{	opacity:1
}
}
@-webkit-keyframes fadeInOutLoopSubtle{
0%{	opacity:1
}
50%{	opacity:.3
}
to{	opacity:1
}
}
.contact-name-loading{
	-webkit-animation:fadeInOutLoopSubtle 2s linear infinite;
	animation:fadeInOutLoopSubtle 2s linear infinite;
	background-color:#e5e5e5;
	border-radius:3px;
	box-sizing:border-box;
	content:"...";
	display:inline-block;
	height:10px;
	margin:5px 12px 4px -20px;
	padding:0 10px 0 0;
	position:relative;
	vertical-align:top;
	width:96px
}
.contacts-info.body.right-chat-contact-card .contact-name-loading{
	margin:11px 0 0 -19px
}
.avatar-wrapper.default-bg{
	-webkit-animation:fadeInOutLoopSubtle 2s linear infinite;
	animation:fadeInOutLoopSubtle 2s linear infinite;
	background:url(../images/mega/avatar-loading.svg?v=7d92a2fc842750e1);
	background-position:0 -6px;
	background-size:auto 44px
}
.group-chat .chat-right-pad .avatar-wrapper.default-bg{
	background-position:0 -4px;
	background-size:auto
}
.medium-avatar.default-bg{
	background-position:-14px -38px;
	background-size:auto 248px
}
.chat-contacts-list .ps-active-y .right-chat-contact-card{
	width:220px !important
}
