.selection-status-bar{
	background-color:var(--surface-grey-2);
	border-left:2px solid var(--surface-main);
	box-sizing:border-box;
	cursor:default;
	flex-shrink:0;
	height:64px;
	padding:6px 12px
}
.rtl .selection-status-bar{
	display:rtl
}
.search .selection-status-bar{
	display:none
}
.fm-right-files-block.item-selected .selection-status-bar{
	-khtml-toast-notification:1;
	margin-bottom:0;
	opacity:1;
	visibility:visible;
	z-index:11
}
.selection-status-bar .selection-bar-col span{
	-webkit-margin-start:10px;
	background-color:var(--surface-main);
	border-radius:50px;
	color:var(--surface-main-inverted);
	display:inline-block;
	height:28px;
	line-height:28px;
	margin-inline-start:10px;
	padding:0 14px;
	text-align:center
}
.selection-status-bar .selection-bar-col{
	color:var(--text-color-high);
	float:left;
	font:var(--text-body1);
	line-height:28px;
	margin-top:13px
}
.rtl .selection-status-bar .selection-bar-col{
	float:right
}
.selection-links-wrapper{
	float:right;
	position:relative;
	top:12px
}
.rtl .selection-links-wrapper{
	float:left
}
.selection-status-bar .mega-button{
	-webkit-margin-start:18px;
	margin-inline-start:18px
}
.selection-status-bar .mega-button.small>div i{
	--icon-size:24px;
	--mask-color:var(--icon-rest)
}
.btn-myfiles{
	-webkit-padding-start:24px;
	background:transparent;
	border:none;
	border-radius:4px;
	box-sizing:border-box;
	color:var(--surface-main-inverted);
	cursor:pointer;
	font:var(--text-body1);
	height:32px;
	line-height:32px;
	margin:2px 0;
	opacity:.7;
	outline:0;
	overflow:hidden;
	padding-inline-start:24px;
	text-align:start;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
.btn-myfiles i{
	-webkit-margin-end:8px;
	--icon-size:24px;
	--mask-color:var(--surface-main-inverted);
	float:left;
	line-height:32px;
	margin-inline-end:8px;
	margin-top:4px
}
.rtl .btn-myfiles i{
	float:right
}
.btn-myfiles.active,.btn-myfiles:hover{
	background-color:var(--surface-grey-1);
	box-shadow:0 1px 4px 0 rgba(0, 0, 0, .1);
	color:var(--surface-main-inverted);
	cursor:pointer
}
.btn-myfiles.active{
	opacity:1
}
.btn-myfiles span{
	-webkit-margin-end:8px;
	margin-inline-end:8px
}
.btn-icon{
	background:transparent;
	border:none;
	border-radius:4px;
	cursor:pointer;
	font-family:inherit;
	margin:2px 0;
	outline:0;
	padding:0;
	text-align:start
}
.btn-icon:hover{
	background:var(--button-hover)
}
.btn-link{
	background:transparent;
	border:none;
	color:var(--text-color-success);
	cursor:pointer;
	font:var(--text-body2);
	max-width:300px;
	outline:0;
	overflow:hidden;
	padding:0;
	text-align:start;
	text-overflow:ellipsis;
	white-space:nowrap
}
