
@font-face{
	font-family:source_sans_prosemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Semibold.eot?v=4deb137bf2ca83c6);
	src:url(../fonts/SourceSansPro-Semibold.eot?&v=4deb137bf2ca83c6#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Semibold.woff2?v=c0e7b22bf4bc19e6) format("woff2"), url(../fonts/SourceSansPro-Regular.woff?v=445f9ea14876ecc6) format("woff"), url(../fonts/SourceSansPro-Semibold.ttf?v=e57f4114fd485970) format("truetype"), url(../fonts/SourceSansPro-Semibold.svg?v=e11af492329eddc8#source_sans_prosemibold) format("svg")
}
body,html{
	font-family:source_sans_proregular;
	height:100%;
	margin:0;
	overflow:hidden;
	padding:0;
	width:100%
}
.embed-button{
	border-radius:3px;
	display:table;
	height:44px
}
.embed-button.centre-button{
	cursor:pointer;
	margin:0
}
.embed-button.light-theme{
	background:#fff;
	background-image:linear-gradient(-180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 96.5%, .5));
	border:1px solid rgba(0, 0, 0, .05);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1)
}
.embed-button.dark-theme,.embed-button.light-theme{
	-webkit-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	transition:all .5s ease-out
}
.embed-button.dark-theme{
	background-color:#f33;
	border:1px solid #d90007;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .25),inset 0 -2px 3px 0 rgba(159, 0, 0, .12)
}
.embed-button.dark-theme .embed-action-text{
	color:#fff
}
.embed-button.light-theme .embed-action-text{
	color:#70777b
}
.embed-button.dark-theme:hover{
	background-color:#f44;
	border:1px solid #d90007;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .25),inset 0 -2px 3px 0 rgba(159, 0, 0, .12)
}
.embed-button.dark-theme:hover,.embed-button.light-theme:hover{
	-webkit-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	transition:all .5s ease-out
}
.embed-button.light-theme:hover{
	background-image:linear-gradient(-180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 96.5%, .25));
	border:1px solid #eee;
	box-shadow:0 0 0 0 transparent
}
.embed-button .embed-content-wrapper{
	display:table-cell;
	padding:0 16px;
	vertical-align:middle
}
.embed-button .embed-mega-icon{
	background-image:url(../images/mega/puf-embed-icons@2x.png?v=b0b1d898bf5095ad);
	background-repeat:no-repeat;
	background-size:56px auto;
	display:inline-block;
	height:25px;
	margin-right:12px;
	vertical-align:middle;
	width:25px
}
.embed-button .embed-action-text{
	display:inline-block;
	font-family:source_sans_prosemibold;
	vertical-align:middle
}
.embed-button.dark-theme .embed-mega-icon{
	background-position:-2px -2px
}
.embed-button.light-theme .embed-mega-icon{
	background-position:-29px -2px
}
.embed-button.dark-theme .embed-action-text{
	color:#fff
}
.embed-button.light-theme .embed-action-text{
	color:#70777b
}
