.megaList-content>*{
	position:absolute
}
.megaListContainer tr{
	width:100%
}
.megaListContainer .fm-dialog-table tr{
	height:32px
}
.megaListContainer.shared-folder-content .file-block-scrolling{
	margin-right:10px
}
.megaListContainer.shared-folder-content .megaList-content{
	margin-left:-8px;
	margin-top:-8px
}
.megalist-pusher{
	border:0 !important;
	display:block !important;
	margin:0 !important;
	padding:0 !important
}
