
@font-face{
	font-family:LatoWebBlack;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-black-ie.eot?v=1f6f2993338760cc);
	src:url(../fonts/lato-black-ie.eot?&v=1f6f2993338760cc#iefix) format("embedded-opentype"),
         url(../fonts/lato-black-ie.woff2?v=86efa9f01bc7a30a) format("woff2"),
         url(../fonts/lato-black-ie.woff?v=c7866eab5ff3f0dd) format("woff"),
         url(../fonts/lato-black-ie.ttf?v=6fdeef5cd27cd911) format("truetype")
}
@font-face{
	font-family:LatoWebBold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-bold-ie.eot?v=dbfd55b0110ef585);
	src:url(../fonts/lato-bold-ie.eot?&v=dbfd55b0110ef585#iefix) format("embedded-opentype"),
         url(../fonts/lato-bold-ie.woff2?v=df081df4f807aa88) format("woff2"),
         url(../fonts/lato-bold-ie.woff?v=7c6e799930ecb7c1) format("woff"),
         url(../fonts/lato-bold-ie.ttf?v=115d34594848e491) format("truetype")
}
@font-face{
	font-family:LatoWeb;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-regular-ie.eot?v=9a22c428a337e1ec);
	src:url(../fonts/lato-regular-ie.eot?&v=9a22c428a337e1ec#iefix) format("embedded-opentype"),
         url(../fonts/lato-regular-ie.woff2?v=6b9d81c4ac194595) format("woff2"),
         url(../fonts/lato-regular-ie.woff?v=5f33df509fe87330) format("woff"),
         url(../fonts/lato-regular-ie.ttf?v=38db9d6dec90d76e) format("truetype")
}
@font-face{
	font-family:LatoWebLight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-light-ie.eot?v=c99eec88809facd2);
	src:url(../fonts/lato-light-ie.eot?&v=c99eec88809facd2#iefix) format("embedded-opentype"),
         url(../fonts/lato-light-ie.woff2?v=bb1a8f00b653c6ae) format("woff2"),
         url(../fonts/lato-light-ie.woff?v=13443068e98f9ec6) format("woff"),
         url(../fonts/lato-light-ie.ttf?v=c2df159b4d308727) format("truetype")
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-semibold-ie.eot?v=d99f36ddac61fed);
	src:url(../fonts/lato-semibold-ie.eot?&v=d99f36ddac61fed#iefix) format("embedded-opentype"),
         url(../fonts/lato-semibold-ie.woff2?v=a9f819c411db91) format("woff2"),
         url(../fonts/lato-semibold-ie.woff?v=47074708112e1216) format("woff"),
         url(../fonts/lato-semibold-ie.ttf?v=85d3593592c532b1) format("truetype")
}
@media{
@font-face{
	font-family:LatoWeb;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Regular.woff2?v=2d1ebebb95335afc) format("woff2"),
            url(../fonts/Lato-Regular.woff?v=e5a574be4e36886d) format("woff"),
            url(../fonts/Lato-Regular.ttf?v=bb7156a3b5b9c59f) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebLight;
	font-style:normal;
	font-weight:300;
	src:url(../fonts/Lato-Light.woff2?v=b8b2c541deb348fb) format("woff2"),
            url(../fonts/Lato-Light.woff?v=ff80c10940b62929) format("woff"),
            url(../fonts/Lato-Light.ttf?v=1c24b98474b84f8e) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Semibold.woff2?v=2e46761b2351255f) format("woff2"),
             url(../fonts/Lato-Semibold.woff?v=e78b17e342a203ed) format("woff"),
             url(../fonts/Lato-Semibold.ttf?v=54430cb5ea6d08df) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebBlack;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Black.woff2?v=9275ac0c2847c376) format("woff2"),
            url(../fonts/Lato-Black.woff?v=a4be773858df79a7) format("woff"),
            url(../fonts/Lato-Black.ttf?v=1c05dca480dcd55) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Semibold.woff2?v=2e46761b2351255f) format("woff2"),
            url(../fonts/Lato-Semibold.woff?v=e78b17e342a203ed) format("woff"),
            url(../fonts/Lato-Semibold.ttf?v=54430cb5ea6d08df) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebBold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Bold.woff2?v=68dc6f1014d3c7a0) format("woff2"),
            url(../fonts/Lato-Bold.woff?v=49e80a82734920f5) format("woff"),
            url(../fonts/Lato-Bold.ttf?v=620308ced7f0aa58) format("truetype");
	text-rendering:optimizeLegibility
}
}
@font-face{
	font-family:brandon_textbold_italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/brandontext-bolditalic-webfont.eot?v=8221cbd8cff70c45);
	src:url(../fonts/brandontext-bolditalic-webfont.eot?&v=8221cbd8cff70c45#iefix) format("embedded-opentype"),
        url(../fonts/brandontext-bolditalic-webfont.woff?v=6fcfc07dc947d6a1) format("woff"),
        url(../fonts/brandontext-bolditalic-webfont.ttf?v=6fa6765fdd8aac91) format("truetype"),
        url(../fonts/brandontext-bolditalic-webfont.svg?v=ce9d31df7cb001ee#brandon_textbold_italic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:brandon_textmedium;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/brandontext-medium-webfont.eot?v=8a367517c6cc6509);
	src:url(../fonts/brandontext-medium-webfont.eot?&v=8a367517c6cc6509#iefix) format("embedded-opentype"),
        url(../fonts/brandontext-medium-webfont.woff?v=1a4ab693352fba36) format("woff"),
        url(../fonts/brandontext-medium-webfont.ttf?v=6a956469bd44d8e8) format("truetype"),
        url(../fonts/brandontext-medium-webfont.svg?v=c3881e14bad36952#brandon_textmedium) format("svg")
}
@font-face{
	font-family:source_sans_probold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Bold.eot?v=4618c719fe0b7767);
	src:url(../fonts/SourceSansPro-Bold.eot?&v=4618c719fe0b7767#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Bold.woff2?v=5f8c1f9f6bd2e657) format("woff2"),
        url(../fonts/SourceSansPro-Bold.woff?v=fda5f3836bcc817e) format("woff"),
        url(../fonts/SourceSansPro-Bold.ttf?v=dc8b4b671d164af9) format("truetype"),
        url(../fonts/SourceSansPro-Bold.svg?v=8607a25b3883dc3#source_sans_probold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_proextralight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-ExtraLight.eot?v=7dfad3d8879a58a2);
	src:url(../fonts/SourceSansPro-ExtraLight.eot?&v=7dfad3d8879a58a2#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-ExtraLight.woff2?v=56455d876d26c369) format("woff2"),
        url(../fonts/SourceSansPro-ExtraLight.woff?v=d9ebe1f21f166273) format("woff"),
        url(../fonts/SourceSansPro-ExtraLight.ttf?v=357d53a293a7fc38) format("truetype"),
        url(../fonts/SourceSansPro-ExtraLight.svg?v=31a690a99aff540#source_sans_proextralight) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_prolight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Light.eot?v=58a385fef7bd6aa1);
	src:url(../fonts/SourceSansPro-Light.eot?&v=58a385fef7bd6aa1#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Light.woff2?v=15520f609f83aa2c) format("woff2"),
        url(../fonts/SourceSansPro-Light.woff?v=9c17f8f7cc485934) format("woff"),
        url(../fonts/SourceSansPro-Light.ttf?v=3117419056f09dee) format("truetype"),
        url(../fonts/SourceSansPro-Light.svg?v=b3ebbfc8824c0346#source_sans_prolight) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_proregular;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Regular.eot?v=337ff1d4fe6df463);
	src:url(../fonts/SourceSansPro-Regular.eot?&v=337ff1d4fe6df463#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Regular.woff2?v=9b09a0a717450f1d) format("woff2"),
        url(../fonts/SourceSansPro-Regular.woff?v=445f9ea14876ecc6) format("woff"),
        url(../fonts/SourceSansPro-Regular.ttf?v=717077d422dbdb37) format("truetype"),
        url(../fonts/SourceSansPro-Regular.svg?v=843c1fa885b6a595#source_sans_proregular) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_prosemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Semibold.eot?v=4deb137bf2ca83c6);
	src:url(../fonts/SourceSansPro-Semibold.eot?&v=4deb137bf2ca83c6#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Semibold.woff2?v=c0e7b22bf4bc19e6) format("woff2"),
        url(../fonts/SourceSansPro-Semibold.woff?v=90823f7d4eca37d0) format("woff"),
        url(../fonts/SourceSansPro-Semibold.ttf?v=e57f4114fd485970) format("truetype"),
        url(../fonts/SourceSansPro-Semibold.svg?v=e11af492329eddc8#source_sans_prosemibold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Open Sans Semibold Italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/OpenSans-SemiboldItalic.eot?v=be7190fe16e8f29f);
	src:url(../fonts/OpenSans-SemiboldItalic.eot?&v=be7190fe16e8f29f#iefix) format("embedded-opentype"),
        url(../fonts/OpenSans-SemiboldItalic.woff2?v=d2ac9312d0f8533) format("woff2"),
        url(../fonts/OpenSans-SemiboldItalic.woff?v=6eecefb2aab3076a) format("woff"),
        url(../fonts/OpenSans-SemiboldItalic.ttf?v=da1b60b6473ee3f8) format("truetype"),
        url(../fonts/OpenSans-SemiboldItalic.svg?v=f7eef7cc37652cd#open_sanssemibold_italic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Open Sans Italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/opensans-italic-webfont.eot?v=9a986edc96855e23);
	src:url(../fonts/opensans-italic-webfont.eot?&v=9a986edc96855e23#iefix) format("embedded-opentype"),
        url(../fonts/opensans-italic-webfont.woff2?v=3bfd9e241050a005) format("woff2"),
        url(../fonts/opensans-italic-webfont.woff?v=d2aae5a21d0b3c7) format("woff"), 
        url(../fonts/opensans-italic-webfont.ttf?v=cc8c9b577f8c2b32) format("truetype"), 
        url(../fonts/opensans-italic-webfont.svg?v=3cd0a3818e08351d#open_sansitalic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_code_proregular;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/sourcecodepro-regular-webfont.woff2?v=30013991c3ba8f3b) format("woff2"),
         url(../fonts/sourcecodepro-regular-webfont.woff?v=f940d01c7b6c7597) format("woff"),
         url(../fonts/sourcecodepro-regular-webfont.ttf?v=756e1baa3150f33d) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:VentiCF-Bold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/VentiCF-Bold.eot?&v=f7f1b6fe901d6d3f#iefix) format("embedded-opentype"),
        url(../fonts/VentiCF-Bold.otf?v=d989e83523c9a60) format("opentype"),
        url(../fonts/VentiCF-Bold.woff?v=fc4caa2c29fe70a) format("woff"),
        url(../fonts/VentiCF-Bold.ttf?v=4eeb348092e77d3f) format("truetype"),
        url(../fonts/VentiCF-Bold.svg?v=1fb258b61c9d6e49#VentiCF-Bold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-regular-webfont.eot?v=4d9ccc178c6e44ad);
	src:url(../fonts/montserrat-regular-webfont.eot?&v=4d9ccc178c6e44ad#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-regular-webfont.woff?v=8b69149969ad831c) format("woff"),
        url(../fonts/montserrat-regular-webfont.ttf?v=d20a1a8331c91487) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_semibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-semibold-webfont.eot?v=4747a358e486db1d);
	src:url(../fonts/montserrat-semibold-webfont.eot?&v=4747a358e486db1d#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-semibold-webfont.woff?v=88729929e72fc22d) format("woff"),
        url(../fonts/montserrat-semibold-webfont.ttf?v=147a6c45405114b2) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_bold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-bold-webfont.eot?v=bff2f01522ba8fe8);
	src:url(../fonts/montserrat-bold-webfont.eot?&v=bff2f01522ba8fe8#iefix) format("embedded-opentype"),
         url(../fonts/montserrat-bold-webfont.woff2?v=bb1c555777a0c2c) format("woff2"),
         url(../fonts/montserrat-bold-webfont.woff?v=4caea83ec1b843b0) format("woff"),
         url(../fonts/montserrat-bold-webfont.ttf?v=73235b913ea2c683) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_light;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-light-webfont.eot?v=a3d2acfb95e7eecd);
	src:url(../fonts/montserrat-light-webfont.eot?&v=a3d2acfb95e7eecd#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-light-webfont.woff2?v=86f7972265cf2175) format("woff2"),
        url(../fonts/montserrat-light-webfont.woff?v=50b29f308e6a99bb) format("woff"),
        url(../fonts/montserrat-light-webfont.ttf?v=3a82a44755436367) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Source Code Pro;
	src:url(../fonts/SourceCodePro-Regular.ttf)
}
