.txt-bold{
	font-family:LatoWebBold,source_sans_proregular,Arial;
	font-weight:700
}
.txt-light{
	font-family:LatoWebLight,source_sans_proregular,Arial;
	font-weight:300
}
.txt-green{
	color:var(--text-color-success)
}
.txt-dark{
	color:var(--text-color-high)
}
.underline-txt{
	outline-color:none;
	text-decoration:underline
}
.red,a.red,a.red:active,a.red:hover,a.red:link,a.red:visited{
	color:var(--text-color-error)
}
.required-red{
	color:var(--text-color-error) !important
}
a.green,a.green:active,a.green:hover,a.green:link,a.green:visited{
	color:var(--text-color-success)
}
.page-title-txt,h1{
	color:var(--text-color-high);
	font:var(--text-h1)
}
.hero-txt,h2{
	color:var(--text-color-high);
	font:var(--text-h2)
}
.hero-txt.txt-light{
	font-family:LatoWebLight,source_sans_proregular,Arial
}
.headline-txt,h3{
	color:var(--text-color-medium);
	font:var(--text-h3)
}
h4{
	font-size:20px
}
h4,h5{
	color:var(--text-color-medium);
	display:inline-block;
	line-height:24px
}
h5{
	font-size:16px
}
.content-txt{
	color:var(--text-color-medium);
	display:inline-block;
	font:var(--text-body2);
	padding:0;
	position:relative
}
.title-txt{
	font:var(--text-h2)
}
.subtitle-txt,.title-txt{
	color:var(--text-color-high);
	display:inline-block
}
.subtitle-txt{
	font:var(--text-h3)
}
.fmholder .content-txt{
	color:var(--text-color-low);
	font:var(--text-body2)
}
.default-txt,h6{
	font-size:14px;
	padding:0
}
.default-txt,.default-txt-small,h6{
	color:#333;
	display:inline-block;
	line-height:20px;
	position:relative
}
.caption-txt,.default-txt-small{
	font-size:13px
}
.caption-txt{
	color:#999;
	display:inline-block;
	line-height:20px;
	position:relative
}
.half-sized-block{
	box-sizing:border-box;
	float:left;
	padding:0 0 0 12px;
	position:relative;
	width:50%
}
.half-sized-block.l,.half-sized-block:first-child{
	padding:0 12px 0 0
}
.register-loading-icon{
	background:transparent url(../images/mega/ajax-loader-gray.gif?v=333e4bddf794f48c) no-repeat scroll 0 0 / 16px 16px;
	display:none;
	height:16px;
	position:absolute;
	right:10px;
	top:10px;
	width:16px;
	z-index:10
}
.loading .register-loading-icon{
	display:block
}
.register-loading-icon img{
	width:16px
}
