
.ui-widget{
	font-size:13px
}
.tagit-new{
	display:none
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, .21);
	border-radius:4px;
	box-shadow:0 3px 4px rgba(50, 50, 50, .4);
	box-sizing:border-box;
	margin:0;
	overflow:hidden;
	padding:0;
	width:280px
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li{
	display:block;
	list-style:none;
	margin:0;
	padding:0
}
.send-files-menu-item,.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li a{
	color:#383b3d;
	cursor:pointer;
	display:block;
	font-size:13px;
	height:30px;
	line-height:29px;
	list-style:none;
	padding-left:42px
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li:first-child a{
	border-top-left-radius:3px;
	border-top-right-radius:3px
}
.send-files-menu-item:hover,.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li a.ui-state-hover{
	background-color:#cacfd4
}
.datepickers-container{
	left:0;
	position:absolute;
	top:0;
	z-index:2201
}
@media print{
.datepickers-container{
	display:none
}
}
.datepicker{
	background:var(--surface-main);
	border:1px solid var(--stroke-grey-2);
	border-radius:24px;
	color:var(--text-color-high);
	font-family:var(--text-font-family);
	left:-100000px;
	margin:0;
	min-width:252px;
	opacity:0;
	position:absolute;
	transition:opacity .2s ease-in-out 0s;
	z-index:100
}
.datepicker.active{
	opacity:1
}
.datepicker--content{
	padding:7px
}
.datepicker--body{
	display:none
}
.datepicker--body.active{
	display:block
}
.datepicker--cell{
	border-radius:100%;
	box-sizing:border-box;
	color:var(--text-color-medium);
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	height:32px;
	line-height:32px;
	margin:1px;
	overflow:hidden;
	position:relative;
	text-align:center;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	transition:background-color .2s ease-in-out 0s,color .2s ease-in-out 0s;
	white-space:nowrap;
	width:32px;
	z-index:1
}
.datepicker--cell-month,.datepicker--cell-year{
	border-radius:16px;
	height:48px;
	line-height:48px;
	margin:2px;
	width:55px;
	width:calc(25% - 4px)
}
.ar .datepicker--cells-months{
	width:300px
}
.datepicker--cell.-focus-{
	background:var(--surface-grey-2)
}
.datepicker--cell.-current-{
	background:transparent;
	color:var(--text-solor-red)
}
.datepicker--cell.-disabled-{
	background:transparent;
	color:var(--text-color-low);
	cursor:default
}
.datepicker--cell.-selected-{
	background:var(--surface-error);
	color:var(--text-color-high)
}
.datepicker--cell:empty{
	cursor:default
}
.datepicker--days-names{
	font-size:0
}
.datepicker--day-name{
	color:var(--text-color-medium);
	display:inline-block;
	font-family:var(--text-font-family);
	font-size:10px;
	height:32px;
	line-height:32px;
	margin:1px;
	text-align:center;
	text-transform:uppercase;
	width:32px
}
.datepicker--nav{
	font-size:0;
	margin:7px 0 2px;
	position:relative;
	text-align:center
}
.datepicker--nav-title{
	border-radius:16px;
	cursor:pointer;
	display:inline-block;
	font-family:var(--text-font-family);
	font-size:15px;
	line-height:32px;
	padding:0 12px;
	position:relative;
	transition:background-color .2s ease-in-out 0s,color .2s ease-in-out 0s
}
.datepicker--nav-title i{
	font-style:normal
}
.datepicker--nav-title:hover{
	background:var(--surface-grey-2)
}
.datepicker--nav-title.-disabled-{
	background:none;
	cursor:default
}
.datepicker--nav-action{
	cursor:pointer;
	font-size:0;
	height:28px;
	position:absolute;
	right:10px;
	top:3px;
	width:28px;
	z-index:1
}
.datepicker--nav-action i{
	--icon-size:28px;
	color:var(--icon-rest)
}
.datepicker--nav-action:hover i{
	color:var(--icon-active)
}
.datepicker--nav-action:first-child{
	left:10px;
	right:auto;
	transform:rotate(180deg)
}
.datepicker--nav-action.-disabled-{
	display:none
}
