
.colour-label-ind,.colour-label .file-block-title:after,.colour-label .shared-folder-info-block:after,.colour-label .tranfer-filetype-txt:after{
	background-color:var(--label-grey);
	border-radius:100%;
	content:"";
	display:block;
	height:8px;
	position:absolute;
	right:6px;
	top:9px;
	width:8px
}
.colour-label-ind.red,.colour-label.red .file-block-title:after,.colour-label.red .shared-folder-info-block:after,.colour-label.red .tranfer-filetype-txt:after{
	background-color:var(--label-red)
}
.colour-label-ind.orange,.colour-label.orange .file-block-title:after,.colour-label.orange .shared-folder-info-block:after,.colour-label.orange .tranfer-filetype-txt:after{
	background-color:var(--label-orange)
}
.colour-label-ind.yellow,.colour-label.yellow .file-block-title:after,.colour-label.yellow .shared-folder-info-block:after,.colour-label.yellow .tranfer-filetype-txt:after{
	background-color:var(--label-yellow)
}
.colour-label-ind.green,.colour-label.green .file-block-title:after,.colour-label.green .shared-folder-info-block:after,.colour-label.green .tranfer-filetype-txt:after{
	background-color:var(--label-green)
}
.colour-label-ind.blue,.colour-label.blue .file-block-title:after,.colour-label.blue .shared-folder-info-block:after,.colour-label.blue .tranfer-filetype-txt:after{
	background-color:var(--label-blue)
}
.colour-label-ind.purple,.colour-label.purple .file-block-title:after,.colour-label.purple .shared-folder-info-block:after,.colour-label.purple .tranfer-filetype-txt:after{
	background-color:var(--label-purple)
}
.active-folder-link .colour-label-ind,.active-folder-link .colour-label .file-block-title:after,.active-folder-link .colour-label .shared-folder-info-block:after,.active-folder-link .colour-label .tranfer-filetype-txt:after{
	display:none
}
.colour-label .shared-folder-info-block:after{
	right:2px;
	top:13px
}
.rtl .colour-label .shared-folder-info-block:after{
	left:2px;
	right:auto
}
.nw-fm-tree-item .colour-label-ind{
	right:36px;
	top:12px
}
.rtl .nw-fm-tree-item .colour-label-ind{
	left:36px;
	right:auto
}
.nw-fm-tree-item.hovered .colour-label-ind,.nw-fm-tree-item.selected .colour-label-ind,.nw-fm-tree-item:hover .colour-label-ind{
	box-shadow:0 0 0 1px var(--surface-main)
}
.nw-fm-tree-item.label{
	-webkit-padding-end:46px;
	padding-inline-end:46px
}
.colour-label .file-block-title{
	-webkit-padding-end:18px;
	padding-inline-end:18px
}
.colour-label .shared-folder-info-block{
	-webkit-padding-end:12px;
	padding-inline-end:12px;
	padding-right:12px;
	position:relative
}
.data-block-view.colour-label .shared-folder-info-block{
	-webkit-padding-end:18px;
	padding-inline-end:18px;
	position:relative
}
.data-block-view.colour-label .shared-folder-info-block:after{
	right:6px;
	top:24px
}
.rtl .data-block-view.colour-label .shared-folder-info-block:after{
	left:6px;
	right:auto
}
.colour-label .tranfer-filetype-txt{
	-webkit-padding-end:24px;
	padding-inline-end:24px
}
.data-block-view.colour-label .tranfer-filetype-txt{
	-webkit-padding-end:12px;
	padding-inline-end:12px
}
.colour-label .tranfer-filetype-txt:after{
	right:12px;
	top:12px
}
.rtl .colour-label .tranfer-filetype-txt:after{
	left:12px;
	right:auto
}
.filter-block.body,.filter-block.tree{
	-webkit-padding-end:38px;
	-webkit-padding-start:7px;
	background-color:var(--surface-grey-3);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .1);
	color:var(--text-color-high);
	float:right;
	font-size:0;
	height:20px;
	margin:8px 0 0;
	padding:0;
	padding-inline-end:38px;
	padding-inline-start:7px;
	position:relative;
	white-space:nowrap
}
.filter-block.tree{
	-webkit-margin-end:5px;
	margin-inline-end:5px;
	margin-top:0
}
.filter-block.body *,.filter-block.tree *{
	display:inline-block;
	vertical-align:top
}
.filter-block.info{
	font-size:12px;
	line-height:19px;
	padding:0 2px 0 0
}
.filter-block .colour-label-ind{
	margin:6px 0 0 6px;
	position:static
}
.filter-block.close{
	cursor:pointer;
	margin:2px;
	position:absolute;
	right:0;
	top:0
}
.filter-block.close i{
	--icon-size:16px;
	--mask-color:var(--icon-rest);
	transition:var(--transition-color)
}
.filter-block.close:hover i{
	--mask-color:var(--icon-active)
}
.fm-right-header .filter-block.body{
	-webkit-margin-end:5px;
	margin:14px 0 0;
	margin-inline-end:5px
}
