@font-face{
	font-family:noto_sans_thai;
	font-style:normal;
	src:url(../fonts/international-text/NotoSansThaiUI-Regular.ttf?v=b6358ce618e398e4) format("truetype")
}
@font-face{
	font-family:noto_sans_thai_semibold;
	font-style:normal;
	src:url(../fonts/international-text/NotoSansThaiUI-SemiBold.ttf?v=97cd7d2cd92c04d3) format("truetype")
}
body.th,body.th div,body.th form,body.th input,body.th label,body.th option,body.th select,body.th span,body.th textarea{
	font-family:noto_sans_thai,source_sans_proregular
}
body.th .message.user-card-name{
	font-family:noto_sans_thai_semibold,source_sans_prosemibold
}
