.fm-modal-dialog,.mega-dialog-container{
	align-items:center;
	display:flex;
	height:100%;
	justify-content:center;
	left:0;
	pointer-events:none;
	position:fixed;
	top:0;
	width:100%;
	z-index:1111
}
.fm-modal-dialog{
	z-index:1115
}
.fm-modal-dialog>*,.mega-dialog-container>*{
	pointer-events:auto
}
.mega-dialog{
	background:var(--surface-main);
	background-clip:padding-box;
	border-radius:var(--border-radius);
	box-shadow:var(--dialog-shadow);
	box-sizing:border-box;
	color:var(--text-color-medium);
	display:flex;
	flex-direction:column;
	font:var(--text-body1);
	position:absolute;
	width:640px;
	z-index:1200
}
.rtl .mega-dialog{
	direction:rtl
}
.mega-dialog>footer,.mega-dialog>footer aside,.mega-dialog>header{
	flex-grow:0;
	flex-shrink:0
}
.mega-dialog>.content-block,.mega-dialog>section{
	min-height:0
}
.mega-dialog *{
	box-sizing:border-box;
	font-family:var(--text-font-family)
}
.mega-dialog>header h2,.mega-dialog>header h3{
	font-weight:400;
	margin:0;
	overflow:hidden;
	padding:0;
	text-align:center;
	text-overflow:ellipsis;
	width:100%
}
.mega-dialog h2{
	color:var(--text-color-high);
	font:var(--text-h2)
}
.mega-dialog h3{
	color:var(--text-color-high);
	font:var(--text-h3)
}
.mega-dialog>header p{
	margin-top:16px
}
.mega-dialog .content-block,.mega-dialog>header p{
	color:var(--text-color-medium);
	font:var(--text-body1)
}
.mega-dialog .content-block{
	background:var(--surface-main)
}
.mega-dialog .content-block .sub-header{
	color:var(--text-color-higher);
	font:var(--text-body1-bold)
}
.mega-dialog a,.mega-dialog a:active,.mega-dialog a:visited,.mega-dialog p{
	margin:0
}
.mega-dialog a,.mega-dialog a:active,.mega-dialog a:visited{
	color:var(--text-color-success);
	text-decoration:underline
}
.mega-dialog a:hover{
	text-decoration:none
}
.mega-dialog>footer,.mega-dialog>header{
	background:transparent
}
.mega-dialog>footer button~button{
	-webkit-margin-start:8px;
	margin-inline-start:8px
}
.mega-dialog>footer button~button.large{
	-webkit-margin-start:12px;
	margin-inline-start:12px
}
.mega-dialog .dialog-top,.mega-dialog>header{
	border-radius:var(--border-radius) var(--border-radius) 0 0
}
.mega-dialog .dialog-bottom,.mega-dialog>footer,.mega-dialog>footer aside{
	border-radius:0 0 var(--border-radius) var(--border-radius)
}
.mega-dialog .align-start{
	text-align:start !important
}
.mega-dialog .align-end{
	text-align:end !important
}
.mega-dialog .alt-background{
	background:var(--surface-grey-1)
}
.mega-dialog hr{
	background:var(--surface-grey-2);
	border:none;
	height:1px;
	margin:0;
	width:100%
}
.mega-dialog button.close{
	--icon-size:24px;
	align-items:center;
	background:transparent;
	border:none;
	cursor:pointer;
	display:flex;
	justify-content:center;
	padding:0;
	position:absolute;
	right:16px;
	top:16px;
	z-index:2010
}
.mega-dialog button.close:focus{
	outline:none
}
.mega-dialog button.close i{
	--icon-size:24px;
	margin:0;
	opacity:.6;
	transition:opacity .2s ease-in-out
}
.mega-dialog button.close i:hover{
	opacity:.8
}
.rtl .mega-dialog button.close{
	left:16px;
	right:auto
}
.mega-dialog>header{
	display:flex;
	flex-direction:column
}
.mega-dialog:not(.dialog-template-message)>header .graphic{
	display:block;
	height:120px;
	margin:0 auto 24px;
	width:120px
}
.mega-dialog:not(.dialog-template-message)>header .graphic.wide{
	width:auto
}
.mega-dialog>footer,.mega-dialog>section{
	display:flex;
	flex-direction:column
}
.mega-dialog>footer{
	justify-content:flex-end
}
.mega-dialog>footer .footer-container{
	align-items:center;
	display:flex;
	justify-content:flex-end;
	width:100%
}
.mega-dialog>footer .footer-container.space-between{
	justify-content:space-between
}
.mega-dialog>footer .condition{
	color:var(--text-color-low);
	font:var(--text-body2);
	left:0;
	position:absolute;
	text-align:center;
	top:-26px;
	width:100%
}
.mega-dialog>footer aside{
	--mask-color:var(--text-color-medium);
	background:var(--surface-grey-4);
	font:var(--text-body2);
	position:relative;
	text-align:center
}
.mega-dialog>footer aside *,.mega-dialog>footer aside :active,.mega-dialog>footer aside :hover{
	font:var(--text-body2)
}
.mega-dialog.dialog-template-main>header{
	padding:48px 48px 16px
}
.mega-dialog.dialog-template-main>header h2,.mega-dialog.dialog-template-main>header p{
	text-align:start
}
.mega-dialog.dialog-template-main .content-block{
	padding:0 48px
}
.mega-dialog.dialog-template-main>footer .footer-container{
	padding:16px 48px 48px
}
.mega-dialog.dialog-template-main>footer aside{
	padding:12px 48px
}
.mega-dialog.dialog-template-main>footer aside:not(.with-condition){
	margin-top:-24px
}
.mega-dialog.dialog-template-tool>header{
	padding:12px 48px
}
.mega-dialog.dialog-template-tool>header .graphic{
	margin-top:36px
}
.mega-dialog.dialog-template-tool>header p{
	margin-top:4px;
	text-align:center
}
.mega-dialog.dialog-template-tool .content-block{
	padding:0 48px
}
.mega-dialog.dialog-template-tool>footer .footer-container{
	padding:40px 48px 24px
}
.mega-dialog.dialog-template-tool>footer aside{
	padding:12px 48px
}
.mega-dialog.dialog-template-tool>footer aside.with-condition{
	margin-top:24px
}
.mega-dialog.dialog-template-action>header{
	padding:16px 48px
}
.mega-dialog.dialog-template-action>header .graphic{
	margin-top:32px
}
.mega-dialog.dialog-template-action>header p{
	text-align:start
}
.mega-dialog.dialog-template-action .content-block{
	padding:0 48px
}
.mega-dialog.dialog-template-action>footer .footer-container{
	justify-content:center;
	padding:16px 48px 48px
}
.mega-dialog.dialog-template-action>footer button{
	-webkit-margin-end:4px;
	-webkit-margin-start:4px;
	margin-inline-end:4px;
	margin-inline-start:4px
}
.mega-dialog.dialog-template-action>footer button.large{
	-webkit-margin-end:6px;
	-webkit-margin-start:6px;
	margin-inline-end:6px;
	margin-inline-start:6px
}
.mega-dialog.dialog-template-action>footer aside{
	padding:12px 48px
}
.mega-dialog.dialog-template-action>footer aside:not(.with-condition){
	margin-top:-24px
}
.mega-dialog.dialog-template-message>header{
	-webkit-padding-end:72px;
	-webkit-padding-start:24px;
	flex-direction:row;
	padding-inline-end:72px;
	padding-inline-start:24px;
	padding-top:24px
}
.mega-dialog.dialog-template-message>header .graphic{
	-webkit-margin-end:24px;
	flex-grow:0;
	flex-shrink:0;
	height:64px;
	margin-inline-end:24px;
	width:64px
}
.mega-dialog.dialog-template-message>header h3{
	text-align:start
}
.mega-dialog.dialog-template-message>header p{
	margin-top:12px
}
.mega-dialog.dialog-template-message>footer .footer-container{
	padding:24px
}
.mega-dialog.dialog-template-message>footer aside{
	padding:12px 24px
}
.mega-dialog.dialog-template-message>footer aside.with-condition{
	margin-top:24px
}
.mega-dialog.dialog-template-graphic>header{
	padding:48px 48px 16px
}
.mega-dialog.dialog-template-graphic .content-block{
	padding:0 48px;
	text-align:center
}
.mega-dialog.dialog-template-graphic>footer .footer-container{
	padding:16px 48px 48px
}
.mega-dialog.dialog-template-graphic>footer aside{
	padding:12px 48px
}
.mega-dialog.dialog-template-graphic>footer .footer-container+aside:not(.with-condition){
	margin-top:-24px
}
