.widget-upload{
	background-color:#f8f9fa;
	height:100vh;
	min-height:650px;
	overflow:hidden;
	position:absolute;
	width:100%
}
.widget-upload .wu-main,.widget-upload .wu-missing-main{
	background-color:#fff;
	border-radius:0;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	height:562px;
	left:50%;
	margin:-313px 0 0 -200px;
	position:absolute;
	top:50%;
	width:400px
}
.wu-main .wu-data,.wu-missing-main .wu-data{
	background-color:#fff;
	border-bottom:1px solid #eee;
	display:block;
	height:55px;
	padding:40px 20px 32px;
	text-align:center
}
.wu-data .wu-folder-name-text{
	color:#777e82;
	float:left;
	font-family:LatoWeb,sans-serif;
	font-size:32px;
	line-height:36px;
	width:100%
}
.wu-data .wu-folder-name-text,.wu-data .wu-folder-name-text span,.wu-data .wu-name{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.wu-data .wu-name{
	color:#999;
	float:left;
	font-family:LatoWeb,sans-serif;
	font-size:16px;
	line-height:32px;
	width:100%
}
.wu-logo{
	background-image:url(../imagery/mega-top-sprite.7ef2b23a163ae63a.png);
	background-position:-6px -383px;
	background-repeat:no-repeat;
	border-radius:100%;
	cursor:pointer;
	float:left;
	height:24px;
	margin:6px 0 6px 12px;
	width:24px
}
.wu-data .wu-logo.hidden{
	display:none
}
.wu-data .wu-email{
	float:left;
	margin-top:28px;
	width:100%
}
.wu-email .wu-email-label{
	color:#82898d;
	display:block;
	font-size:14px;
	font-weight:600;
	line-height:18px;
	padding-bottom:4px
}
.wu-email .wu-email-text{
	color:#aaa;
	display:block;
	font-size:14px;
	line-height:18px
}
.wu-data .wu-msg{
	display:none;
	float:left;
	margin-top:24px;
	width:100%
}
.wu-msg .wu-msg-label{
	color:#82898d;
	font-family:LatoWebSemibold,sans-serif;
	letter-spacing:.4px;
	padding-bottom:4px
}
.wu-msg .wu-msg-label,.wu-msg .wu-msg-text{
	display:block;
	font-size:14px;
	line-height:18px
}
.wu-msg .wu-msg-text{
	color:#aaa
}
.wu-main .wu-items{
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.wu-main .wu-items,.wu-missing-main .wu-missing{
	background-color:#fff;
	border-bottom:1px solid #eee;
	height:350px;
	width:inherit
}
.wu-missing-main .wu-missing{
	cursor:default;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.wu-items .wu-empty-upload,.wu-missing .wu-empty-upload{
	height:308px;
	position:absolute;
	width:400px
}
.wu-empty-upload .wu-large-logo{
	background-image:url(../imagery/mega-wu_empty_upload.34147081c5531bb6.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:250px;
	margin:20px 0 0;
	width:400px
}
.wu-empty-upload .wu-large-logo.grey{
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	filter:grayscale(100%)
}
.wu-empty-upload .wu-upload-text{
	color:#939da3;
	display:block;
	font-size:14px;
	line-height:21px;
	margin:10px auto;
	text-align:center;
	width:320px
}
.wu-items .wu-stat{
	background-color:#f5f7f9;
	height:90px;
	padding-left:20px;
	padding-right:20px
}
.wu-stat .wu-total-curr,.wu-stat .wu-total-perc,.wu-stat .wu-total-speed{
	display:block;
	margin-top:28px
}
.wu-stat .wu-total-curr{
	color:#888;
	float:left;
	font-size:16px;
	overflow:hidden;
	text-align:left;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:33%
}
.wu-stat .wu-total-perc{
	float:right;
	text-align:right;
	width:33%
}
.wu-stat .wu-total-speed{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	overflow:hidden;
	text-align:center;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:33%
}
.wu-total-curr .wu-curr-label{
	color:#959ba7;
	display:block;
	font-size:14px;
	height:18px;
	line-height:18px
}
.wu-total-curr .wu-curr-value,.wu-total-curr .wu-total-value{
	color:#222;
	font-family:LatoWebSemibold,sans-serif;
	font-size:15px;
	height:20px;
	line-height:28px;
	margin-top:4px
}
.wu-total-curr .wu-total-value{
	color:#888;
	font-size:15px
}
.wu-total-perc .wu-total-perc-label,.wu-total-speed .wu-total-speed-label{
	color:#959ba7;
	display:block;
	font-size:14px;
	height:18px;
	line-height:18px
}
.wu-total-perc .wu-total-perc-value,.wu-total-speed .wu-total-speed-value{
	color:#222;
	font-family:LatoWebSemibold,sans-serif;
	font-size:15px;
	height:20px;
	line-height:28px
}
.wu-items .wu-queue{
	background-color:#fff;
	color:#555;
	font-size:14px;
	max-height:228px;
	overflow:hidden;
	width:inherit
}
.wu-queue .wu-queue-item{
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	display:block;
	height:48px;
	margin-left:20px;
	width:inherit
}
.wu-queue-item .wu-queue-item-name,.wu-queue-item .wu-queue-item-stat,.wu-queue-item .wu-queue-item-status{
	background-color:#fff;
	box-sizing:border-box;
	display:block;
	float:left;
	height:calc(100% - 1px);
	overflow:hidden;
	padding-bottom:11px;
	padding-top:17px;
	text-overflow:ellipsis;
	white-space:nowrap
}
.wu-queue-item .wu-queue-item-name{
	text-align:left;
	width:260px
}
.wu-queue-item .wu-queue-item-stat{
	display:none;
	padding-left:14px;
	text-align:center
}
.wu-queue-item .wu-queue-item-status{
	float:right;
	margin-right:20px;
	text-align:right;
	width:80px
}
.wu-main .wu-main-bottom,.wu-missing-main .wu-main-botton{
	background-color:#fff;
	box-sizing:border-box;
	display:block;
	height:82px;
	width:inherit
}
.wu-main-bottom .wu-lang{
	cursor:pointer;
	float:left;
	font-size:16px;
	height:30px;
	line-height:30px;
	margin:24px 12px
}
.wu-main-bottom .wu-lang:hover .lang:before{
	opacity:1
}
.wu-lang .glob-icon{
	box-sizing:border-box;
	cursor:pointer;
	float:right;
	height:35px;
	padding:6px 12px 0 13px
}
.wu-lang .glob-icon:before{
	background-image:url(../imagery/mega-top-sprite.7ef2b23a163ae63a.png);
	background-repeat:no-repeat;
	content:"";
	display:block;
	height:24px;
	opacity:.8;
	transition:all .2s ease-in-out;
	width:24px
}
.wu-lang .glob-icon:after{
	background-color:rgba(0, 0, 0, .05);
	content:"";
	height:24px;
	margin:0 0 0 -13px;
	position:absolute;
	top:6px;
	width:1px
}
.wu-lang .glob-icon.active:before,.wu-lang .glob-icon:hover:before{
	opacity:1
}
.wu-lang .glob-icon.lang:before{
	background-position:-7px -286px;
	float:left
}
.wu-lang .glob-icon.lang:after{
	display:none
}
.wu-lang .glob-icon.lang{
	float:left
}
.dark-tooltip.widget{
	left:0;
	margin:0;
	top:34px;
	transition:top .2s ease-in-out,opacity .2s ease-in-out,visibility .2s ease-in-out
}
.dark-tooltip.widget.hovered{
	left:auto;
	top:630px
}
.wu-lang .wu-change-lang{
	color:#555;
	cursor:pointer;
	display:block;
	float:left;
	margin-top:3px;
	opacity:.8;
	text-transform:uppercase;
	transition:all .2s ease-in-out;
	white-space:nowrap
}
.wu-main-bottom .wu-btn{
	float:right;
	margin-right:20px;
	margin-top:22px
}
.widget-upload .wu-footer{
	background-color:#fff;
	bottom:0;
	clear:both;
	color:#333;
	display:block;
	margin-top:-64px;
	padding:13px 0;
	position:absolute;
	width:inherit
}
.wu-footer .wu-copyrights{
	background-position:-11px -729px;
	background-repeat:no-repeat;
	color:#333;
	display:block;
	font-size:14px;
	line-height:18px;
	margin-left:24px;
	padding:9px 0 9px 26px
}
.wu-footer .wu-copyrights span{
	color:#666;
	padding-left:5px
}
.wu-msg textarea{
	border:none;
	box-shadow:none;
	height:120px;
	outline:none;
	overflow:auto;
	width:100%
}
.wu-main .wu-items:hover{
	background-color:#fff;
	cursor:pointer;
	transition:all .2s ease-in-out
}
.widget-upload .wu-wrapper{
	height:100%;
	position:relative
}
.wu-wrapper .wu-push{
	height:64px
}
.footer-button.widget-dialog-buttons{
	border-top:1px solid #eee;
	margin-top:20px
}
.widget-card .footer-button.widget-dialog-buttons{
	padding-top:16px
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx){
.wu-lang .glob-icon:before,.wu-logo{
	background-image:url(../imagery/mega-top-sprite-2x.6d771c63b6e27d1e.png);
	background-size:38px auto
}
.wu-empty-upload .wu-large-logo{
	background-image:url(../imagery/mega-wu_empty_upload-2x.dd638bcd7991e2b3.png);
	background-size:400px auto
}
}
