.mega-button{
	align-items:center;
	border:none;
	border-radius:4px;
	box-sizing:border-box;
	cursor:pointer;
	display:inline-flex;
	font:var(--text-body1);
	justify-content:space-between;
	line-height:24px;
	min-height:var(--height);
	min-width:64px;
	outline:none;
	padding:var(--outer-padding);
	position:relative;
	text-align:center;
	transition:var(--transition-color), var(--transition-bg-color), var(--transition-shadow);
	vertical-align:middle;
	white-space:nowrap
}
.mega-button.small{
	line-height:16px;
	min-width:auto
}
.mega-button.large{
	font:var(--text-h3);
	line-height:32px;
	min-width:96px
}
.mega-button.round{
	border-radius:50%
}
.mega-button.round,.mega-button.square{
	height:var(--height);
	min-width:var(--height);
	width:var(--height)
}
.mega-button.full-width{
	width:100%
}
.mega-button.action{
	padding:4px var(--outer-padding)
}
.mega-button.icon{
	height:var(--height);
	min-width:var(--height);
	padding:0 !important;
	width:var(--height)
}
.mega-button>span{
	display:inline-flex;
	flex-grow:1;
	justify-content:center;
	margin:0 auto;
	white-space:normal
}
.mega-button.large>div~span{
	text-align:start
}
.mega-button.align-flex-start span{
	justify-content:flex-start
}
.mega-button.align-flex-end span{
	justify-content:flex-end
}
.mega-button>div{
	align-items:center;
	display:flex;
	flex-grow:0;
	height:0;
	justify-content:center;
	overflow:visible
}
.mega-button>div i{
	--icon-size:24px
}
.mega-button.small>div{
	width:16px
}
.mega-button.small>div i{
	--icon-size:16px
}
.mega-button.large>div{
	width:32px
}
.mega-button.large>div i{
	--icon-size:32px
}
.mega-button i{
	background-clip:content-box;
	box-sizing:border-box;
	display:block;
	flex-shrink:0
}
.mega-button i.hidden{
	display:none
}
.mega-button>div{
	margin:0 auto
}
.mega-button>span{
	margin:0 var(--horizontal-padding)
}
.mega-button.large>div~span{
	-webkit-margin-start:12px;
	margin-inline-start:12px
}
.mega-button.large>span~div{
	-webkit-margin-start:-4px;
	margin-inline-start:-4px
}
.mega-button.hidden{
	display:none
}
.mega-button.disabled{
	cursor:default;
	opacity:.3
}
.mega-button{
	background:var(--neutral);
	box-shadow:inset 0 0 0 var(--border-width) var(--neutral-border);
	color:var(--text-neutral)
}
.mega-button.negative{
	background:var(--red);
	box-shadow:inset 0 0 0 var(--border-width) var(--red-border);
	color:var(--text-red)
}
.mega-button.positive{
	background:var(--green);
	box-shadow:inset 0 0 0 var(--border-width) var(--green-border);
	color:var(--text-green)
}
.mega-button.action{
	background:var(--action);
	box-shadow:none;
	color:var(--text-action)
}
.mega-button.branded-red{
	background:var(--red);
	box-shadow:inset 0 0 0 var(--border-width) var(--red-border);
	color:var(--text-red)
}
.mega-button.branded-green{
	background:var(--green);
	box-shadow:inset 0 0 0 var(--border-width) var(--green-border);
	color:var(--text-green)
}
.mega-button.branded-blue{
	background:var(--blue);
	box-shadow:inset 0 0 0 var(--border-width) var(--blue-border);
	color:var(--text-blue)
}
.mega-button:hover:not(.disabled){
	background:var(--neutral-hover)
}
.mega-button.negative:hover:not(.disabled){
	background:var(--red-hover)
}
.mega-button.positive:hover:not(.disabled){
	background:var(--green-hover)
}
.mega-button.action:hover:not(.disabled){
	background:var(--action-hover)
}
.mega-button.no-hover:hover{
	background:none !important
}
.mega-button.branded-red:hover:not(.disabled){
	background:var(--red-hover)
}
.mega-button.branded-green:hover:not(.disabled){
	background:var(--green-hover)
}
.mega-button.branded-blue:hover:not(.disabled){
	background:var(--blue-hover)
}
.mega-button:active:not(.disabled){
	background:var(--neutral-active)
}
.mega-button.negative:active:not(.disabled){
	background:var(--red-active)
}
.mega-button.positive:active:not(.disabled){
	background:var(--green-active)
}
.mega-button.action:active:not(.disabled){
	background:var(--action-active)
}
.mega-button.branded-red:active:not(.disabled){
	background:var(--red-active)
}
.mega-button.branded-green:active:not(.disabled){
	background:var(--green-active)
}
.mega-button.branded-blue:active:not(.disabled){
	background:var(--blue-active)
}
