.top-menu-popup{
	background-color:#fff;
	border-left:1px solid #ededed;
	box-sizing:border-box;
	font-family:LatoWebBold,Arial;
	height:100%;
	opacity:1;
	position:fixed;
	right:0;
	top:0;
	-webkit-transition:right .2s ease-in-out,width .2s ease-in-out,opacity .2s ease-in-out;
	transition:right .2s ease-in-out,width .2s ease-in-out,opacity .2s ease-in-out;
	width:257px;
	z-index:1120
}
.top-menu-popup.hidden{
	display:block;
	opacity:0;
	right:-257px
}
.mobile.top-menu-popup.hidden{
	display:block !important;
	width:0
}
.mobile .top-menu-scroll{
	-webkit-overflow-scrolling:touch;
	overflow:scroll
}
.top-menu-scroll{
	height:100%;
	height:-webkit-calc(100% - 36px);
	height:-moz-calc(100% - 36px);
	height:calc(100% - 36px);
	margin-top:36px
}
.top-menu-content{
	padding:0 0 28px
}
.top-menu-item{
	border-left:2px solid transparent;
	cursor:pointer;
	margin:10px 0 0;
	padding:5px 43px 5px 50px;
	position:relative;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.top-menu-item.small-pad{
	margin:6px 0 0
}
.top-menu-item span{
	color:#373737;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	-webkit-transition:color .2s ease-in-out;
	transition:color .2s ease-in-out;
	vertical-align:top
}
.top-menu-item.small{
	margin:0;
	padding:5px 0 15px 23px
}
.top-menu-item.small span{
	font-family:LatoWeb,Arial;
	text-decoration:underline
}
.top-menu-item.expanded span{
	color:#000
}
.top-menu-icon{
	display:block;
	height:22px;
	opacity:.77;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out;
	width:22px
}
.top-menu-item .top-menu-icon{
	left:22px;
	position:absolute;
	top:4px
}
.top-menu-item .right-arrow{
	left:auto;
	opacity:.6;
	right:18px;
	-webkit-transition:opacity .2s ease-in-out,transform .2s ease-in-out;
	transition:opacity .2s ease-in-out,transform .2s ease-in-out
}
.top-menu-item .top-menu-icon.inline{
	display:inline-block;
	margin:-1px 0 -10px;
	position:static;
	vertical-align:top
}
.expanded.top-menu-item .right-arrow,.top-menu-item .right-arrow.down{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg)
}
.top-menu-icon.menus-sprite.refresh{
	background-position:-154px -285px;
	left:0;
	width:15px
}
.top-menu-icon.menus-sprite.mega{
	background-position:2px -394px;
	opacity:1
}
.top-menu-icon.menus-sprite.login{
	background-position:2px 2px
}
.top-menu-icon.menus-sprite.register{
	background-position:-48px 2px
}
.top-menu-icon.menus-sprite.features{
	background-position:-100px 2px
}
.top-menu-icon.menus-sprite.platforms{
	background-position:-150px 2px
}
.top-menu-icon.menus-sprite.company{
	background-position:-201px 3px
}
.top-menu-icon.menus-sprite.support{
	background-position:2px -54px
}
.top-menu-icon.menus-sprite.develop{
	background-position:-48px -55px
}
.top-menu-icon.menus-sprite.globe{
	background-position:-150px -55px
}
.top-menu-icon.menus-sprite.legal{
	background-position:-100px -54px
}
.top-menu-icon.menus-sprite.close{
	background-position:2px -284px
}
.top-menu-icon.menus-sprite.right-arrow{
	background-position:-49px -285px
}
.top-menu-icon.menus-sprite.fb{
	background-position:2px -338px
}
.top-menu-icon.menus-sprite.instagram{
	background-position:-50px -339px
}
.top-menu-icon.menus-sprite.twitter{
	background-position:-99px -338px
}
.top-menu-icon.menus-sprite.linkedin{
	background-position:-150px -339px
}
.top-menu-icon.menus-sprite.youtube{
	background-position:-197px -340px
}
.top-menu-icon.menus-sprite.export{
	background-color:#f5a623;
	background-position:-199px -110px;
	border-radius:100%;
	left:22px;
	opacity:1;
	top:4px
}
.top-menu-item.backup{
	padding:5px 26px 5px 50px
}
.top-menu-popup .top-menu-icon.close{
	cursor:pointer;
	position:absolute;
	right:12px;
	top:12px;
	z-index:1
}
.top-menu-popup .top-menu-icon.close:hover{
	opacity:1
}
.register:not(.hidden)+.top-menu-divider.small-pad,.top-menu-divider{
	background-color:#e6e6e6;
	height:0;
	margin:18px 38px 0 26px
}
.top-menu-divider.small-pad{
	margin-top:6px
}
.top-menu-divider.bg{
	background-color:#ededed;
	height:1px
}
.top-submenu{
	box-sizing:border-box;
	margin:0;
	max-height:0;
	opacity:0;
	overflow:hidden;
	-webkit-transition:max-height .3s ease-in-out,padding .2s ease-in-out,opacity .2s ease-in-out;
	transition:max-height .3s ease-in-out,padding .2s ease-in-out,opacity .2s ease-in-out
}
.submenu-item.expanded+.top-submenu{
	max-height:520px;
	opacity:1;
	padding-top:6px
}
.top-submenu .top-menu-item{
	border-left:2px solid transparent;
	color:#666;
	font-size:14px;
	line-height:20px;
	margin:0;
	padding:6px 26px 6px 50px
}
.top-submenu .top-menu-item span{
	color:#666
}
.top-submenu .top-menu-item.active{
	background-color:hsla(0, 0%, 40%, .1);
	border-color:#d0021b;
	color:#373737
}
.top-menu-item.active{
	border-color:#d0021b
}
.top-social-bl{
	padding:18px 0 0 28px
}
.top-social-txt{
	color:#373737;
	font-size:14px;
	line-height:20px;
	padding:0 28px 16px 0
}
.top-social-button{
	background-color:#f4f4f5;
	border-radius:4px;
	cursor:pointer;
	display:block;
	float:left;
	margin-right:10px;
	padding:5px
}
.top-mega-version{
	color:#666;
	float:left;
	font-size:13px;
	line-height:18px;
	padding:37px 0 0 28px
}
.top-green-button,.top-white-button{
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, .09);
	border-radius:3px;
	box-sizing:border-box;
	color:#d0021b;
	cursor:pointer;
	float:right;
	font-family:LatoWeb,Arial;
	font-size:15px;
	height:36px;
	line-height:34px;
	margin:28px 28px 0 0;
	min-width:90px;
	padding:0 15px;
	text-align:center
}
.top-green-button{
	background-color:#00c0a6;
	border:0;
	border-radius:2px;
	color:#fff;
	display:inline-block;
	float:none;
	font-size:16px;
	line-height:36px;
	margin:0 0 16px
}
.top-menu-logged{
	font-family:LatoWeb,Arial;
	margin-bottom:-6px;
	padding:0 26px
}
.top-menu-logged .avatar-block{
	cursor:pointer;
	float:left;
	margin:0 0 0 -3px;
	padding-right:11px;
	position:relative
}
.top-menu-logged .user-info{
	cursor:pointer;
	float:left;
	max-width:150px;
	white-space:nowrap
}
.top-menu-logged .plan{
	color:#000;
	font-size:14px;
	line-height:18px;
	padding:25px 0 4px
}
.top-menu-logged .storage{
	background-color:#e0e0e0;
	border-radius:3px;
	height:6px;
	max-width:192px
}
.top-menu-logged .storage-txt{
	box-sizing:border-box;
	color:#000;
	font-size:14px;
	line-height:18px;
	min-height:38px;
	padding:3px 0 0
}
.top-menu-logged .storage-txt span{
	color:#00c0a6;
	font-family:LatoWebBold,Arial
}
.top-menu-logged .storage span{
	background-color:#00c0a6;
	border-radius:inherit;
	box-shadow:0 2px 4px 0 hsla(0, 0%, 42.7%, .5);
	display:inline-block;
	font-size:0;
	height:6px;
	max-width:100%;
	vertical-align:top;
	width:0
}
.top-menu-logged.going-out .storage span{
	background-color:orange
}
.top-menu-logged.going-out .storage-txt span{
	color:orange
}
.top-menu-logged.exceeded .storage span{
	background-color:#d90007
}
.top-menu-logged.exceeded .storage-txt span{
	color:#d90007
}
.top-menu-logged .loader{
	background-position:-155px -401px;
	height:12px;
	margin:6px 0 0;
	opacity:0;
	position:absolute;
	width:12px
}
.top-menu-logged .loader.loading{
	-webkit-animation:rotate 2.5s linear infinite;
	-moz-animation:rotate 2.5s linear infinite;
	-o-animation:rotate 2.5s linear infinite;
	animation:rotate 2.5s linear infinite;
	opacity:1
}
.top-menu-logged .user-info .name{
	color:#373737;
	font-family:LatoWebSemiBold,Arial;
	font-size:16px;
	line-height:18px;
	padding:1px 0 0
}
.top-menu-logged .user-info .email,.top-menu-logged .user-info .name{

	overflow:hidden;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.top-menu-logged .user-info .email{
	color:#666;
	font-size:14px;
	line-height:16px
}
.top-menu-logged .user-info .name.hidden+.email{
	padding-top:10px
}
.pages-menu.body{
	-webkit-overflow-scrolling:touch;
	background-color:#fff;
	box-sizing:border-box;
	font-size:0;
	line-height:0;
	max-height:0;
	opacity:0;
	overflow:hidden;
	position:absolute;
	top:66px;
	-webkit-transition:opacity .2s ease-in-out,box-shadow .2s ease-in-out,max-height .3s ease-in-out;
	transition:opacity .2s ease-in-out,box-shadow .2s ease-in-out,max-height .3s ease-in-out;
	width:100%;
	z-index:100
}
.pages-menu.body.active{
	-webkit-box-shadow:0 2px 20px 6px rgba(0, 0, 0, .1);
	box-shadow:0 2px 20px 6px rgba(0, 0, 0, .1);
	max-height:100%;
	max-height:-webkit-calc(100% - 66px);
	max-height:-moz-calc(100% - 66px);
	max-height:calc(100% - 66px);
	opacity:1;
	overflow:scroll
}
.pages-menu.content{
	padding:22px 0
}
.pages-menu.link{
	cursor:pointer;
	display:block;
	position:relative
}
.pages-menu.link span{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1-bold);
	padding:11px 40px 11px 20px
}
.pages-menu.link i{
	--icon-size:22px;
	--mask-color:var(--icon-active);
	margin:0;
	position:absolute;
	right:17px;
	top:12px;
	transform:rotate(-90deg);
	transition:transform .2s ease-in-out
}
.pages-menu.link.active i{
	transform:rotate(0deg)
}
.pages-menu.submenu{
	max-height:0;
	opacity:0;
	overflow:hidden;
	-webkit-transition:opacity .2s ease-in-out,max-height .2s ease-in-out;
	transition:opacity .2s ease-in-out,max-height .2s ease-in-out;
	white-space:normal;
	z-index:10
}
.pages-menu.submenu.active{
	max-height:1000px;
	opacity:1;
	overflow:visible
}
.pages-menu.submenu .half-sized{
	display:inline-block;
	min-width:50%;
	vertical-align:top
}
.pages-menu.submenu-link{
	display:block;
	margin:0 10px 10px;
	position:relative;
	text-align:left
}
.pages-menu.submenu-link i{
	background-color:grey;
	border-radius:100%;
	height:24px;
	left:14px;
	position:absolute;
	top:3px;
	width:24px
}
.pages-menu.submenu-link span{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1);
	padding:5px 0 3px 45px;
	text-align:left
}
.menus-sprite.rounded.sync{
	background-color:#00a8e1;
	background-position:2px -111px
}
.menus-sprite.rounded.mobile{
	background-color:#00c1a5;
	background-position:-47px -111px
}
.menus-sprite.rounded.cmd{
	background-color:#ab58f5;
	background-position:-148px -110px
}
.menus-sprite.rounded.bird{
	background-color:#ab58f5;
	background-position:-47px -170px
}
.menus-sprite.rounded.ext{
	background-color:#ffa700;
	background-position:2px -169px
}
.menus-sprite.rounded.nas{
	background-color:#00a8e1;
	background-position:-99px -170px
}
.menus-sprite.rounded.storage{
	background-color:#00c1a5;
	background-position:-148px -170px
}
.menus-sprite.rounded.encryption{
	background-color:#4a90e2;
	background-position:-198px -167px
}
.menus-sprite.rounded.securechat{
	background-color:#ed5564;
	background-position:2px -226px
}
.menus-sprite.rounded.backup{
	background-color:#00a8e1;
	background-position:-47px -228px
}
.menus-sprite.rounded.share{
	background-color:#ffa700;
	background-position:-99px -227px
}
.pages-menu-dropdown{
	display:none;
	float:left
}
.mobile.pages-menu-dropdown span{
	color:rgba(0, 0, 0, .77);
	display:inline-block;
	font-size:20px;
	line-height:24px;
	margin:0 0 0 18px;
	overflow:hidden;
	padding:20px 0 0;
	text-align:left;
	text-overflow:ellipsis;
	vertical-align:top;
	white-space:nowrap
}
.mobile.pages-menu-dropdown i{
	--icon-size:24px;
	--mask-color:var(--icon-active);
	display:inline-block;
	margin-top:23px;
	transform:rotate(90deg);
	vertical-align:top
}
.mobile.pages-menu-dropdown.active i{
	background-position:-195px -285px
}
.pages-menu-wrap .mobile.fm-header{
	background-color:#fff;
	-webkit-box-shadow:0 2px 6px 0 rgba(0, 0, 0, .07);
	box-shadow:0 2px 6px 0 rgba(0, 0, 0, .07);
	position:relative
}
.pages-menu-wrap .pages-menu-dropdown{
	display:block
}
.pages-menu-arrow.menus-sprite{
	background-position:-98px -400px;
	display:block;
	height:22px;
	left:115px;
	position:absolute;
	top:-11px;
	width:22px
}
.top-menu-logged.business-acc .storage,.top-menu-logged .verified_icon{
	display:none
}
.top-menu-logged.business-acc .storage-txt{
	min-height:34px
}
.top-menu-logged.business-acc .plan{
	padding-bottom:0
}
.top-menu-logged.business-acc .loader{
	margin-top:6px
}
.top-menu-logged.business-acc .top-green-button{
	margin-top:4px
}
.menus-sprite,i.menus-sprite{
	background-image:url(../imagery/mobile-mobile-menus-sprite.fd03c3e62ab7d8cd.png);
	background-repeat:no-repeat
}
@media only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
.menus-sprite,i.menus-sprite{
	background-image:url(../imagery/mobile-mobile-menus-sprite-2x.5c9d6eba0a0af753.png);
	background-size:221px auto
}
}

