.ps-container{
	-ms-overflow-style:none;
	max-width:100%;
	min-width:100%;
	overflow:hidden !important;
	-ms-touch-action:none;
	touch-action:none
}
@supports (-ms-overflow-style:none){
.ps-container{
	overflow:auto !important
}
}
@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active){
.ps-container{
	overflow:auto !important
}
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail,.ps-container.ps-active-y>.ps-scrollbar-y-rail{
	background-color:var(--scroll-bar-background);
	display:block
}
.ps-container.ps-in-scrolling{
	pointer-events:none
}
.ps-container>.ps-scrollbar-x-rail{
	border-radius:4px;
	bottom:3px;
	display:none;
	margin:0 2px;
	opacity:0;
	overflow:hidden
}
.ps-container .ps-scrollbar-x,.ps-container>.ps-scrollbar-x-rail{
	height:8px;
	position:absolute;
	transition:opacity .2s ease-in-out
}
.ps-container .ps-scrollbar-x{
	background-color:var(--scroll-bar-handle);
	border-radius:8px;
	bottom:0;
	cursor:pointer;
	opacity:.5
}
.ps-container:hover>.ps-scrollbar-x-rail,.ps-container>.ps-scrollbar-x-rail:active,.ps-in-scrolling>.ps-scrollbar-x-rail{
	opacity:1
}
.ps-container>.ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail .ps-scrollbar-x{
	opacity:.7
}
.ps-container>.ps-scrollbar-y-rail{
	border-radius:4px;
	display:none;
	left:auto;
	margin:2px 0;
	opacity:0;
	overflow:hidden;
	position:absolute;
	right:0;
	transform:translateX(-3px);
	transition:opacity .2s ease-in-out;
	width:8px
}
.rtl .ps-container>.ps-scrollbar-y-rail{
	left:0;
	right:auto;
	transform:translateX(3px)
}
.ps-container .ps-scrollbar-y{
	background-color:var(--scroll-bar-handle);
	border-radius:8px;
	cursor:pointer;
	min-height:15px;
	opacity:.5;
	position:absolute;
	right:0;
	transition:opacity .2s ease-in-out;
	width:8px
}
.ps-container:hover>.ps-scrollbar-y-rail,.ps-container>.ps-scrollbar-y-rail:active,.ps-in-scrolling>.ps-scrollbar-y-rail,.ps-outfocused-scrolling>.ps-scrollbar-y-rail{
	opacity:1
}
.ps-container>.ps-scrollbar-y-rail:hover .ps-scrollbar-y,.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail .ps-scrollbar-y{
	opacity:.7
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y:before{
	content:"";
	height:100%;
	left:-3px;
	position:absolute;
	top:0;
	width:calc(100% + 6px)
}
.ps-container:hover.ps-in-scrolling{
	pointer-events:none
}
.perfectScrollbarContainer{
	position:relative
}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{
	z-index:120
}
