.bottom-info.body{
	background:#fff;
	background:linear-gradient(180deg, #fff 0, #eee);
	border-top:1px solid rgba(0, 0, 0, .05);
	bottom:0;
	box-sizing:border-box;
	display:none;
	font-family:LatoWeb,Arial,sans-serif;
	padding:16px;
	position:fixed;
	width:100%;
	z-index:1400
}
.notification .bottom-info.body{
	display:table
}
.notification .fmholder{
	height:100%;
	height:-webkit-calc(100% - 120px);
	height:-moz-calc(100% - 120px);
	height:calc(100% - 120px)
}
.notification .st-main-block{
	height:100%;
	height:-webkit-calc(100% + 52px);
	height:-moz-calc(100% + 52px);
	height:calc(100% + 52px)
}
.notification .st-full-block{
	padding:20px 0 50px
}
.bottom-info.body:before{
	background:linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .05));
	content:"";
	display:block;
	height:8px;
	left:0;
	position:absolute;
	top:-8px;
	width:100%
}
.bottom-info.content{
	display:table;
	margin:0 auto
}
.bottom-info.column{
	box-sizing:border-box;
	display:table-cell;
	font-size:0;
	height:70px;
	line-height:0;
	padding:0 50px 0 24px;
	vertical-align:middle
}
.bottom-info.column:first-child,.bottom-info.column:last-child{
	padding:0;
	width:66px
}
.bottom-info.column:last-child{
	white-space:nowrap
}
.bottom-info.display-icon{
	height:128px;
	width:128px
}
.bottom-info.content h4{
	color:#667;
	font-family:LatoWeb,Arial,sans-serif;
	font-size:18px;
	font-weight:400;
	line-height:23px;
	margin:0;
	padding:0
}
.bottom-info.content .messageA{
	color:#999;
	font-size:14px;
	line-height:18px;
	margin:5px 0 0
}
button.bottom-info{
	background:linear-gradient(180deg, #fff, #fcfcfc);
	border:1px solid rgba(0, 0, 0, .05);
	border-radius:3px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	box-sizing:border-box;
	color:#777;
	cursor:pointer;
	display:inline-block;
	font-family:source_sans_proregular,sans-serif;
	font-size:14px;
	line-height:18px;
	margin:15px 0 0;
	padding:8px 25px
}
button.bottom-info:hover{
	background-color:#686565
}
.bottom-info.fm-dialog-close{
	background-image:url(../imagery/mega-dialog-sprite.b252136f957452a2.png);
	background-position:-53px -4825px;
	background-repeat:no-repeat;
	cursor:pointer;
	height:30px;
	opacity:.5;
	position:absolute;
	right:10px;
	top:11px;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out;
	width:30px;
	z-index:10
}
.mobile.notification .fmholder{
	height:100%
}
.mobile.bottom-info.display-icon{
	height:64px;
	width:64px
}
.mobile.bottom-info.fm-dialog-close{
	left:auto;
	margin:0;
	right:3px;
	top:5px
}
.mobile.bottom-info.content h4{
	font-size:16px
}
.mobile.bottom-info.content .messageA{
	font-size:14px
}
.mobile.bottom-info.body{
	bottom:0
}
.mobile.bottom-info.column.text-column{
	padding:0 24px
}
