
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx){
body.pro:after{
	content:url(../images/mega/payment-animation@2x.gif?v=31c7b680888e6826)
}
.bitcoin-invoice-dialog .qr-code-mega-icon,.mega-dialog.bitcoin-invoice-dialog .clock-icon,.payment-result-icon{
	background-image:url(../imagery/mega-bitcoin-2x.1b500eb8d208e1c8.png);
	background-size:200px auto
}
.provider-icon{
	background-image:url(../imagery/mega-payment-provider-icons-2x.b1415f9559caf09c.png);
	background-size:20px auto
}
.mega-dialog.cancel-subscription-st2 .blue-success-icon{
	background-image:url(../imagery/mega-bitcoin-2x.1b500eb8d208e1c8.png);
	background-size:200px auto
}
.icoming-call-button{
	background-image:url(../images/mega/chat-sprite@2x.png?v=2&v=af225a0c23f9250b);
	background-size:72px auto
}
.top-context-close{
	background-image:url(../images/mega/context-top@2x.png?v=8e9d4d41176193d1);
	background-size:27px auto
}
.camera-bottom-icon,.camera-top-icon,.default-dropdown-item.icon,.download-dialog-icon,.download-icon,.download-sprite,.download-user-icon,.download.error-big-icon,.download.error-text.cross-icon,.download.error-text.error-icon,.download.error-text.na-icon,.mega-list-arrow,.megasync-dark-logo,.megasync-icon,.megasync-info-arrow,.megasync-logo,.megasync-table table td span,.megasync-table table th span,.new-download-red-button,.new-download-sync-app,button.download-button.down-arrow,button.download-button.to-clouddrive{
	background-image:url(../imagery/mega-download-sprite-2x.920d14b3d8d22fc1.png);
	background-size:257px auto
}
.account-history-drop-items.active,.account-warning-icon,.checkboxOff:after,.checkboxOn:after,.contains-value .top-clear-button,.dropdown-item.tick-item.active:after,.dropdown.close-button,.login-forgot-password,.login-register-input,.mega-dialog:not(.exceeded) .pro-plan-descr:after,.password-status-icon,.password-tooltip-arrow,.register-st2-button,.register-st2-button-arrow,.small-icon.membership,.top-clear-button,.top-login-input-block,.top-login-tooltip-arrow{
	background-image:url(../imagery/mega-top-login-sprite-2x.fea9f1f1d0a03e65.png);
	background-size:48px auto
}
.big-icons-sprite,.small-icon.membership.pro100,.tiny-icon.membership-status.pro100,i.big-icons-sprite{
	background-image:url(../imagery/mega-big-icons-2x.63c1f74677b015a6.png);
	background-size:192px auto
}
.fm-dialog-close.small,.pro-bottom-info-header:before,.pro-icon,.reg-st3-save-icon,.reg-st5-info-icon,.resend-email-button,.small-icon.blue-arrow,.small-icon.green-arrow,.toast-close-button{
	background-image:url(../imagery/mega-register-big-sprite-2x.c747b24b50d66bee.png);
	background-size:200px auto
}
.terms-agent-info{
	background-image:url(../images/mega/terms-icons@2x.png?v=bb8d0cddacf924b4);
	background-size:14px auto
}
.team-social-icon{
	background-image:url(../imagery/mega-about-sprite-2x.e7380808f7e68101.png);
	background-size:72px auto
}
.privacy-company-bott .st-quote-left,.privacy-company-bott .st-quote-right,.privacy-company-icon{
	background-image:url(../imagery/mega-privacy-sprite-2x.fc4aff8f5ab02a57.png);
	background-size:130px auto
}
.widget-arrow,.widget-arrows,.widget-circle,.widget-icon{
	background-image:url(../images/mega/widget-progress@2x.png?v=ead142ee4c03e65e);
	background-size:40px auto
}
.affiliate-input-block.select,.new-affiliate-star,ul.bot-ul li span,ul.can-ul li span,ul.cannt-ul li span,ul.mid-ul li span,ul.top-ul li span{
	background-image:url(../imagery/mega-new-affiliate-sprite-2x.3d9f98a5d9ba26ae.png);
	background-size:1500px auto
}
.contact-us-revamp h1,.contact-us .contact-new-title:before{
	background-image:url(../images/mega/contact-us-sprite@2x.png?v=e54609437867d4e6);
	background-size:80px auto
}
.dev-new-app-big-icon,.dev-new-app-settings,.dev-new-button,.dev-new-table-icon,.dev-no-apps-txt,.dev-short-bl-icon,.new-bottom-pages .new-right-content-block li,.new-left-menu-icon,.new-left-submenu-item{
	background-image:url(../images/mega/sdk-sprite@2x.png?v=b41172c5e0f72595);
	background-size:904px auto
}
.blog-minus-sign,.blog-new-arrow,.blog-new-back,.blog-new-forward,.blog-new-negative,.blog-new-not-recomend,.blog-new-positive,.blog-new-recomend,.blog-new-search,.blog-new-strong-recomend,.blog-pagination-button.next,.blog-pagination-button.previous,.blog-pagination-button.to-the-beggining,.blog-pagination-button.to-the-end,.blog-plus-sign,.fm-breadcrumbs.calendar,.rss-view-all,.social-arrow,.social-icon{
	background-image:url(../imagery/mega-blog-new-sprite-2x.18ab7aae0423e84e.png);
	background-size:217px auto
}
.help-listing,.help-nw .dev-new-button,.help-short-icon,.new-left-menu-icon.help-icon{
	background-image:url(../imagery/mega-help-new-sprite-2x.2eb6f32e18cd2889.png);
	background-size:886px auto
}
.opensource-icon,.opensource-top-icon{
	background-image:url(../imagery/mega-opensource-2x.120986b912a025f5.png);
	background-size:100px auto
}
.loading-info li:after{
	background-image:url(../imagery/mega-loading-sprite-2x.dc2b6fc8a2612d78.png);
	background-size:222px auto
}
.new-bottom-pages .blog-new-full p.strong-paragraph.new-blog-icon{
	background-image:url(../images/mega/blogs/blog-post-sprite1@2x.png?v=aa7e0564c83f68cb);
	background-size:36px auto
}
.dialog-empty-icon,.empty-icon,.fm-empty-cloud-bg,.fm-empty-contacts-bg,.fm-empty-conversations-bg,.fm-empty-filter-bg,.fm-empty-folder-bg,.fm-empty-folder-link-bg,.fm-empty-incoming-bg,.fm-empty-search-bg,.fm-empty-transfers-bg,.fm-empty-trashbin-bg,.fm-invalid-folder-bg{
	background-image:url(../imagery/mega-empty-sprite-2x.b991106a0bf8ade8.png);
	background-size:294px auto
}
.affiliate li,.blog-article li,.blog-new-full ul li,.pro li:not(.no-red-dot),.sync li{
	background-image:url(../images/mega/dev-point-new.png?v=4bd8d39d6b6c997a);
	background-size:39px auto
}
.blog-new-full ul ul li{
	background-image:url(../images/mega/dev-point-gray-new.png?v=7c77b167927d489c);
	background-size:39px auto
}
.fm-bandwidth-dashed,.fm-bandwidth-icon{
	background-image:url(../images/mega/quota-sprite@2x.png?v=b1fa0c9357cb27b5);
	background-size:240px auto
}
.backup-download-block,.backup-notification-icon,.login-register-input.fail,.login-register-input.green-tick,.recover-upload-block,.reset-account-lock-image,.restore-uploading-status-icon{
	background-image:url(../imagery/mega-encr-sprite-2x.c517867885897e01.png);
	background-size:216px
}
.huge-white-icon,.shared-link.small-icon{
	background-image:url(../imagery/mega-chat-static-sprite-2x.da2647a4df373fe7.png);
	background-size:68px auto
}
#mega-text-editor .txt-editor-download-btn .txt-editor-download-btn-icon,.download.thumb-hover-icon,.file-settings-icon:after,.files-grid-view.fm .column-settings:before,.fm-account-button.megadrop:before,.grid-url-arrow:after,.icons-sprite,.improved-recovery-steps .nav-back-icon,.medium-icon.icons-img,.mega-dialog.resume-transfer .resume-transfers-button .icon,.megasync-transfer .toast-col:first-child span:before,.semi-big-icon.icons-img,.settings-menu-arrow,.small-icon.clock,.small-icon.context,.small-icon.red-lens,.small-icon.red-play,.small-icon.small-play-icon,.top-search-button,.transfer-panel-title span:before,.viewer-mid-button,i.icons-sprite,i.small-icon.icons-sprite{
	background-image:url(../imagery/mega-icons-sprite-2x.d400f12475308f49.png);
	background-size:262px auto
}
#help2-main .ios-desktop-icon,#help2-main .linux-desktop-icon,#help2-main .ui-autocomplete .client,#help2-main .webclient-icon,#help2-main .windows-desktop-icon{
	background-image:url(../imagery/mega-help2-welcome_icons-2x.f1df57c14a3271d4.png);
	background-size:250px auto
}
.achievement-complete:after,.big-104px-icon.speedometer,.big-icon.almost-full-storage,.dropdown.transfer-icon,.huge-icon.storage-icon,.huge-white-icon.achievement,.mid-white-icon,.semi-big-icon.blue-cloud,.semi-big-icon.green-speedometer,.semi-huge-icon.green-tick,.semi-huge-icon.speedometer,.semi-huge-icon.storage,.semi-small-icon.rocket{
	background-image:url(../imagery/mega-account-sprite-2x.64a0618efc6feeed.png);
	background-size:172px auto
}
.huge-icon.achievement{
	background-image:url(../images/mega/big-achievements@2x.png?v=b6fd2f68938d9fca);
	background-size:436px auto
}
.feedback-button,.fm-files-search i.search,.improved-recovery-steps .list-point b.megasync-logo,.languages-dialog .show-more-languages .round-arrow span,.logo,.medium-icon.rocket,.megasync-close,.new-notification-icon,.notification-txt,.nw-bottom-copyrights,.nw-bottom-social,.semi-small-icon.grey-mega,.semi-small-icon.white-mega,.semi-small-icon.yellow-triangle,.tiny-icon.green-tick,.tiny-icon.membership-status,.tiny-icon.red-cross,.top-sprite,i.account-icon,i.top-sprite{
	background-image:url(../imagery/mega-top-sprite-2x.6d771c63b6e27d1e.png);
	background-size:38px auto
}
.block-view-file-type,.contact-share-notification:before,.dragger-icon,.export-icon,.medium-file-icon,.new-download-file-icon,.share-folder-icon div,.shared-details-icon,.shared-folder-icon,.transfer-filetype-icon{
	background-image:url(../imagery/mega-files-icons-2x.5ab6df6dac20bc6.png);
	background-size:399px 5575px
}
.download.big-icon,.fm-dialog-close.big,.megasync-img:before,button.megasync-slider:after{
	background-image:url(../imagery/mega-download-dialog-2x.8b446cb6240de1fa.png);
	background-size:853px auto
}
.properties-file-icon div{
	background-image:url(../imagery/mega-properties-sprite-2x.b35972d2f203224b.png);
	background-size:589px 6320px
}
.drag-n-drop.header,.drag-n-drop.info-block i,.drag-n-drop hr{
	background-image:url(../images/mega/overlay-sprite@2x.png?v=1b0f757b3402e6c0);
	background-size:400px auto
}
.dropdown.hint-thumb{
	background-image:url(../imagery/mega-hints-sprite-2x.6a58532180277356.png);
	background-size:660px auto
}
.es .dropdown.hint-thumb{
	background-image:url(../imagery/mega-hints-sprite-es-2x.429128d89a97fa54.png)
}
.br .dropdown.hint-thumb{
	background-image:url(../imagery/mega-hints-sprite-pt-2x.13cc1f689df69510.png)
}
.cn .dropdown.hint-thumb{
	background-image:url(../imagery/mega-hints-sprite-cn-2x.beb2afdd09f6271.png)
}
.add-user-icon,.bandwidth-back-button,.bandwidth-text-bl .star,.bottom-info.fm-dialog-close:not(.mobile),.btn-close-dialog,.delete-contact.multiple .fm-del-contact-avatar,.dialog-sprite,.dlkey-dialog .decryption-key .icon,.duplicated-input-warning .arrow,.email .avatar-wrapper:after,.email .search-avatar:after,.embed-content .tab-icon.embed,.embed-content .tab-icon.url,.export-links-warning-close,.file-link-block .icon,.fm-dialog-close,.fm-dialogs-dropdown span,.fm-dialogs-select span,.fm-notification-info p.red:before,.full-access .context-menu-icon,.gmail .avatar-wrapper:after,.gmail .search-avatar:after,.import-contacts-info,.import-contacts-info-txt .import-arrow,.import-contacts-link span,.import-contacts-service.imported,.import-contacts-service span,.imported-notification-close,.information-icon,.information-icon div span,.mega-dialog.share-add-dialog .chat-contactspicker-no-contacts.searching .fm-empty-contacts-bg,.multiple-input-warning .arrow,.pending-indicator:after,.pending .search-avatar:after,.properties-context-arrow,.properties-share-icon,.read-and-write .context-menu-icon,.read-only .context-menu-icon,.share-dialog-icon,.share-dialog-icon.permissions-icon span,.share-dialog-img,.share-dialog-remove-button,.share-pending-arrow,.share-search-result.selected,.shared-with-me.full-access .properties-elements-counter span,.shared-with-me.read-and-write .properties-elements-counter span,.shared-with-me.read-only .properties-elements-counter span,.start-chat-button,.start-chat-button span,.widget-card .widget-maximise,.widget-card .widget-minimise,i.dialog-sprite{
	background-image:url(../imagery/mega-dialog-sprite-2x.5d4cc1363050bf4b.png);
	background-size:160px auto
}
.big-icon,.call-icon,.chat-topic-block.privateChat .privateChatDiv,.huge-grey-warning,.huge-icon,.medium-icon,.privateChat+.privateChatDiv,.round-icon,.semi-big-icon,.semi-small-icon,.small-icon,.tiny-icon,.verified .verified_icon,button.chat-share-nav:before,button.icon-dropdown.active,button.icon-dropdown:not(.disabled):hover,div.chat-topic-icon:before,div.message.richpreview.confirmation-icon{
	background-image:url(../imagery/mega-new-chat-sprite-2x.ba0145bc8a03fa1c.png);
	background-size:237px auto
}
.achievements-cell .medium-icon.remind-icon,.add-user-size-icon,.arrow.asc.grid-header-star,.arrow.desc.grid-header-star,.big-icon.cloud,.big-icon.fm-s,.big-icon.speedometer,.clear-transfer-icon:after,.contact-request-ignored,.contact-status-icon,.contacts-interation,.content-panel.dashboard .small-icon.info-icon,.context-bottom-arrow,.context-top-arrow,.create-folder-size-icon,.file-status-icon.star,.fm-account-button:before,.fm-add-user-scrolling .nw-contact-item,.fm-breadcrumbs.has-next-button,.fm-contact-requests span,.fm-dialog-search,.fm-mega-dialog-size-icon,.fm-picker-dialog .contact-row.selected .contact-checkboxOn.small12:before,.fm-picker-dialog .contact-row:hover .small12:before,.fm-picker-dialog .icon,.fm-received-requests span,.fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .down-control,.fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .up-control,.fm-right-account-block .icon,.fm-right-account-block .tooltip-icon .medium-icon.info-icon,.fm-s,.fm-share-dropdown,.free .fm-right-account-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,.free .fm-right-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,.grid-status-icon.star,.invitation-dialog .table-cell span.asc,.invitation-dialog .table-cell span.desc,.linked .data-item-icon,.medium-icon.cloud,.medium-icon.speedometer,.no-percs .chart.data .perc-txt,.notification-accepted,.nw-fm-left-icon.affiliate:after,.nw-fm-search-icon,.nw-fm-tree-item.contains-folders .nw-fm-arrow-icon,.nw-verified-icon,.redeem-voucher .notification-arrow,.semi-big-icon.cloud,.semi-big-icon.cloud-down,.semi-big-icon.cloud-up,.semi-big-icon.grnt-quota,.semi-big-icon.speedometer,.semi-big-icon.xscheduler,.semi-small-icon.circle,.semi-small-icon.cloud,.semi-small-icon.dots,.semi-small-icon.down-arrow,.semi-small-icon.exclamation-point,.semi-small-icon.file,.semi-small-icon.folder,.semi-small-icon.left-arrow,.semi-small-icon.left-arrow-with-dot,.semi-small-icon.linked,.semi-small-icon.right-arrow,.semi-small-icon.rounded-arrow,.semi-small-icon.rubbish,.semi-small-icon.rubbish-arrows,.semi-small-icon.star,.semi-small-icon.tick,.share-dialog-icon.permissions-icon,.share-dialog-panel-arrows,.small-icon.dark-grey-plus,.small-icon.download-as-zip:not(.context),.small-icon.file-upload:not(.context),.small-icon.fm-s,.small-icon.folder-upload:not(.context),.small-icon.grey-plus:not(.icons-sprite),.small-icon.import-to-cloud,.small-icon.pause-icon,.small-icon.play-icon,.small-icon.refresh-icon,.small-icon.small-red-cross,.sorting-menu-item.active,.sorting-menu-item.selected,.star .incoming-contact-info span.incoming-call-name,.taken-down .file-status-icon,.tiny-icon.cog,.transfer-bar-overlay div,.transfer-table-header th:first-child span,.undecryptable .file-status-icon,.verified .nw-contact-verified-icon{
	background-image:url(../imagery/mega-fm-main-sprite-2x.3799b756d456dcf5.png);
	background-size:48px auto
}
.mega-dialog.verify-phone .achievements-icon,.verify-ph-bonus-valid-days .valid-days-title:before{
	background-image:url(../imagery/mega-mid-achievements-2x.f40f0e62498d6047.png);
	background-repeat:no-repeat;
	background-size:380px auto
}
.fm-files-view-icon-user-management,.subaccount-view-used-data .used-storage-info .folder-small-icon,.user-management-overview-bar-data .info-block .icon{
	background-image:url(../imagery/mega-fm-main-sprite-2x.3799b756d456dcf5.png);
	background-size:48px auto
}
.bus-reg-icon,.business-dashboard .folder-small-icon.ex-out-share,.fm-right-header-user-management .folder-small-icon.ex-out-share,.subaccount-view-used-data .used-storage-info .folder-small-icon.ex-in-share,.subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share,.user-management-dialog .folder-small-icon.ex-out-share,.user-management-view .subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share{
	background-image:url(../imagery/mega-top-sprite-2x.6d771c63b6e27d1e.png);
	background-size:38px auto
}
.fm-right-header-user-management .icon,.share-dialog-top-body .copy-link-icon,.user-management-dialog .icon,.user-management-overview-bar .icon{
	background-image:url(../imagery/mega-fm-main-sprite-2x.3799b756d456dcf5.png);
	background-size:48px auto
}
.bus-confirm-body .bus-confirmImg,.bus-reg-featureImg100{
	background-image:url(../imagery/mega-big-icons-2x.63c1f74677b015a6.png);
	background-size:192px auto
}
.user-management-account-settings .icon12,.user-management-account-settings .invoice-detail .mega-logo{
	background-image:url(../imagery/mega-invoice-image-2x.57ef6d3f61505263.png);
	background-size:120px auto
}
.bottom-page-icon.white-info,.bottom-page.icon.new-pages-sprite,.bottom-page.large-icon,.bottom-page.top-title:before,.cropped-page .bottom-page.big-icon,.cropped-page .bottom-page.top-title:before,.dark-notification-arrow,.megaapp-linux-arrow,.mobile-apps-button.uwp,.uwp .advertise-chat .mobile-apps-button.red span:before{
	background-image:url(../imagery/mega-new-pages-sprite-2x.c85c76b3eb45e9d7.png) !important;
	background-size:376px auto
}
.auth-app-select-tooltip .app-link-arrow,.auth-app-select-tooltip .app-link-icon{
	background-image:url(../images/mega/2fa-auth-apps@2x.png?v=19379dee3e855413);
	background-size:72px auto
}
.improved-recovery-steps .recover-image,.improved-recovery-steps .session-image-block,.tooltip-block .minimum-password-block .password-icon{
	background-image:url(../imagery/mega-recover-account-sprite-2x.a9eb70da26259252.png);
	background-size:344px auto
}
.big-illustration,.register-sprite{
	background-image:url(../imagery/mega-register-sprite-2x.134d527a555a6d59.png);
	background-size:612px auto
}
.register-page .slider-ctrl-button{
	background-image:url(../imagery/mega-business-2x.65d82d780cbd4858.png) !important;
	background-size:367px auto
}
.context-sprite,i.context-sprite{
	background-image:url(../imagery/mega-context-sprite-2x.5ceccb25400d603a.png);
	background-size:217px auto
}
.bottom-page.about-sprite,i.bottom-page.about-sprite{
	background-image:url(../imagery/mega-about-sprite-2x.e7380808f7e68101.png) !important;
	background-size:525px auto
}
}
