
.centered-textalign,.centered-textalign *{
	text-align:center !important
}
.new-startpage .top-head:after{
	display:none
}
.bottom-page.startpage.full-block,.bottom-page.startpage .top{
	font-family:LatoWeb,source_sans_proregular
}
.bottom-page.light-blue{
	background-color:#f7f9fb;
	overflow:hidden
}
.startpage.top-header{
	color:#373737;
	font-family:montserrat_light,montserrat,Arial;
	font-size:40px;
	line-height:63px;
	padding:64px 40px 35px
}
.startpage .affiliate-page.top-header{
	padding:64px 0 35px
}
.startpage.top-info{
	color:#373737;
	font-size:16px;
	line-height:18px;
	padding:0 40px 40px
}
.startpage.top-notice{
	background-color:#fff;
	color:#999;
	font-size:12px;
	line-height:15px;
	margin:-13px 0 0;
	padding:0 40px 90px;
	position:relative;
	text-align:center
}
.startpage.top-info strong{
	font-family:LatoWebBold,source_sans_probold;
	font-size:18px;
	font-weight:400
}
.startpage.img1{
	max-width:1494px;
	position:relative;
	width:100%
}
.startpage.abs{
	position:absolute
}
.startpage.img2{
	margin:0 0 0 5px;
	max-width:726px;
	width:200%
}
.startpage.img3{
	float:right;
	margin:-16% -63% 0 0;
	max-width:1081px;
	position:relative;
	width:250%
}
.startpage.img3.abs{
	position:absolute;
	right:0;
	top:0
}
.startpage.img4{
	max-width:712px;
	width:200%
}
.startpage-chat-img{
	margin:0 0 0 10px;
	position:relative
}
.startpage-chat-content,.startpage-chat-content span{
	font-size:0;
	height:299px;
	left:192px;
	overflow:hidden;
	position:absolute;
	top:90px;
	width:443px;
	z-index:10
}
.startpage-chat-content span{
	background-image:url(../images/mega/bottom-page/start_img4-2@2x.png?v=c787bea42fe317ac);
	background-repeat:repeat-y;
	background-size:100% auto;
	display:block;
	height:2221px;
	left:0;
	top:0
}
.startpage.img5{
	float:right;
	margin:0;
	max-width:759px;
	width:200%
}
.startpage.img-wrap{
	line-height:0;
	margin:-20px -20px 0;
	position:relative
}
.startpage.img-wrap:after,.startpage.img-wrap:before{
	background-color:#fff;
	bottom:0;
	content:"";
	display:block;
	height:85px;
	position:absolute;
	width:50%;
	width:-webkit-calc(50% - 700px);
	width:-moz-calc(50% - 700px);
	width:calc(50% - 700px);
	z-index:1
}
.startpage.img-wrap:after{
	right:0
}
.bottom-page.banners{
	background-color:#fff;
	overflow:hidden;
	position:relative
}
.bottom-page.top-banner{
	opacity:0;
	position:absolute;
	top:0;
	-webkit-transition:opacity .5s ease-in-out,visibility .5s ease-in-out;
	transition:opacity .5s ease-in-out,visibility .5s ease-in-out;
	visibility:hidden;
	width:100%
}
.bottom-page.top-banner.active{
	opacity:1;
	visibility:visible
}
.bottom-page.top-banner.banner2{
	padding-bottom:30px;
	position:relative
}
.bottom-page.banner-control{
	cursor:pointer;
	left:90px;
	position:absolute;
	top:470px;
	z-index:3
}
.bottom-page.banner-control.next{
	left:auto;
	right:90px
}
.startpage.mid-icon,.startpage.small-icon{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-243px 14px;
	background-repeat:no-repeat;
	height:20px;
	width:20px
}
.startpage.mid-icon{
	height:60px;
	width:60px
}
.startpage.small-icon.green-tick{
	background-position:-25px -615px
}
.startpage.small-icon.red-cross{
	background-position:-76px -615px
}
.startpage.carousel{
	height:253px;
	margin-top:44px;
	position:relative
}
.startpage.carousel-slide{
	background-color:#fff;
	border:1px solid #e6e6e6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:5px 8px 21px 0 hsla(0, 0%, 83.1%, .5);
	-moz-box-shadow:5px 8px 21px 0 hsla(0, 0%, 83.1%, .5);
	box-shadow:5px 8px 21px 0 hsla(0, 0%, 83.1%, .5);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#373737;
	font-size:15px;
	font-style:italic;
	left:0;
	line-height:24px;
	margin:0;
	opacity:0;
	padding:30px;
	position:absolute;
	text-align:center;
	top:0;
	transform:scale(.5);
	-webkit-transition:left .4s ease-in-out,transform .4s ease-in-out,opacity .4s ease-in-out;
	transition:left .4s ease-in-out,transform .4s ease-in-out,opacity .4s ease-in-out;
	width:50%;
	z-index:10
}
.startpage.carousel-slide.current{
	left:25%;
	opacity:1;
	transform:scale(1)
}
.startpage.carousel-slide.prev{
	left:0;
	opacity:.5;
	transform:scale(.8);
	z-index:9
}
.startpage.carousel-slide.next{
	left:50%;
	margin:0;
	opacity:.5;
	transform:scale(.8);
	z-index:9
}
.startpage.rating-block{
	font-size:0;
	margin:-3px 0 10px
}
.startpage.comment-block{
	min-height:134px
}
.startpage.author-name{
	color:#666;
	font-size:14px;
	font-style:normal;
	padding:0;
	word-break:break-word
}
.startpage.rating-block span{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-161px -618px;
	background-repeat:no-repeat;
	display:inline-block;
	height:14px;
	margin:0 2px;
	width:14px
}
.startpage.rating-block span.active{
	background-position:-121px -618px
}
.startpage.carousel-control{
	background-color:#fff;
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-220px -650px;
	border-radius:100%;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .15);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, .15);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .15);
	cursor:pointer;
	height:32px;
	left:0;
	margin:-16px 0 0;
	opacity:.5;
	position:absolute;
	top:50%;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out;
	width:32px;
	z-index:20
}
.startpage.carousel-control:hover{
	opacity:.7
}
.startpage.carousel-control.next{
	background-position:-190px -610px;
	left:auto;
	right:0
}
.startpage.button-48-height{
	background-color:#0bbdaa;
	border:1px solid #0bbdaa;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:18px;
	height:48px;
	line-height:46px;
	margin:0 20px;
	min-width:170px;
	padding:0 15px;
	position:relative;
	text-align:center;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	white-space:nowrap;
	z-index:1
}
.startpage.button-48-height:hover{
	background-color:#00ac94;
	border-color:#00ac94;
	-webkit-box-shadow:0 0 0 4px rgba(0, 191, 165, .3);
	-moz-box-shadow:0 0 0 4px rgba(0, 191, 165, .3);
	box-shadow:0 0 0 4px rgba(0, 191, 165, .3)
}
.startpage.button-48-height.orange{
	background-color:#fba500;
	border-color:#fba500
}
.startpage.button-48-height.orange:hover{
	background-color:#ee9200;
	border-color:#ee9200;
	-webkit-box-shadow:0 0 0 4px rgba(251, 165, 0, .2);
	-moz-box-shadow:0 0 0 4px rgba(251, 165, 0, .2);
	box-shadow:0 0 0 4px rgba(251, 165, 0, .2)
}
.startpage.button-48-height.white{
	background-color:#fff;
	border-color:#cfcfcf;
	color:#373737
}
.startpage.button-48-height.white:hover{
	background-color:#fafafa;
	-webkit-box-shadow:0 0 0 4px rgba(0, 0, 0, .15);
	-moz-box-shadow:0 0 0 4px rgba(0, 0, 0, .15);
	box-shadow:0 0 0 4px rgba(0, 0, 0, .15)
}
.startpage.buttons-block{
	padding:80px 0 40px
}
.startpage.counters{
	padding:18px 0 12px
}
.startpage.flip-wrapper{
	display:inline-block;
	font-size:0;
	margin:0 -15px;
	padding:12px 0 0
}
.flip-block{
	margin:2px
}
.flip-bg,.flip-block{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	color:#777;
	display:inline-block;
	font-size:28px;
	height:35px;
	line-height:35px;
	text-align:right;
	width:24px
}
.flip-bg{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-243px 14px;
	background-repeat:no-repeat;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 4px
}
.flip-bg,.flip-div{
	vertical-align:top
}
.flip-div{
	background-color:#ccc;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	display:inline-block;
	height:6px;
	margin:38px -1px 0;
	width:2px
}
.startpage.scroll-to-top{
	background-color:#cecece;
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-214px -688px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	bottom:60px;
	cursor:pointer;
	height:52px;
	margin:0;
	opacity:0;
	position:fixed;
	right:50px;
	-webkit-transition:background-color .2s ease-in-out,opacity .2s ease-in-out;
	transition:background-color .2s ease-in-out,opacity .2s ease-in-out;
	width:52px;
	z-index:10
}
.start-animation .startpage.scroll-to-top{
	opacity:1
}
.startpage.scroll-to-top.up{
	background-position:-214px -601px
}
.mobile .startpage.scroll-to-top{
	bottom:30px;
	right:30px
}
.startpage.scroll-to-top:hover{
	background-color:#a1a1a1
}
.startpage-download{
	display:inline;
	position:relative
}
.startpage.img2-progress{
	background-color:rgba(51, 51, 51, .2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	bottom:144px;
	height:10px;
	left:139px;
	position:absolute;
	width:100%;
	width:-webkit-calc(100% - 284px);
	width:-moz-calc(100% - 284px);
	width:calc(100% - 284px)
}
.startpage.img2-progress.pr2{
	bottom:57px
}
.startpage.img2-progress span{
	background-color:#00c0a6;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	height:100%;
	left:0;
	position:absolute;
	width:0
}
.startpage-filetypes{
	display:inline;
	float:right;
	position:relative
}
.startpage-business-wrap{
	margin-right:-30px;
	position:relative
}
.startpage-busines-cont{
	background-image:url(../images/mega/bottom-page/start_img5-3@2x.png?v=3481a292e6c0bfa6);
	background-size:100% auto;
	height:451px;
	position:absolute;
	right:0;
	top:0;
	width:456px;
	z-index:10
}
.startpage-busines-cont.c2{
	background-image:url(../imagery/mega-bottom-page-start_img5-4-2x.fa36acfe92c0876e.png);
	height:404px;
	right:265px;
	top:341px;
	width:381px
}
.startpage .bottom-page.half-sized-cell.mid-width{
	max-width:618px;
	padding:0
}
.startpage .bottom-page.right-cell .img-description.mid-width{
	padding-left:30px
}
.startpage .bottom-page.horizontal-centered-bl.width-with-pad{
	padding:0 20px;
	table-layout:fixed
}
.bottom-page.visible{
	overflow:visible !important
}
.startpage.button-48-height.account{
	display:none
}
.logged .startpage.button-48-height.account{
	display:inline-block
}
.startpage.italic-text{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:rgba(0, 0, 0, .7);
	font-size:18px;
	font-style:italic;
	line-height:36px;
	margin:0 auto;
	max-width:810px;
	padding:0 15px;
	position:relative
}
.startpage.italic-text span{
	padding:0 8px
}
.startpage.quote-icon{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:-115px -2739px;
	height:26px;
	left:14px;
	position:absolute;
	top:-25px;
	width:36px
}
.startpage.quote-icon.close{
	background-position:-218px -2739px;
	bottom:-25px;
	left:auto;
	right:14px;
	top:auto
}
.startpage.declaration-lnk{
	color:#ff333a;
	font-family:montserrat,open_sans,sans-serif;
	font-size:14px;
	line-height:20px;
	padding:0 10px;
	text-align:center
}
.startpage.medium-icon.declaration{
	background-position:-201px -2088px;
	margin:27px auto 22px
}
.startpage.medium-icon{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-position:1px -2723px;
	background-repeat:no-repeat;
	height:66px;
	margin:20px auto 12px;
	width:66px
}
.bottom-page.compare{
	font-size:0;
	padding-top:84px
}
.bottom-page.compare-block{
	background:#fff;
	background:-moz-linear-gradient(top, #fff 0, #fafafa 100%);
	background:-webkit-linear-gradient(top, #fff, #fafafa);
	background:linear-gradient(180deg, #fff 0, #fafafa);
	border-radius:10px;
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	display:inline-block;
	margin:0;
	padding:23px 0 0;
	position:relative;
	text-align:center;
	vertical-align:top;
	width:262px
}
.bottom-page.compare-block:before{
	border-radius:inherit;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	content:"";
	display:block;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.page-icon{
	display:block
}
.page-icon.x48{
	height:48px;
	width:48px
}
.page-icon.x44{
	height:44px;
	width:44px
}
.page-icon.x24{
	height:24px;
	width:24px
}
.bottom-menu .logo,.startpage-sprite,i.startpage-sprite{
	background-image:url(../imagery/mega-startpage-sprite.47563a46fd50806b.png);
	background-repeat:no-repeat
}
.startpage-sprite.social-i{
	display:block;
	height:36px;
	width:36px
}
.startpage-sprite.social-i.fb{
	background-position:2px -2208px
}
.startpage-sprite.social-i.instagram{
	background-position:-48px -2207px
}
.startpage-sprite.social-i.twitter{
	background-position:-98px -2207px
}
.startpage-sprite.social-i.linkedin{
	background-position:-148px -2208px
}
.startpage-sprite.social-i.youtube{
	background-position:-198px -2208px
}
.page-icon.x48.dropbox{
	background-position:-104px -475px
}
.page-icon.x48.mega{
	background-position:-5px -351px;
	background-size:200px auto
}
.page-icon.x48.gdrive{
	background-position:-183px -474px
}
.page-icon.x44.arrow-icon{
	background-position:-105px -645px
}
.expanded .page-icon.x44.arrow-icon{
	background-position:-184px -646px
}
.page-icon.x24.android{
	background-position:-76px -1453px
}
.page-icon.x24.huawei{
	background-position:-128px -1453px
}
.page-icon.x24.apple{
	background-position:-27px -1453px
}
.page-icon.x24.linux{
	background-position:-228px -1453px
}
.page-icon.x24.win{
	background-position:-180px -1453px
}
.bottom-page.compare-block .page-icon{
	margin:0 auto
}
.bottom-page.compare-head{
	color:#333;
	font-family:LatoWebBold,Arial;
	font-size:16px;
	line-height:20px;
	padding:14px 0 0;
	text-transform:uppercase
}
.bottom-page.compare-price{
	color:#00bfa5;
	font-family:LatoWebBold,Arial;
	font-size:26px;
	line-height:56px;
	padding:12px 0 0
}
.bottom-page.compare-price i{
	color:#373737;
	display:inline-block;
	font-family:LatoWeb,Arial;
	font-size:14px;
	font-style:normal;
	margin:-12px -10px 0 5px;
	vertical-align:top
}
.bottom-page.compare-price.blue{
	color:#007ee5
}
.bottom-page.compare-price.yellow{
	color:#e1b63f
}
.bottom-page.compare-price span{
	font-size:48px;
	padding:0 5px 0 0
}
.bottom-page.compare-time{
	color:#333;
	font-family:LatoWebBold,Arial;
	font-size:16px;
	line-height:20px;
	margin-top:-7px;
	padding:0 0 12px
}
.bottom-page.compare-feature{
	background-color:rgba(0, 0, 0, .02);
	font-size:0;
	padding:14px 10px
}
.bottom-page.compare-feature span{
	color:#373737;
	display:inline-block;
	font-size:16px;
	line-height:20px;
	vertical-align:top
}
.bottom-page.compare-feature i{
	display:inline-block;
	margin:0 10px 0 0;
	vertical-align:top
}
.en .bottom-page.compare-feature i{
	margin:0 15px 0 0
}
.de .bottom-page.compare-feature i{
	margin:0 7px 0 0
}
.de .bottom-page.compare-feature span{
	font-size:15px
}
.th .bottom-page.compare-feature span{
	font-size:14px
}
.bottom-page.compare-tip{
	box-sizing:border-box;
	color:#373737;
	font-size:12px;
	line-height:15px;
	min-height:60px;
	padding:15px
}
.bottom-page.compare-mark{
	background-color:#00c0a6;
	box-sizing:border-box;
	color:#fff;
	font-size:9px;
	line-height:12px;
	padding:9px 2px;
	position:absolute;
	right:22px;
	top:0;
	width:48px
}
.bottom-page.compare-mark span{
	font-size:17px;
	line-height:17px
}
.bottom-page.compare-mark i{
	background-position:-4px -529px;
	background-size:213px auto;
	bottom:-20px;
	height:20px;
	left:0;
	position:absolute;
	width:100%
}
.bottom-page.compare-block.big:before{
	-webkit-box-shadow:0 0 0 1px #00c0a6;
	-moz-box-shadow:0 0 0 1px #00c0a6;
	box-shadow:0 0 0 1px #00c0a6
}
.bottom-page.compare-block.big{
	margin:0 20px
}
.bottom-page.compare-txt{
	color:#373737;
	font-size:18px;
	line-height:22px;
	padding:106px 0 0
}
.bottom-page.compare-txt a,.bottom-page.compare-txt a:visited{
	color:#00c0a6;
	text-decoration:underline
}
.bottom-page.compare-txt a:hover{
	text-decoration:none
}
.startpage.software{
	display:table;
	margin-top:60px;
	table-layout:fixed;
	width:100%
}
.startpage.software-cell{
	display:table-cell;
	font-size:0;
	line-height:0;
	position:relative;
	vertical-align:middle;
	width:50%
}
.startpage.software-content{
	padding-left:64px;
	text-align:left
}
.startpage.software-header{
	border-top:1px solid #e3e3e3;
	color:#373737;
	cursor:pointer;
	font-family:montserrat_light,montserrat,Arial;
	font-size:30px;
	line-height:38px;
	margin-left:54px;
	padding:19px 0 17px;
	position:relative;
	-webkit-transition:color .2s ease-in-out;
	transition:color .2s ease-in-out
}
.expanded .startpage.software-header{
	color:#00c0a6
}
.startpage.software-content:first-child .software-header{
	border:0
}
.startpage.software-header i{
	display:block;
	left:-54px;
	position:absolute;
	top:15px
}
.startpage.software-txt{
	max-height:0;
	opacity:0;
	overflow:hidden;
	padding:0 0 0 54px;
	-webkit-transition:opacity .5s ease-in-out;
	transition:opacity .5s ease-in-out
}
.expanded .startpage.software-txt{
	max-height:300px;
	opacity:1
}
.startpage.software-txt span{
	color:#666;
	display:block;
	font-family:montserrat_light,montserrat,Arial;
	font-size:18px;
	line-height:22px;
	max-width:550px;
	padding:2px 0 20px
}
.startpage.software-txt a,.startpage.software-txt a:visited{
	color:#00c0a6;
	display:inline-block;
	font-family:LatoWeb,Arial;
	font-size:18px;
	line-height:22px;
	margin:0 0 8px;
	text-decoration:underline;
	vertical-align:top
}
.startpage.software-txt a:hover{
	text-decoration:none
}
.startpage.software-txt a.icons{
	display:inline-block;
	font-size:0;
	margin-left:36px;
	text-decoration:none;
	white-space:nowrap
}
.startpage.software-txt a.icons i{
	display:inline-block;
	margin:0 0 0 25px;
	padding:0
}
.startpage.software-txt a.icons i:first-child{
	margin:0
}
.startpage.software-cell img{
	display:block;
	width:100%
}
.startpage.software-img{
	line-height:0;
	opacity:0;
	position:absolute;
	right:10%;
	top:50%;
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:100%
}
.software-cell.start-animation .startpage.software-img.active{
	max-width:650px;
	opacity:1;
	right:0;
	-webkit-transition:opacity .8s ease-in-out,right .8s ease-in-out;
	transition:opacity .8s ease-in-out,right .8s ease-in-out;
	z-index:1
}
.startpage.software-cell img.desktop{
	max-width:804px;
	width:120%
}
.startpage.software-cell img.mobile{
	max-width:547px
}
.startpage.software-cell img.cmd{
	max-width:516px
}
.startpage.software-cell img.ext{
	max-width:472px
}
.startpage.software-cell img.bird{
	max-width:553px
}
div.startpage.software-img.soft-slide[data-slide="2"]{
	max-width:626px
}
.startpage.software-img img{
	bottom:auto;
	left:0;
	margin:auto;
	opacity:0;
	position:absolute;
	right:0;
	top:0
}
.startpage.software-img img.active{
	opacity:1;
	position:relative;
	-webkit-transition:opacity .5s ease-in-out;
	transition:opacity .5s ease-in-out;
	z-index:1
}
.startpage.slider-controls{
	display:inline-block;
	padding:30px 0 0;
	position:relative;
	white-space:nowrap;
	z-index:1
}
.startpage.slider-controls span{
	background-color:#b9b9b9;
	border-radius:100%;
	cursor:pointer;
	display:inline-block;
	height:12px;
	margin:0 10px;
	-webkit-transition:background-color .5s ease-in-out;
	transition:background-color .5s ease-in-out;
	vertical-align:top;
	width:12px
}
.startpage.slider-controls span.active,.startpage.slider-controls span:hover{
	background-color:#00c0a6
}
.startpage.software-content img{
	display:none;
	position:static;
	top:0;
	-ms-transform:none;
	transform:none;
	width:100%
}
.bottom-page.st-special-pad{
	padding-top:118px
}
.startpage.default-controls,.startpage.software-controls{
	display:none;
	padding:48px 0 0;
	white-space:nowrap
}
.startpage.nav-button{
	background-color:#fff;
	background:#fff;
	background:-moz-linear-gradient(top, #fff 0, #fafafa 100%);
	background:-webkit-linear-gradient(top, #fff, #fafafa);
	background:linear-gradient(180deg, #fff 0, #fafafa);
	border-radius:100%;
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .15);
	cursor:pointer;
	display:inline-block;
	height:32px;
	margin:0 18px;
	position:relative;
	vertical-align:top;
	width:32px
}
.startpage.nav-button:before{
	border-radius:100%;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .05);
	content:"";
	display:block;
	height:100%;
	position:absolute;
	width:100%
}
.startpage.nav-button i{
	background-position:-220px -650px;
	display:block;
	height:32px;
	opacity:.5;
	width:32px
}
.startpage.nav-button.next i{
	background-position:-190px -610px
}
.startpage.default-controls span,.startpage.software-controls span{
	background-color:#666;
	border:4px solid #fff;
	border-radius:100%;
	box-sizing:border-box;
	cursor:pointer;
	display:inline-block;
	height:14px;
	margin:9px 0;
	opacity:.3;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out;
	width:14px
}
.startpage.default-controls span.active,.startpage.software-controls span.active{
	opacity:1
}
.startpage.features{
	border-collapse:initial;
	border-spacing:20px;
	box-sizing:border-box;
	display:table;
	margin:59px 0 0;
	table-layout:fixed;
	text-align:left;
	width:100%
}
.startpage.features-block{
	background-color:hsla(0, 0%, 100%, .5);
	border-radius:4px;
	box-shadow:inset 0 0 0 1px #e3e3e3;
	cursor:default;
	display:table-cell;
	overflow:hidden;
	-webkit-transition:transform .5s ease-in-out,box-shadow .5s ease-in-out;
	transition:transform .5s ease-in-out,box-shadow .5s ease-in-out;
	width:25%
}
.startpage.features-block:hover{
	box-shadow:inset 0 0 0 1px #00c0a6;
	-webkit-transform:scale(1.072);
	-moz-transform:scale(1.072);
	-o-transform:scale(1.072);
	-ms-transform:scale(1.072);
	transform:scale(1.072)
}
.startpage.features-block.orange:hover{
	box-shadow:inset 0 0 0 1px #ffc06b
}
.startpage.features-block.red:hover{
	box-shadow:inset 0 0 0 1px #f97a75
}
.startpage.features-block.blue:hover{
	box-shadow:inset 0 0 0 1px #4898e8
}
.startpage.features-header{
	background-color:#00c0a6;
	background-position:center -809px;
	height:192px
}
.orange .startpage.features-header{
	background-color:#ffc06b;
	background-position:center -996px
}
.red .startpage.features-header{
	background-color:#f97a75;
	background-position:center -1621px
}
.blue .startpage.features-header{
	background-color:#4898e8;
	background-position:center -1851px
}
.startpage.features-content{
	color:#373737;
	font-size:16px;
	line-height:24px;
	padding:20px 20px 32px
}
.startpage.features-content a,.startpage.features-content a:visited{
	color:#373737
}
.startpage.features-content span{
	display:block
}
.startpage.features-content .head{
	color:#000;
	font-family:montserrat,Arial;
	font-size:24px;
	line-height:30px;
	padding:2px 0 8px;
	-webkit-transition:color .5s ease-in-out;
	transition:color .5s ease-in-out
}
.startpage.features-block:hover .head{
	color:#00c0a6
}
.startpage.features-block.orange:hover .head{
	color:#ffc06b
}
.startpage.features-block.red:hover .head{
	color:#f97a75
}
.startpage.features-block.blue:hover .head{
	color:#4898e8
}
.startpage.separator{
	display:none
}
@media only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
.bottom-menu .logo,.bottom-page.big-icon,.flip-bg,.pages-nav.nav-icon,.small-red-link i,.startpage-sprite,.startpage.carousel-control,.startpage.medium-icon,.startpage.mid-icon,.startpage.os-icons,.startpage.quote-icon,.startpage.rating-block span,.startpage.scroll-to-top,.startpage.small-icon,.top-arrow-icon,i.startpage-sprite{
	background-image:url(../imagery/mega-startpage-sprite-2x.6318a1a4ac299267.png) !important;
	background-size:267px auto
}
.bottom-page.large-icon,.cropped-page .bottom-page.big-icon{
	background-image:url(../imagery/mega-new-pages-sprite-2x.c85c76b3eb45e9d7.png);
	background-size:376px auto
}
}
@media only screen and (min-width:1040px){
.bottom-page.compare-block{
	margin:40px 0 0
}
.bottom-page.compare-block.big{
	border-radius:13px;
	margin:0 40px;
	padding-top:31px;
	width:340px
}
.compare-block.big .page-icon.x48{
	background-position:-8px -469px;
	background-size:267px auto;
	height:62px;
	width:62px
}
.big .bottom-page.compare-head{
	font-size:21px;
	line-height:25px;
	padding:16px 0 0
}
.de .big .bottom-page.compare-feature span,.th .big .bottom-page.compare-feature span{
	font-size:16px
}
.big .bottom-page.compare-price{
	font-size:34px;
	line-height:75px;
	padding:16px 0 0
}
.big .bottom-page.compare-price span{
	font-size:62px
}
.big .bottom-page.compare-price i{
	font-size:18px;
	margin:-15px -10px 0 5px
}
.big .bottom-page.compare-time{
	font-size:21px;
	line-height:25px;
	margin-top:-9px;
	padding:0 0 31px
}
.big .bottom-page.compare-tip{
	font-size:15px;
	line-height:18px;
	padding:23px 15px
}
.big .bottom-page.compare-mark{
	font-size:12px;
	line-height:20px;
	right:28px;
	width:62px
}
.big .bottom-page.compare-mark span{
	font-size:22px;
	line-height:22px
}
.big .bottom-page.compare-mark i{
	background-position:-3px -663px;
	background-size:267px auto;
	height:20px
}
}
@media only screen and (max-width:1200px){
.startpage.separator{
	display:table-row
}
.startpage.features{
	display:block;
	margin:59px auto 0;
	width:600px
}
.startpage.features-block{
	width:50%
}
}
@media only screen and (max-width:1140px){
.startpage.img-wrap:before{
	display:none
}
.bottom-page.banner-control{
	left:10px
}
.bottom-page.banner-control.next{
	left:auto;
	right:10px
}
}
@media only screen and (max-width:1040px){
.startpage.software-header{
	font-size:20px;
	margin-left:44px;
	padding:9px 0 7px
}
.startpage.software-header i{
	left:-44px;
	top:5px
}
.startpage.software-txt{
	padding:0 0 0 44px
}
.startpage.software-txt a,.startpage.software-txt a:visited,.startpage.software-txt span{
	font-size:16px
}
.startpage.software-content{
	padding-left:34px
}
}
@media only screen and (max-width:1020px){
.startpage.carousel-slide{
	width:60%
}
.startpage.carousel-slide.current{
	left:20%
}
.startpage.carousel-slide.next{
	left:40%
}
.startpage.carousel-control{
	left:20px
}
.startpage.carousel-control.next{
	right:20px
}
}
@media only screen and (max-width:920px){
.bottom-page.compare-block,.bottom-page.compare-block.big{
	display:block;
	margin:40px auto 0;
	max-width:262px;
	width:auto
}
.bottom-page.compare{
	padding-top:0
}
.bottom-page.compare-txt{
	padding:50px 0 0
}
}
@media only screen and (max-width:880px){
.bottom-page.top-banner.banner2{
	padding-bottom:20px
}
}
@media only screen and (max-width:783px){
.startpage .bottom-page.half-sized-cell.mid-width{
	margin:0 auto;
	max-width:450px;
	padding:0
}
.startpage.counters{
	padding:18px 10px 12px
}
.startpage .bottom-page.left-cell,.startpage .bottom-page.right-cell{
	display:block;
	text-align:center;
	width:100%
}
.startpage.top-header{
	font-size:36px;
	line-height:48px;
	padding:70px 40px 32px
}
.startpage .affiliate-page.top-header{
	font-size:36px;
	line-height:48px;
	padding:70px 0 32px
}
.startpage.img-wrap{
	line-height:0;
	margin-top:0;
	position:relative
}
.startpage.top-notice{
	margin:0;
	padding:0 40px 22px
}
.startpage.img2-progress{
	background-color:initial;
	background-image:url(../images/mega/bottom-page/start_img2-1@2x.png?v=92943b6f6512bc37);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:100% auto;
	bottom:0;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.startpage.img2-progress.pr2,.startpage.img2-progress span{
	display:none
}
.startpage-download{
	display:block;
	margin:68px 0 0
}
.startpage.img4{
	width:100%
}
.startpage-chat-img{
	display:block;
	margin:68px 25px 20px;
	position:relative
}
.startpage-chat-content,.startpage-chat-content span{
	background-image:url(../images/mega/bottom-page/start_img4-1@2x.png?v=5596d318976a1e5c);
	background-size:100% auto;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%
}
.startpage-chat-content span{
	display:none
}
.startpage.img2{
	margin:0;
	width:100%
}
.startpage .bottom-page.table.changed-order .left-cell,.startpage .bottom-page.table.changed-order .right-cell{
	height:auto;
	max-width:none;
	width:100%
}
.startpage .bottom-page.right-cell .img-description.mid-width{
	padding-left:0
}
.startpage .bottom-page.table.changed-order .order2{
	display:block
}
.startpage .bottom-page.table.changed-order .order1{
	display:none
}
.bottom-page.angle-pad{
	padding-top:100px
}
.startpage.img3{
	margin:60px -40px 0 0;
	width:120%
}
.startpage .bottom-page.grey-angle-bg{
	display:none
}
.startpage.img5{
	display:block;
	float:none;
	margin:26px 0 0 15px;
	width:100%
}
.startpage.carousel-slide{
	width:70%
}
.startpage.carousel-slide.current{
	left:15%
}
.startpage.carousel-slide.next{
	left:30%
}
.startpage.carousel-slide.next,.startpage.carousel-slide.prev{
	top:0
}
.startpage.italic-text{
	font-size:14px
}
.affiliate-page.top-banner .bottom-page.top-bl{
	margin-bottom:60px
}
.startpage.software-cell{
	display:block;
	width:auto
}
.startpage.software{
	display:block;
	margin-top:33px
}
.startpage.software-cell.imgs,.startpage.software-header i{
	display:none
}
.startpage.software-content{
	height:0;
	opacity:0;
	overflow:hidden;
	padding-left:0;
	text-align:center;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out
}
.startpage.software-content.expanded{
	height:auto;
	opacity:1;
	overflow:visible
}
.expanded .startpage.software-header,.expanded .startpage.software-header:first-child{
	border-bottom:3px solid #00c0a6;
	border-top:0;
	color:#373737;
	font-family:montserrat,Arial;
	margin-left:0;
	padding:9px 0 5px
}
.startpage.software-txt{
	padding:0
}
.startpage.software-txt a,.startpage.software-txt a:visited,.startpage.software-txt span{
	font-family:LatoWeb,Arial;
	font-size:14px;
	line-height:21px
}
.startpage.software-txt span{
	margin:0 auto;
	padding:40px 0 16px
}
.startpage.software-txt a.icons{
	display:none
}
.startpage.software-content img{
	display:block;
	margin:46px auto 0;
	max-height:240px;
	max-width:100%;
	width:auto
}
.startpage.software-cell img.desktop{
	width:auto
}
.bottom-page.st-special-pad{
	padding-top:37px
}
.startpage.software-controls{
	display:inline-block
}
}
@media only screen and (max-width:680px){
.startpage.features{
	border-spacing:0;
	margin:0;
	width:auto
}
.startpage.features-block{
	display:block;
	margin:54px auto 0;
	max-width:280px;
	width:auto
}
}
@media only screen and (max-width:640px){
.startpage .bottom-page.big-header.small-pad{
	padding-top:0
}
.startpage.button-48-height{
	margin:0 5px
}
.startpage.buttons-block{
	padding:40px 0 20px
}
.startpage.button-48-height{
	margin:5px
}
}
@media only screen and (max-width:565px){
.startpage.img1{
	margin:0 -20%;
	width:140%
}
.affiliate.img-wrap img{
	margin:0 -30%;
	width:160%
}
.startpage.flip-wrapper{
	margin:0 -43px;
	padding:12px 0 32px
}
.startpage.top-header{
	font-size:26px;
	line-height:38px;
	padding:60px 24px 32px
}
.startpage .affiliate-page.top-header{
	font-size:26px;
	line-height:38px;
	padding:60px 0 32px
}
.startpage .bottom-page.big-header{
	font-size:26px;
	line-height:38px
}
.startpage.carousel-control{
	left:-10px;
	margin-top:-16px
}
.startpage.carousel-control.next{
	left:auto;
	right:-10px
}
.startpage.carousel{
	height:auto
}
.startpage.carousel-slide{
	left:0;
	width:100%
}
.startpage.carousel-slide.current{
	left:0;
	opacity:1;
	position:static;
	width:100%
}
.startpage.carousel-slide.next,.startpage.carousel-slide.prev{
	left:0;
	opacity:0
}
.bottom-page.banner-control{
	left:5px
}
.bottom-page.banner-control.next{
	left:auto;
	right:5px
}
.bottom-page.compare-txt{
	font-size:14px;
	line-height:17px;
	padding:24px 0 0
}
.bottom-page.compare-txt a{
	display:block
}
.bottom-page.st-special-pad{
	padding-top:37px
}
.startpage.software-content img{
	margin-top:20px;
	max-height:200px
}
.expanded .startpage.software-txt{
	min-height:170px
}
.startpage.features-content .head{
	font-size:20px
}
.startpage.features-content{
	font-size:14px;
	line-height:21px
}
}
@media only screen and (max-width:420px){
.startpage .affiliate-page.top-header,.startpage .bottom-page.big-header,.startpage.top-header{
	font-size:20px;
	line-height:28px
}
.startpage .mid-green-link,.startpage .mid-green-link.small,.startpage.top-info{
	font-size:14px;
	line-height:18px
}
.startpage.top-info strong{
	font-size:14px
}
.bottom-page.angle-pad{
	padding-top:100px
}
.startpage.img3{
	margin:60px -30px -30px 0
}
.startpage .bottom-page.grey-angle-bg{
	background-position:center 20px
}
.flip-bg,.flip-block{
	font-size:20px;
	height:32px;
	line-height:32px;
	width:20px
}
.startpage .bottom-page.mid-header,.startpage .bottom-page.small-info{
	font-size:14px
}
.startpage .bottom-page.small-info{
	padding:20px 0 0
}
.startpage-download{
	margin:40px 0 0
}
.startpage.img3{
	margin:20px -30px -40px 0
}
.startpage.flip-wrapper{
	padding:0
}
.startpage-chat-img{
	margin-bottom:10px
}
.bottom-page.banner-control{
	top:430px
}
.expanded .startpage.software-txt{
	min-height:190px
}
.startpage.software-content img{
	margin-top:0;
	max-height:150px
}
.startpage .bottom-page.big-header.small-pad{
	padding-bottom:0
}
}
@media only screen and (max-width:320px){
.startpage.software-content img{
	max-height:138px
}
.bottom-page.top-banner.banner2{
	padding-bottom:0
}
}

