.top-menu-popup{
	background-color:var(--surface-main);
	box-shadow:0 0 0 1px var(--stroke-grey-2);
	box-sizing:border-box;
	font-size:0;
	height:100%;
	line-height:0;
	opacity:1;
	position:fixed;
	right:0;
	top:0;
	transition:right .2s ease-in-out,left .2s ease-in-out,width .2s ease-in-out,opacity .2s ease-in-out;
	width:256px;
	z-index:1120
}
.top-menu-popup.hidden{
	display:block !important;
	opacity:0;
	right:-257px
}
.rtl.top-menu-popup{
	left:0;
	right:auto
}
.rtl.top-menu-popup.hidden{
	left:-257px
}
.mobile.top-menu-popup.hidden{
	display:block !important;
	width:0
}
.mobile .top-menu-scroll{
	-webkit-overflow-scrolling:touch;
	overflow:scroll
}
.top-menu-scroll{
	height:calc(100% - 42px);
	margin-top:42px;
	position:relative
}
.top-menu-content{
	padding:0 20px 20px
}
.top-menu-item{
	align-items:center;
	border-radius:4px;
	box-sizing:border-box;
	color:var(--text-color-high);
	cursor:pointer;
	display:inline-flex;
	margin:10px 0;
	position:relative;
	transition:var(--transition-color), var(--transition-bg-color);
	width:100%
}
.top-menu-item span{
	flex-grow:1;
	font:var(--text-h3-bold);
	padding:4px 0
}
.top-menu-item.small-font span{
	font:var(--text-body1-bold)
}
.top-menu-item.underlined{
	margin-bottom:0
}
.top-menu-item.underlined span{
	font:var(--text-body1);
	text-decoration:underline
}
.top-menu-popup i{
	--icon-size:24px;
	--mask-color:var(--icon-active);
	display:inline-block
}
.top-menu-item i{
	-webkit-margin-end:14px;
	margin:4px;
	margin-inline-end:14px
}
.top-menu-item span~i{
	--icon-size:16px;
	--mask-color:var(--icon-active);
	-webkit-margin-start:0;
	margin:0 4px;
	margin-inline-start:0
}
.top-menu-item.underlined i{
	-webkit-margin-end:4px;
	margin-inline-end:4px
}
.top-menu-item i.x32{
	--icon-size:32px;
	-webkit-margin-end:8px;
	margin:0 2px;
	margin-inline-end:8px
}
.expanded.top-menu-item i.right-arrow,.top-menu-item i.right-arrow.down{
	transform:rotate(90deg)
}
.top-menu-popup i.close{
	cursor:pointer;
	position:absolute;
	right:12px;
	top:12px;
	z-index:1
}
.rtl .top-menu-popup i.close{
	left:12px;
	right:auto
}
.top-menu-divider{
	background-color:var(--surface-grey-2);
	display:inline-flex;
	height:1px;
	margin:10px 0;
	width:100%
}
.top-menu-item.single{
	margin:2px 0
}
.top-menu-item.single span{
	-webkit-padding-end:14px;
	flex-grow:0;
	padding-inline-end:14px
}
.top-submenu{
	margin:0;
	max-height:0;
	min-height:0;
	opacity:0;
	overflow:hidden;
	transition:max-height .2s ease-in-out,opacity .2s ease-in-out,padding .2s ease-in-out
}
.submenu-item.expanded+.top-submenu{
	max-height:520px;
	opacity:1
}
.top-submenu .top-menu-item{
	-webkit-padding-start:42px;
	color:var(--text-color-medium);
	font:var(--text-body1);
	margin:0;
	padding:6px 10px;
	padding-inline-start:42px
}
.top-submenu .top-menu-item.active{
	background-color:var(--button-hover);
	color:var(--text-color-high)
}
.fm-products-nav .pages-menu.body{
	background-color:var(--surface-main);
	border-top:1px solid var(--surface-grey-2);
	margin-top:0;
	min-width:100%;
	z-index:140
}
@media (hover:hover){
.top-menu-item.small:hover span{
	text-decoration:none
}
.top-submenu .top-menu-item:hover{
	background-color:var(--button-hover);
	color:var(--text-color-high)
}
}
.top-social-bl{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:6px 6px 0
}
.top-social-txt{
	color:var(--text-color-high);
	font:var(--text-body1-bold);
	padding-bottom:20px;
	width:100%
}
.top-social-button{
	background-color:#f4f4f5;
	border-radius:4px;
	cursor:pointer;
	display:inline-block;
	display:block
}
.top-social-button i{
	height:24px;
	width:24px
}
.top-menu-footer{
	align-items:center;
	display:flex;
	justify-content:space-between;
	padding:24px 6px 6px
}
.top-mega-version{
	color:var(--text-color-low);
	font:var(--text-body1-bold)
}
.top-menu-account-info{
	align-items:center;
	display:flex
}
.top-menu-logged .avatar-block{
	cursor:pointer;
	flex-grow:0;
	margin:0 6px;
	position:relative
}
.top-menu-logged .activity-status-block{
	margin:0;
	position:absolute;
	right:-2px;
	top:-2px
}
.top-menu-logged .hidden+.activity-status-block{
	display:none
}
.top-menu-logged .user-info{
	cursor:pointer;
	line-height:18px;
	overflow:hidden;
	padding:0 6px;
	white-space:nowrap
}
.top-menu-logged .user-info .name{
	color:var(--text-color-higher);
	font:var(--text-h3);
	font-family:var(--text-font-family-bold);
	line-height:inherit;
	overflow:hidden;
	text-overflow:ellipsis
}
.top-menu-logged .user-info .email{
	color:var(--text-color-medium);
	font:var(--text-body1);
	line-height:inherit;
	overflow:hidden;
	text-overflow:ellipsis
}
.top-menu-logged .plan{
	color:var(--text-color-high);
	font:var(--text-body1);
	padding:24px 6px 2px
}
.top-menu-logged .storage{
	background:var(--progress-bar-background);
	border-radius:3px;
	height:6px;
	margin:0 6px 6px;
	position:relative
}
.top-menu-logged .loader.loading+.storage-txt{
	visibility:hidden
}
.top-menu-logged .storage-txt{
	box-sizing:border-box;
	color:var(--text-color-high);
	font:var(--text-body2);
	min-height:30px;
	padding:0 6px 12px;
	position:relative
}
.top-menu-logged .storage-txt span{
	color:var(--text-color-success);
	font-family:var(--text-font-family-semibold)
}
.top-menu-logged .storage span{
	background:var(--stroke-success);
	border-radius:inherit;
	display:block;
	height:6px;
	max-width:100%;
	position:absolute;
	vertical-align:top
}
.top-menu-logged.going-out .storage span{
	background:var(--surface-warning)
}
.top-menu-logged.going-out .storage-txt span{
	color:var(--text-color-warning)
}
.top-menu-logged.exceeded .storage span{
	background:var(--surface-error)
}
.top-menu-logged.exceeded .storage-txt span{
	color:var(--text-color-error)
}
.top-menu-logged button{
	margin:0 6px 6px
}
.top-menu-logged .loader{
	height:16px;
	margin:0 6px;
	opacity:0;
	position:absolute;
	width:16px
}
.top-menu-logged .loader.loading{
	-webkit-animation:rotate 2.5s linear infinite;
	animation:rotate 2.5s linear infinite;
	opacity:1
}
.pages-menu.body{
	background-color:var(--surface-main);
	box-sizing:border-box;
	font-size:0;
	line-height:0;
	margin-top:48px;
	position:absolute;
	text-align:center;
	-webkit-transition:top .6s ease-in-out;
	transition:top .6s ease-in-out;
	white-space:nowrap;
	width:100%;
	z-index:190
}
.download .pages-menu.body{
	bottom:0
}
.download .pages-menu.body,.pages-menu.body.floating{
	box-shadow:0 1px 0 0 rgba(0, 0, 0, .1)
}
.pages-menu.body.floating{
	bottom:auto;
	position:fixed;
	top:-126px;
	z-index:190
}
.pages-menu.body.floating.activated{
	top:0
}
.pages-menu.content{
	padding:0
}
.pages-menu.link:not(.hidden){
	align-items:center;
	cursor:pointer;
	display:inline-flex;
	justify-content:center;
	margin:12px 0;
	padding:10px 24px
}
.pages-menu.link span{
	color:var(--text-color-high);
	display:inline-block;
	font-family:var(--text-font-family-semibold);
	font-size:18px;
	line-height:24px;
	padding:0 30px;
	transition:color .2s ease-in-out
}
.pages-menu.link i{
	--mask-color:var(--text-color-higher);
	display:none;
	margin:2px 0 0 -30px;
	transition:transform .2s ease-in-out
}
.pages-menu.link.active i{
	transform:rotate(-180deg)
}
.pages-menu.submenu-item i{
	--icon-size:24px;
	--mask-color:var(--icon-active);
	display:inline-block
}
.pages-menu.submenu{
	background-color:var(--surface-main);
	border-radius:8px;
	box-shadow:var(--dropdown-shadow);
	height:0;
	opacity:0;
	overflow:hidden;
	position:absolute;
	transition:opacity .2s ease-in-out;
	white-space:nowrap;
	z-index:10
}
.pages-menu.submenu.active{
	height:auto;
	margin:10px;
	opacity:1;
	overflow:visible;
	padding:5px 0
}
.pages-menu.submenu .half-sized{
	display:inline-block;
	float:none;
	min-width:50%;
	vertical-align:top;
	width:auto
}
.pages-menu.submenu-link{
	display:block;
	margin:22px 20px;
	min-width:170px;
	position:relative;
	text-align:left
}
.pages-menu.submenu-link.hidden{
	display:none
}
.pages-menu.submenu-link i{
	background-color:grey;
	border-radius:100%;
	height:32px;
	left:0;
	position:absolute;
	top:0;
	width:32px
}
.pages-menu.submenu-link span{
	color:var(--text-color-high);
	display:block;
	font-family:var(--text-font-family);
	font-size:18px;
	line-height:24px;
	padding:4px 0 3px 45px;
	text-align:start
}
.menus-sprite.rounded.sync{
	background-color:#00a8e1;
	background-position:5px -97px
}
.menus-sprite.rounded.mobile{
	background-color:#00c1a5;
	background-position:-45px -97px
}
.menus-sprite.rounded.uwp{
	background-color:#ed5564;
	background-position:-95px -97px
}
.menus-sprite.rounded.cmd{
	background-color:#ab58f5;
	background-position:-145px -98px
}
.menus-sprite.rounded.bird{
	background-color:#ab58f5;
	background-position:-45px -148px
}
.menus-sprite.rounded.ext{
	background-color:#ffa700;
	background-position:6px -149px
}
.menus-sprite.rounded.nas{
	background-color:#00a8e1;
	background-position:-95px -148px
}
.menus-sprite.rounded.storage{
	background-color:#00c1a5;
	background-position:-145px -148px
}
.menus-sprite.rounded.encryption{
	background-color:#4a90e2;
	background-position:-195px -148px
}
.menus-sprite.rounded.securechat{
	background-color:#ed5564;
	background-position:6px -197px
}
.menus-sprite.rounded.backup{
	background-color:#00a8e1;
	background-position:-45px -199px
}
.menus-sprite.rounded.share{
	background-color:#ffa700;
	background-position:-95px -198px
}
.top-menu-logged.business-acc .storage{
	display:none
}
.menus-sprite,i.menus-sprite{
	background-image:url(../imagery/mega-menus-sprite.eaec5ae012c3546e.png);
	background-repeat:no-repeat
}
@media only screen and (max-width:1240px){
.fr .pages-menu.link span{
	font-size:12px
}
}
@media only screen and (max-width:970px){
.pages-menu.link span{
	padding:0 15px
}
.pages-menu.link i{
	margin-left:-15px
}
}
@media only screen and (max-width:780px){
.fr .pages-menu.link span{
	font-size:11px;
	padding:0 5px
}
.fr .pages-menu.link.submenu-item span{
	padding:0 15px 0 5px
}
}
@media only screen and (max-width:702px){
.pages-menu.link span{
	font-size:14px;
	min-width:0
}
}
@media only screen and (max-width:625px){
.pages-menu.body{
	display:none
}
}
@media only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
.menus-sprite,i.menus-sprite{
	background-image:url(../imagery/mega-menus-sprite-2x.f0432820142fc588.png);
	background-size:223px auto
}
}

